<div data-bs-toggle="tooltip"
     data-bs-placement="top"
     title=""
     style="width: 14px; height: 14px; margin-left: 6px;"
     class="d-flex justify-content-center align-items-center"
     data-controller="timezone"
>
  <img alt="info icon" src="<%= image_url('info-icon.png') %>" width="14" height="14">
</div>