<div class="downloads--progress-container invisible"
  data-downloads-target="downloadCompleteCard"
>
  <div class="downloads--icon-container">
    <%= image_tag image_url('checkmark-blue-icon.png'), width: 24, height: 24 %>
  </div>
  <div class="downloads--text-container">
    <h4 class="forms--label wrap">Your measurements are ready!</h4>
    <span class="additional-text wrap">Your download should start in a few moments.</span>
  </div>
</div>