<div class="downloads--progress-container invisible"
  data-downloads-target="downloadErrorCard"
>
  <div class="downloads--icon-container" data-error="true">
    <%= image_tag image_url('alert-error-icon.png'), width: 24, height: 24 %>
  </div>
  <div class="downloads--text-container">
    <h4 class="forms--label wrap">There was an error processing your measurements!</h4>
    <span class="additional-text wrap">Please try again later.</span>
  </div>
</div>