@import "colors";

.custom-alert {
  width: max-content;
  padding: 1rem;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 5;
  background-color: $alert--primary-background-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;

  &.custom-alert--danger {
    background-color: $alert--danger-background-color;
  }

  h4 {
    color: $alert--primary-color !important;

    &.alert--text-danger {
      color: $alert--danger-color !important;
    }
  }
}