@import "colors";

.custom-alert {
  width: max-content;
  max-width: 700px;
  padding: 1rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 100;
  background-color: $alert--primary-background-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;

  &.custom-alert--danger {
    background-color: $alert--danger-background-color;
  }

  h4 {
    color: $alert--primary-color !important;

    &.alert--text-danger {
      color: $alert--danger-color !important;
    }
  }
}

@media (max-width: 768px) {
  .custom-alert {
    width: calc(100vw - 32px);
    padding: 1rem;
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    z-index: 5;
    background-color: $alert--primary-background-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
  }
}