@import "colors";
@import "text";

.custom-button {
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-variation-settings: 'wght' $bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: max-content;
}

.custom-button--primary {
  background-color: $blue;
  color: $white;
  box-shadow: 0 2px 10px -2px $primary-button--box-shadow;
}

.custom-button--primary:hover:not(.custom-button--disabled),
.custom-button--primary:active:not(.custom-button--disabled) {
  color: $white;
  background-color: $primary-button--hover;
}

.custom-button--secondary {
  background-color: $secondary-button--background-color;
  color: $dark-gray;
  box-shadow: 0 2px 15px -2px $secondary-button--box-shadow;
}

.custom-button--secondary:hover:not(.custom-button--disabled),
.custom-button--secondary:active:not(.custom-button--disabled) {
  color: $dark-gray;
  background-color: $subtle-gray;
}

.custom-button--secondary-light {
  background-color: $white;
  color: $dark-gray;
  box-shadow: 0 2px 10px -2px $secondary-light-button--box-shadow;
}

.custom-button--secondary-light:hover:not(.custom-button--disabled),
.custom-button--secondary-light:active:not(.custom-button--disabled) {
  color: $gray;
}


.custom-button--secondary-light-danger {
  background-color: $secondary-light-danger--background-color;
  color: $danger;
  box-shadow: 0 2px 4px -2px $secondary-light-danger--box-shadow;
}

.custom-button--secondary-light-danger:hover:not(.custom-button--disabled),
.custom-button--secondary-light-danger:active:not(.custom-button--disabled) {
  color: $danger;
}

.custom-button--disabled {
  opacity: 50%;
  cursor: default;
  text-decoration: none;

  &.custom-button--primary {
    color: $white;
  }

  &.custom-button--secondary,
  &.custom-button--secondary-light {
    color: $dark-gray;
  }
}

.custom-button--lg {
  padding: 12px 24px;
}

.custom-button--sm {
  padding: 12px 16px;
}

.custom-button--xs {
  padding: 4px 6px;
}

.custom-button--icon {
  width: 16px;
  height: 16px;

  &.custom-button--icon-start {
    margin-right: 8px;
  }

  &.custom-button--icon-end {
    margin-left: 8px;
  }
}

.custom-close-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
}