// General
$white: #fff;
$black: #000;
$error-red: #e54b4b;
$danger: #f1416c;
$success-green: #50cd89;
$success-green: #50cd89;
$circular-icon-container-gray: #ecf2fc;

// Primaries
$blue: #4b7be5;
$deep-blue: #110e4c;
$avatar-blue: rgba(75, 123, 229, 0.2);
$avatar-dash-blue: rgba(75, 123, 229, 0.5);

// Secondaries
$gray: #6d6a94;
$light-gray: #a09fb7;
$dark-gray: #3f3c70;
$subtle-gray: #f6f7fa;
$mid-light-gray: #bcbbc7;
$title-gray : #8e8cb1;
$icon-container-gray: #ebeef5;

// Buttons
$primary-button--box-shadow: #4b7be550;
$primary-button--hover: #5789f6;
$secondary-button--background-color: #bcbbc725;
$secondary-button--box-shadow: #a09fb715;
$secondary-light-button--box-shadow: #a09fb720;
$secondary-light-danger--background-color: rgba(241, 65, 108, 0.1);
$secondary-light-danger--box-shadow: rgba(241, 65, 108, 0.35);

// Badges
$badge--green-color: #31b36c;
$badge--green-background-color: rgba(49, 179, 108, 0.1);
$badge--red-color: #f1416c;
$badge--red-background-color: rgba(241, 65, 108, 0.1);
$badge--gray-color: $gray;
$badge--gray-background-color: $subtle-gray;
$badge--blue-color: $blue;
$badge--blue-background-color: rgba(75, 123, 229, 0.1);
$badge--orange-color: #f18f41;
$badge--orange-background-color: rgba(241, 143, 65, 0.1);

// Alerts
$alerts--box-shadow: rgba(0, 0, 0, 0.18);
$alert--primary-background-color: #272730;
$alert--primary-color: #fff;
$alert--error-background-color: #feecf0;
$alert--error-color: $deep-blue;
$alert--error-border-color: rgba(229, 75, 75, 0.3);
$alert--error-icon-container-background-color: rgba(229, 75, 75, 0.7);
$alert--success-background-color: #ebf8f0;
$alert--success-color: $deep-blue;
$alert--success-border-color: rgba(49, 179, 108, 0.3);
$alert--success-icon-container-background-color: rgba(49, 179, 108, 0.7);

// Badges
$badge--green-color: #31b36c;
$badge--green-background-color: rgba(49, 179, 108, 0.1);
$badge--red-color: #f1416c;
$badge--red-background-color: rgba(241, 65, 108, 0.1);
$badge--gray-color: $gray;
$badge--gray-background-color: $subtle-gray;
$badge--blue-color: $blue;
$badge--blue-background-color: rgba(75, 123, 229, 0.1);
$badge--orange-color: #f18f41;
$badge--orange-background-color: rgba(241, 143, 65, 0.1);

// Sidebar
$sidebar--main-container-border: rgba(188, 187, 199, 0.1);
$sidebar--main-container-box-shadow: rgba(188, 187, 199, 0.15);
$sidebar--horizontal-divider-background-color: rgba(188, 187, 199, 0.25);
$sidebar--accounts-item-outline: rgba(188, 187, 199, 0.3);
$sidebar--accounts-item-box-shadow: rgba(160, 159, 183, 0.35);
$sidebar--accounts-options-box-shadow: rgba(160, 159, 183, 0.4);
$sidebar--search-panel-box-shadow: rgba(160, 159, 183, 0.25);
$sidebar--vertical-divider-background-color: rgba(17, 14, 76, 0.1);
$sidebar--initial-box-background-color: rgba(109, 106, 148, 0.1);
$sidebar--underlay-background-color: rgba(35, 34, 52, 0.5);

// Snackbar
$snackbar--danger-background-color: rgba(250, 176, 176, 0.2);
$snackbar--danger-color: #e54b4b;
$snackbar--notice-background-color: rgba(75, 123, 229, 0.2);
$snackbar--notice-color: $blue;
$snackbar--warning-background-color: rgba(245, 134, 0, 0.1);
$snackbar--warning-color: #f58600;

// Tables
$table--even-row-background-color: rgba(85, 51, 165, 0.2);
$table--odd-row-background-color: rgba(229, 101, 187, 0.2);
$table--invitee-row-background-color: rgba(188, 187, 199, 0.05);
$table--even-row-color: #5533a5;
$table--odd-row-color: #e565bb;
$table--invitee-row-color: rgba(188, 187, 199, 0.05);

// Dashboard
$dashboard--no-accounts-card-box-shadow: rgba(160, 159, 183, 0.15);

// Widgets
$widget--border-color: rgba(188, 187, 199, 0.1);
$widget--box-shadow: rgba(160, 159, 183, 0.15);

// Modals
$modals--underlay-background-color: rgba(35, 34, 52, 0.5);

.transparent {
  background-color: transparent;
}