@import "colors";
@import "text";

.forms--label {
  font-size: 0.875rem;
  letter-spacing: 0;
  color: $deep-blue;
  font-variation-settings: 'wght' $bold;
  margin-bottom: 0;
}

.forms--label-selected {
  font-size: 0.875rem;
  letter-spacing: 0;
  color: $blue;
  font-variation-settings: 'wght' $bold;
  margin-bottom: 0;
}

.forms--label-hoverable:hover {
  color: $blue;
}

.forms--checkbox {
  width: 30px !important;
  height: 20px !important;
}

.forms--input-group {
  width: 100% !important;
  position: relative;
}

.forms--text-input {
  padding: 10px 16px !important;
  height: 40px !important;
  background-color: $subtle-gray !important;
  border-radius: 6px !important;
  font-variation-settings: 'wght' $medium !important;
  font-size: 0.938rem !important;
  line-height: 1.25rem;
  color: $deep-blue !important;
}

.forms--text-input::placeholder {
  color: $mid-light-gray !important;
}

.forms--text-input::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.forms--text-input::after {
  width: 10px;
  height: 10px;
  background-color: black;
}

.forms--input-decoration {
  height: 40px !important;
  width: 40px !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 0.85rem;
  color: $gray;
  font-variation-settings: 'wght' $medium;
}

.forms--text-input-with-decoration {
  padding-right: 50px !important;
}

.forms--select {
  padding: 10px 16px !important;
  height: 40px !important;
  background-color: $subtle-gray !important;
  border-radius: 6px !important;
  font-variation-settings: 'wght' $medium !important;
  font-size: 0.938rem !important;
  line-height: 1.25rem;
  color: $deep-blue !important;
}

.forms--row {
  margin-bottom: 16px;
}