@import "colors";
@import "text";

.forms--label-selected {
  font-size: 0.875rem;
  letter-spacing: 0;
  color: $blue;
  font-variation-settings: 'wght' $bold;
  margin-bottom: 0;
}

.forms--label-hoverable:hover {
  color: $blue;
}

.forms--text-input::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.forms--text-input::after {
  width: 10px;
  height: 10px;
  background-color: black;
}

.forms--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-image: url("arrow-down-dark.png");
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: center;
  background-size: 1rem;

  &:focus,
  &:active {
    outline: solid 2px $blue;
  }

  &.disabled {
    background-color: $subtle-gray;
    color: $gray;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.forms--input-decoration {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 0.85rem;
  color: $gray;
  font-variation-settings: 'wght' $medium;
  padding: 5px;
  border: none;

  &.forms--input-decoration-clickable:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  &[data-size="small"] {
    top: .75rem;
    right: 1rem;
  }

  &[data-x-translate="true"] {
    right: 2.75rem;
  }

  * {
    pointer-events: none;
  }
}

.forms--row {
  margin-bottom: 16px;
}

.forms--radio-input {
  accent-color: $blue;
  width: 1.125rem;
  aspect-ratio: 1;
  background-color: transparent;
}