@import "colors";

.align-right {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.align-left {
  text-align: left;
  margin-right: auto;
  margin-left: 0;
}

.custom-icon-wrapper--pod {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($blue, 0.1);
}

.custom-icon-wrapper--pod-error {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($error-red, 0.1);
}