@import "colors";
@import "text";

.modal-header.modals--borderless-header {
  border-bottom: none;
}

.modals--title {
  font-variation-settings: 'wght' $bold;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: $deep-blue;
  letter-spacing: 0;
  margin-inline: auto;
  margin-bottom: 0;
}

.modals--main-title {
  font-variation-settings: 'wght' $bold;
  font-size: 1.062rem;
  color: $deep-blue;
  margin-left: auto;
  margin-right: auto;
}

.modals--main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 9000;
  overflow: hidden;

  &[data-allow-overflow="true"] {
    overflow-y: visible;
  }
}

@media (max-width: 990px) {
  .modals--main-container {
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.modals--underlay {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $modals--underlay-background-color;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.modals--container {
  background-color: $white;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000000;
  transform: translate(-50%, -50%);
  overflow: hidden;

  &.opening {
    animation: modal-opening 500ms forwards cubic-bezier(0.3, 0.49, 0.31, 1);
  }
  
  &.closing {
    animation: modal-closing 200ms forwards cubic-bezier(0.88, 0.26, 0.32, 1);
  }

  &[data-allow-overflow="true"] {
    overflow: unset;
    overflow-y: visible;
  }
}

@media (max-width: 450px) {
  .modals--container {
    width: 100vw;
    min-width: 300px;
    border-radius: 0;
    top: unset;
    bottom: 0;
    transform: translateX(-50%);

    &[data-modal-type="full"] {
      height: 100dvh;
      overflow-y: auto;
    }

    &.opening {
      animation: small-modal-opening 500ms forwards cubic-bezier(0.3, 0.49, 0.31, 1)
    }

    &.closing {
      animation: small-modal-closing 200ms forwards cubic-bezier(0.88, 0.26, 0.32, 1);
    }
  }
}

@keyframes modal-opening {
  0% {
    opacity: 0;
    top: 40%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes modal-closing {
  0% {
    opacity: 1;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 60%;
  }
}

@keyframes small-modal-opening {
  0% {
    opacity: 0;
    bottom: -10%;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes small-modal-closing {
  0% {
    opacity: 1;
    bottom: 0;
  }

  100% {
    opacity: 0;
    bottom: -10%;
  }
}

.modals--footer-container {
  height: 4.75rem;
  width: 100%;
  border-top: solid 1px $sidebar--horizontal-divider-background-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 450px) {
  .modals--footer-container {
    height: max-content;
    position: relative;
    inset: 0;
    border-top: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;

    a, button, input, form {
      width: calc(100% - 2rem);
      margin-inline: 1rem;
      max-width: 300px;

      input {
        width: 100%;
        margin-inline: 0;
      }
    }
  }
}

.modals--content-container {
  max-width: 480px;
  min-width: 400px;
  padding: 40px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;

  &[data-type="full"] {
    padding: 1.5rem 40px 2rem;

    &.modals--get-started {
      padding: 0 56px 2rem;
    }
  }

  &[data-resource="networks"] {
    max-height: 500px;
    overflow-y: auto;
  }

  &[data-resource="measurement"] {
    min-width: 480px;
  }

  &[data-resource="bulk-remove-from-network"] {
    min-width: 450px;
    text-align: center;
  }

  &[data-resource="bulk-move-pods"] {
    padding: 1.5rem;
    overflow-y: visible;
    min-width: 500px;
  }

  &.contained {
    padding: 1rem;
  }
}

@media (max-width: 1080px) {
  .modals--content-container {
    &[data-controller="notifications"] {
      padding: .75rem 1rem;
    }
  }
}

@media (max-width: 450px) {
  .modals--content-container {
    height: calc(100dvh - 200px);;
    min-width: unset;
    padding: 2rem;
    width: 100%;
    
    &[data-type="full"] {
      padding: 2rem;
    }
    &[data-type="headless"] {
      height: max-content;
    }
    &[data-resource="networks"] {
      max-height: calc(100% - 75px);
    }
    &[data-resource="measurement"],
    &[data-resource="bulk-remove-from-network"] {
      min-width: unset;
    }

    &[data-resource="bulk-move-pods"] {
      padding: 2.5rem 2rem;
      overflow-y: visible;
      min-width: unset;
    }
    &[data-controller="notifications"] {
      padding: 0;
    }
  }
}

.modals--header-icon-container {
  width: 3.75rem;
  min-width: 3.75rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $circular-icon-container-gray;
  border-radius: 50%;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.modals--form-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .5rem;

  .field_with_errors {
    width: 100%;
  }
}

.modals--half-width-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;

  .modals--form-row {
    width: calc(50% - 0.625rem);
  }
}

@media (max-width: 768px) {
  .modals--half-width-row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;

    .modals--form-row {
      width: 100%;
    }
  }
}

.modals--network-map {
  width: 100%;
  height: 250px;
  border-radius: .5rem;
}

.modals--big-icon-container {
  width: 60px;
  min-width: 60px;
  aspect-ratio: 1;
  background-color: $circular-icon-container-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-inline: auto;
}

.modals--add-pod-options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.modals--banner {
  width: 100%;
  padding: .75rem 1rem;
  border-radius: 6px;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.312rem;
  font-variation-settings: 'wght' $semi-bold;
  word-break: normal;
  text-overflow: clip;
  overflow-wrap: break-word;
  white-space: normal;

  &[data-type="warning"] {
    background-color: $snackbar--warning-background-color;
    color: $snackbar--warning-color;
  }

  &[data-type="danger"] {
    background-color: $snackbar--danger-background-color;
    color: $snackbar--danger-color;
  }
}

.modals--move-pod-modal {
  width: 480px;
}

@media (max-width: 768px) {
  .modals--move-pod-modal {
    width: 100%;
  }
}

.modals--get-started {
  width: 516px;
  max-height: 550px;
  overflow-y: auto;
  padding-top: 0;
}

@media (max-width: 768px) {
  .modals--get-started {
    width: 100%;
    max-height: 100%;
  }
}

