@import "colors";
@import "text";

.modals--title {
  font-variation-settings: 'wght' $bold;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: $deep-blue;
  letter-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

.modals--main-title {
  font-variation-settings: 'wght' $bold;
  font-size: 1.062rem;
  color: $deep-blue;
  margin-left: auto;
  margin-right: auto;
}