@import "text";
@import "colors";
@import "misc";
@import "../screen_helpers.scss";

.tables--table-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: $border-radius;
  background-color: $white;
  padding: 2rem 1.5rem;

  &.paddingless {
    padding: 0;
  }
}

@media (max-width: $lg-max-width) {
  .tables--table-container {
    padding: .5rem 1rem;
  }
}

.tables--titles-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 1px $sidebar--horizontal-divider-background-color;

  .tables--title {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &[data-sortable="true"]:hover {
      cursor: pointer;
      opacity: .75;
    }
  }
}

@media (max-width: $lg-max-width) {
  .tables--titles-container {
    visibility: hidden;
    display: none;
  }
}

.tables--footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;

  .tables--footer-page-select {
    margin-left: .5rem;
    padding: .25rem 1.25rem .25rem 0.25rem;
    border: none;
    font-variation-settings: 'wght' $semi-bold;
    font-size: 0.875rem;
    color: $dark-gray;
    line-height: 1.312rem;
    letter-spacing: 0;
    appearance: none;
    background-image: url("arrow-down-dark.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem;

    &:hover {
      cursor: pointer;
      opacity: .75;
    }
  }
}

@media (max-width: $lg-max-width) {
  .tables--footer-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.tables--page-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  .tables--page-change-button {
    span {
      font-variation-settings: 'wght' $bold;
      font-size: 0.875rem;
      color: $dark-gray;
      line-height: 1.312rem;
      letter-spacing: 0;
    }

    &:hover {
      cursor: pointer;
      opacity: .75;
    }

    &[data-disabled="true"] {
      opacity: .25;
      pointer-events: none;
    }
  }
}

.tables--rows-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .tables--row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    border-bottom: solid 1px $sidebar--horizontal-divider-background-color;
  }
}

@media (max-width: $lg-max-width) {
  .tables--hides-on-small {
    display: none !important;
    visibility: hidden !important;
  }
}

.tables--appears-on-small {
  display: none;
  visibility: hidden;
}

@media (max-width: $lg-max-width) {
  .tables--appears-on-small {
    min-width: 2rem;
    display: block;
    visibility: visible;
  }
}

@media (max-width: $lg-max-width) {
  .tables--grows-on-small {
    width: calc(100% - 4rem) !important;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: $lg-max-width) {
  .tables--full-width-on-small {
    width: 100% !important;
  }
}

.tables--name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  * {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.tables--name-email-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;

  .tables--full-name,
  .tables--email {
    max-width: 40ch;
  }
}

@media (max-width: $lg-max-width) {
  .tables--name-email-container {
    width: 100%;
    .tables--full-name,
    .tables--email {
      max-width: calc(95% - 4rem);
    }
  }
}

.tables--account-container {
  max-width: 60ch;
}

.tables--checkbox-container {
  min-width: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tables--invitee-icon-container {
  width: 2.25rem;
  min-width: 2.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $avatar-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
}

.tables--name-initial-container {
  width: 2.25rem;
  min-width: 2.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $table--even-row-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;

  &[data-even="false"] {
    background-color: $table--odd-row-background-color;
    span {
      color: $table--odd-row-color;
    }
  }

  span {
    font-variation-settings: 'wght' $bold;
    font-size: 0.938rem;
    letter-spacing: 0;
    color: $table--even-row-color;
  }
}

.tables--account-initial-container {
  width: 2rem;
  min-width: 2rem;
  aspect-ratio: 1;
  border-radius: .5rem;
  background-color: $subtle-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;

  span {
    font-variation-settings: 'wght' $bold;
    font-size: 0.938rem;
    letter-spacing: 0;
    color: $deep-blue;
  }
}

.tables--more-options-button-container {
  width: 1.5rem;
  min-width: 1.5rem;
  position: relative;
}

.tables--options-menu {
  min-width: 130px;
  padding: .25rem;
  border-radius: $border-radius;
  position: absolute;
  right: 0;
  top: 1.5rem;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 20px -2px $sidebar--accounts-options-box-shadow;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .tables--row-option {
    min-width: 130px;
    padding: .5rem .75rem;
    text-align: left;
    margin-bottom: .25rem;
    border-radius: $border-radius;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $subtle-gray;
      cursor: pointer;
    }
  }
}

.tables--filters-container {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .75rem;
  margin-bottom: 1.5rem;
}

.tables--filters-button-container {
  width: min-content;
  height: min-content;
  position: relative;
}

.tables--filters-menu-container {
  min-width: 200px;
  padding: .25rem;
  background-color: white;
  box-shadow: 0 4px 20px -2px $sidebar--accounts-options-box-shadow;
  border-radius: $border-radius;
  border: solid 1px $sidebar--main-container-border;
  position: absolute;
  top: 3rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .tables--filters-menu-item {
    width: 100%;
    padding: .5rem .75rem;
    text-align: left;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &:hover {
      color: $deep-blue;
      background-color: $subtle-gray;
      cursor: pointer;
    }

    &.active:hover {
      color: $blue;
    }
  }
}

.tables--options-icon {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.tables--cell-with-tooltip {
  width: max-content;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.tables--cell-tooltip {
  background-color: white;
  padding: .5rem .75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .25rem;
  position: absolute;
  left: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-size: 0.875rem;
  color: $deep-blue;
  line-height: 1.312rem;
  box-shadow: 0 4px 20px -2px $sidebar--accounts-options-box-shadow;
  border: solid 1px $sidebar--search-panel-box-shadow;
  border-radius: 6px;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &[data-direction="left"] {
    left: unset;
    right: calc(100% + 1rem);

    &::before {
      left: unset;
      right: -5px;
    }
  }
}

.tables--resend-invite-cell {
  display: flex;
  justify-content: flex-end;
}