@import "text";
@import "colors";
@import "misc";
@import "../screen_helpers.scss";

.tables--table-container {
  width: 100%;
  overflow: auto unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: $border-radius;
  background-color: $white;
  padding: 2rem 1.5rem;
}

@media (max-width: $md-max-width) {
  .tables--table-container {
    padding: .5rem 1rem;
  }
}

.tables--titles-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 1px $sidebar--horizontal-divider-background-color;

  .tables--title {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &[data-sortable="true"]:hover {
      cursor: pointer;
      opacity: .75;
    }
  }
}

@media (max-width: $md-max-width) {
  .tables--titles-container {
    visibility: hidden;
    display: none;
  }
}

.tables--footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;

  .tables--footer-page-select {
    margin-left: .5rem;
    padding: .25rem 1.25rem .25rem 0.25rem;
    border: none;
    font-variation-settings: 'wght' $semi-bold;
    font-size: 0.875rem;
    color: $dark-gray;
    line-height: 1.312rem;
    letter-spacing: 0;
    appearance: none;
    background-image: url("arrow-down-dark.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem;

    &:hover {
      cursor: pointer;
      opacity: .75;
    }
  }
}

@media (max-width: $md-max-width) {
  .tables--footer-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.tables--page-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  .tables--page-change-button {
    span {
      font-variation-settings: 'wght' $bold;
      font-size: 0.875rem;
      color: $dark-gray;
      line-height: 1.312rem;
      letter-spacing: 0;
    }

    &:hover {
      cursor: pointer;
      opacity: .75;
    }

    &[data-disabled="true"] {
      opacity: .25;
      pointer-events: none;
    }
  }
}

.tables--rows-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .tables--row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    border-bottom: solid 1px $sidebar--horizontal-divider-background-color;
  }
}

@media (max-width: $md-max-width) {
  .tables--hides-on-small {
    display: none;
    visibility: hidden;
  }
}

.tables--appears-on-small {
  display: none;
  visibility: hidden;
}

@media (max-width: $md-max-width) {
  .tables--appears-on-small {
    min-width: 2rem;
    display: block;
    visibility: visible;
  }
}

@media (max-width: $md-max-width) {
  .tables--grows-on-small {
    width: calc(100% - 4rem) !important;

    &:hover {
      cursor: pointer;
    }
  }
}

.tables--name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  * {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.tables--name-email-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;

  .tables--full-name,
  .tables--email {
    max-width: 40ch;
  }
}

@media (max-width: $md-max-width) {
  .tables--name-email-container {
    width: 100%;
    .tables--full-name,
    .tables--email {
      max-width: calc(95% - 4rem);
    }
  }
}

.tables--checkbox-container {
  min-width: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tables--invitee-icon-container {
  width: 2.25rem;
  min-width: 2.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $avatar-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
}

.tables--name-initial-container {
  width: 2.25rem;
  min-width: 2.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $table--even-row-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;

  &[data-even="false"] {
    background-color: $table--odd-row-background-color;
    span {
      color: $table--odd-row-color;
    }
  }

  span {
    font-variation-settings: 'wght' $bold;
    font-size: 0.938rem;
    letter-spacing: 0;
    color: $table--even-row-color;
  }
}

.tables--more-options-button-container {
  width: 1.5rem;
  min-width: 1.5rem;
  position: relative;

  &.big {
    width: max-content;
  }
}

.tables--options-menu {
  min-width: 130px;
  padding: .25rem;
  border-radius: $border-radius;
  position: absolute;
  right: 0;
  top: 1.5rem;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 20px -2px $sidebar--accounts-options-box-shadow;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &.big {
    top: 3rem;
  }

  .tables--row-option {
    width: 100%;
    min-width: 130px;
    padding: .5rem .75rem;
    text-align: left;
    margin-bottom: .25rem;
    border-radius: $border-radius;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $subtle-gray;
      cursor: pointer;
    }
  }
}

.tables--filters-container {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .75rem;
  margin-bottom: 1.5rem;
}

.tables--filters-button-container {
  width: min-content;
  height: min-content;
  position: relative;
  z-index: 10;
}

.tables--filters-menu-container {
  padding: .25rem;
  max-height: 400px;
  background-color: white;
  box-shadow: 0 4px 20px -2px $sidebar--accounts-options-box-shadow;
  border-radius: $border-radius;
  border: solid 1px $sidebar--main-container-border;
  position: absolute;
  top: 3rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1000;
  overflow-y: auto;
  
  .tables--filters-menu-item {
    width: 100%;
    padding: .5rem .75rem;
    text-align: left;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &:hover {
      color: $deep-blue;
      background-color: $subtle-gray;
      cursor: pointer;
    }

    &.active:hover {
      color: $blue;
    }
  }
}

@media (max-width: 768px) {
  .tables--filters-menu-container {
    left: unset;
    right: 0;
  }
}

.tables--options-icon {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.tables--network-icon-container {
  width: 2.25rem;
  min-width: 2.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $subtle-gray;
  position: relative;

  &[data-network-status='online'] {
    background-color: $circular-icon-container-gray;
  }

  .tables--network-online-dot {
    width: 7px;
    min-width: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
    outline: solid 2px $white;
    background-color: $badge--green-color;
    position: absolute;
    bottom: 3px;
    right: 3px;
  }
}

.tables--network-name-pod-count-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;

  .tables--network-name {
    font-size: 0.938rem;
    line-height: 1.312rem;
    font-variation-settings: 'wght' $bold;
    color: $deep-blue;
    max-width: 40ch;
  }

  .tables--network-pod-count {
    font-size: 0.875rem;
    line-height: 1.312rem;
    color: $dark-gray;
    font-variation-settings: 'wght' $medium;
    max-width: 40ch;
  }
}

.tables--empty-table-container {
  width: 100%;
  background-color: white;
  border: solid 1px $sidebar--main-container-border;
  box-shadow: 0 2px 8px -2px $cards--default-box-shadow;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}