@import "colors";

$light: 300;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

.fw-light {
  font-variation-settings: 'wght' $light;
}

.fw-medium {
  font-variation-settings: 'wght' $medium;
}

.fw-extra-bold {
  font-variation-settings: 'wght' $extra-bold;
}

.card-big-title {
  font-variation-settings: 'wght'$bold;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: $deep-blue;
}

.card-main-title {
  font-variation-settings: 'wght' $bold;
  font-size: 1rem;
  color: $deep-blue;
}

.page-main-title {
  font-variation-settings: 'wght' $extra-bold;
  font-size: 1.375rem;
  color: $deep-blue;
}

.dialog-sub-title {
  font-variation-settings: 'wght' $medium;
  font-size: 15px;
  color: $dark-gray;
}

.page-sub-title {
  font-variation-settings: 'wght' $medium;
  font-size: 14px;
  color: $title-gray;
}

.modal-main-title {
  font-variation-settings: 'wght' $bold;
  font-size: 1.062rem;
  color: $deep-blue;
}

.sidebar-item--text {
  font-variation-settings: 'wght' $bold;
  font-size: 0.938rem;
  color: $dark-gray;
  line-height: 1.25rem;

  &.sidebar-item--text-active {
    color: $blue;
  }

  &:hover {
    color: $blue;
  }

  &[data-disabled="true"] {
    opacity: 0.3;
  }
}

.sidebar-item--text-static {
  font-variation-settings: 'wght' $semi-bold;
  font-size: 0.938rem;
  color: $dark-gray;
  line-height: 1.25rem;
}

.sidebar-item--profile-text {
  font-variation-settings: 'wght' $semi-bold;
  font-size: 0.938rem;
  color: $dark-gray;
}

.regular-bold-text {
  font-variation-settings: 'wght' $bold;
  font-size: 0.875rem;
  line-height: 1.312rem;
  color: $deep-blue;
}

.regular-link {
  font-variation-settings: 'wght' $bold;
  font-size: 0.875rem;
  line-height: 1.312rem;
  color: $blue;
  text-decoration: none;
}

.help-text {
  font-variation-settings: 'wght' $medium;
  font-size: 0.812rem;
  line-height: 1.188rem;
  letter-spacing: 0;
  color: $gray;
}

.help-dark-text {
  font-variation-settings: 'wght'$semi-bold;
  font-size: 0.812rem;
  line-height: 1.188rem;
  letter-spacing: 0;
  color: $dark-gray;
}

.help-small-text {
  font-variation-settings: 'wght'$medium;
  font-size: 0.75rem;
  line-height: 1.188rem;
  letter-spacing: 0;
  color: $gray;
}

.warning-text {
  font-variation-settings: 'wght' $medium;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #3f4254;
  white-space: break-spaces;
}

.wrap {
  word-break: normal;
  text-overflow: clip;
  overflow-wrap: break-word;
  white-space: normal;
}

.warning-text {
  font-variation-settings: 'wght' $medium;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #3f4254;
  white-space: break-spaces;
}

.table-title {
  font-variation-settings: 'wght' $bold;
  font-size: 0.875rem;
  color: $gray;
}

.table-cell {
  font-size: 0.875rem;
  line-height: 1.312rem;
  color: $deep-blue;
}

.table-menu-option,
.table-filter-option {
  font-variation-settings: 'wght' $semi-bold;
  font-size: 0.875rem;
  color: $deep-blue;
  letter-spacing: 0;
}

.table-filter-option.active {
  color: $blue;
  font-variation-settings: 'wght' $bold;
}

.table-full-name {
  font-variation-settings: 'wght' $bold;
  font-size: 0.875rem;
  color: $deep-blue;
}

.table-footer {
  font-size: 0.875rem;
  color: $gray;
  line-height: 1.312rem;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.widget-location-title {
  font-variation-settings: 'wght' $semi-bold;
  font-size: 0.938rem;
  color: $deep-blue;
}