<div id="public--pod-icon-container">
  <%= image_tag image_url('check-welcome-icon.png'), id: 'public--check-welcome-icon' %>
</div>

<p class="public--card-title">Welcome to Radar Pods</p>
<p class="public--card-subtitle">Radar Pods is a platform to help monitor the quality of your internet connectivity. If you’ve come across a device that you're not familiar with, you can <a href="https://pods.radartoolkit.com" class="public--regular-link">learn more about it.</a></p>

<div class="public--horizontal-divider"></div>

<a href="/find_pod" class="btn btn-primary public--check-continue-button">Check or set up a pod</a>

<p class="public--additional-text">If you own a pod, you can check its status or set it up if it's new.</p>