.imagesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding-top: 4rem;
}

.imagesGrid > div {
  border-radius: .5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imagesGrid > div:first-child {
  grid-area: 1 / 1 / 5 / 4;
  background-position: 70% 50%;
}
.imagesGrid > div:nth-child(2) {
  grid-area: 1 / 4 / 3 / 7;
  background-position: 30% 50%;
}
.imagesGrid > div:last-child {
  grid-area: 3 / 4 / 5 / 7;
  background-position: 100% 50%;
}

@media (max-width: 768px) {
  .imagesGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 165px);
    grid-row-gap: 1.5rem;
  }

  .imagesGrid > div:first-child {
    grid-area: 1 / 1 / 3 / 6;
  }

  .imagesGrid > div:nth-child(2) {
    grid-area: 3 / 1 / 4 / 6;
  }

  .imagesGrid > div:last-child {
    grid-area: 4 / 1 / 4 / 6;
  }
}