<select class="form-select select2-hidden-accessible application--speed-filters-dropdown"
  tabindex="-1"
  data-controller="select2"
  style="background-color: #f5f8fa;"
  data-remove-searchbar="true"
  data-action="select2-select->speed-filters#switchDropdownFilter"
  id="speed-filters-select"
>
  <option value="last_24_hours" label="Last 24 hours" data-speed-filters-target="dropdownFilter" selected>Last 24 hours</option>
  <option value="last_7_days" label="Last 7 days" data-speed-filters-target="dropdownFilter">Last 7 days</option>
  <option value="last_30_days" label="Last 30 days" data-speed-filters-target="dropdownFilter">Last 30 days</option>
  <option value="this_year" label="This year" data-speed-filters-target="dropdownFilter">This year</option>
</select>