---
import '../global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import ScrollingTimeline from '../components/approach/ScrollingTimeline.astro';
---
<BaseLayout>
  <div style="height: 1000px"></div>
  <div style="margin-bottom: 24px">
    <ScrollingTimeline/>
  </div>
    <div style="height: 1000px"></div>
</BaseLayout>