---
import '../global.css';
import styles from './styles/_opportunities.module.css';
import commonStyles from '../common.module.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import ExploreOpportunities from '../components/opportunities/ExploreOpportunities.astro';
import OpportunitiesIntroduction from '../components/opportunities/OpportunitiesIntroduction.astro';
---
<BaseLayout>
  <section  class=`${commonStyles.paddedSection} ${styles.section}` id="scroll-to">
    <OpportunitiesIntroduction/>
    <ExploreOpportunities/>
  </section>
</BaseLayout>