@font-face {
  font-family: 'MulishRegular';
  src: local('MulishRegular'), url('./fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MulishExtraBold';
  src: local('MulishExtraBold'), url('./fonts/Mulish-ExtraBold.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: MulishRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div {
  color: #3f3c70;
}