FQDN = exactlylabs.com
ORGNAME = ExactlyLabs, Inc
ALTNAMES = DNS:$FQDN   # , DNS:bar.example.org , DNS:www.foo.example.org

[ req ]
default_bits = 2048
default_md = sha256
distinguished_name = subject
req_extensions = req_ext
x509_extensions = req_ext
string_mask = utf8only
prompt = no

[ req_ext ]
subjectAltName = $ALTNAMES

[ subject ]
countryName = US
stateOrProvinceName = Washington
localityName = Seattle
organizationName = ExactlyLabs, Inc
commonName = ExactlyLabsCA

[ ca ]
default_ca = CA_default


[ CA_default ]
dir = ./dist/certs
certs = ./dist/certs
crl_dir = $dir/revoked
database = $dir/index.txt
certificate = $dir/rootCA.pem
private_key = $dir/rootCA.key
crl = $dir/rootCRL.crl.pem
default_md = default
default_crl_days=30

