<div data-kt-stepper-element="content" data-onboard-target="step3">
  <!--begin::Wrapper-->
  <div class="w-100 text-center">
    <!--begin::Heading-->
    <div class="pb-10 pb-lg-15">
      <!--begin::Title-->
      <h2 class="fs-2x fw-bolder mb-0">Let's give your Pod a new location</h2>
      <!--end::Title-->
      <!--begin::Notice-->
      <p class="text-gray-400 fs-4 fw-bold py-7">Pods keep connected to your Internet network and perform various tests throughout the day or at your request.</p>
      <!--end::Notice-->
    </div>
    <!--end::Heading-->
    <!--begin::Input group-->
    <div class="fv-row fv-plugins-icon-container">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_location_modal">Add a Location</button>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Input group-->
  </div>
  <!--end::Wrapper-->
</div>

<div class="modal fade" tabindex="-1" id="new_location_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:submit-end->onboard#ifSuccessGoto4">
  <%= turbo_frame_tag "new_location_modal", src: new_location_path do %>
  <% end %>
</div>