<div class="tables--filters-container">

  <%= render partial: "application/components/tables/multi_row_actions", 
      locals: {
        menu_id: 'members-multi-row-actions-menu',
        options: [
          'Remove'
        ],
        actions: [
          'click->multi-row-table#bulkDeleteMembers',
        ],
        urls: [
          bulk_delete_users_account_index_path
        ]
      }
  %>

  <% if current_account.is_all_accounts? %>
    <%= render partial: "application/components/tables/filter",
      locals: {
        menu_id: 'account-filter-menu',
        key: 'account_id',
        default_value: '-1',
        default_label: 'All accounts',
        options: [
          { label: 'All accounts', value: '-1'},
          *policy_scope(Account).map {|account| { label: account.name , value: "#{account.id}" }}
        ],
      }
    %>
  <% end %>

  <%= render partial: "application/components/tables/filter",
      locals: {
        menu_id: 'status-filter-menu',
        key: 'status',
        default_value: 'all',
        default_label: 'All statuses',
        options: [
          { label: 'All statuses', value: 'all'},
          { label: 'Joined', value: 'joined' },
          { label: 'Pending', value: 'pending' }
        ],
      }
  %>

  <% if FeatureFlagHelper.is_available('roles', current_user) && !current_account.is_all_accounts? %>
    <%= render partial: "application/components/tables/filter",
               locals: {
                 menu_id: 'role-filter-menu',
                 key: 'role',
                 default_value: 'all',
                 default_label: 'All roles',
                 options: [
                   { label: 'All roles', value: 'all'},
                   { label: 'Owner', value: 'owner' },
                   { label: 'Guest', value: 'guest' }
                 ],
               }
    %>
  <% end %>

</div>