<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder my-1 fs-2">Users
        <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted"><%= @current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item text-dark">Users</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#add_user_wizard"
      >Add User</button>
    </div>
  </div>
</div>
<!--end::Toolbar-->
<div class="post fs-6 d-flex flex-column" id="kt_post">
  <div class="container-fluid">
    <!--begin::Container-->
    <div class="container-auto px-5">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
    </div>
    <%= render partial: "users/users_table", locals: { users_accounts: users_accounts, invited_users: invited_users } %>
    <!--end::Container-->
  </div>
</div>

<div class="modal fade"
     tabindex="-1"
     id="add_user_wizard"
     data-controller="add-user"
>
  <%= render partial: "users/add_user_wizard/add_user_wizard" %>
</div>