/* Different browser compatibility, do not group */
#menu-content-providers--searchbar::placeholder {
  color: #97a19d;
}
#menu-content-providers--searchbar:-ms-input-placeholder {
  color: #97a19d;
}
#menu-content-providers--searchbar::-ms-input-placeholder {
  color: #97a19d;
}
#menu-content-providers--searchbar::-webkit-input-placeholder{
  color: #97a19d;
}