/* Different browser compatibility, do not group */
#top-searchbar--input::placeholder {
  color: #97a19d;
}
#top-searchbar--input:-ms-input-placeholder {
  color: #97a19d;
}
#top-searchbar--input::-ms-input-placeholder {
  color: #97a19d;
}
#top-searchbar--input::-webkit-input-placeholder{
  color: #97a19d;
}

.suggestion:hover {
  background-color: rgba(209, 209, 209, 0.25);
  border-radius: 6px;
}