<div class="sidebar--accounts-menu-container invisible"
  data-sidebar-target="accountsMenu"
>
  <p class="sidebar--accounts-menu-title help-text">Accounts</p>
  <%= render partial: "application/components/sidebar/account_item", 
      locals: {
        is_shared: false,
        has_options: false,
        text: 'All accounts',
        has_icon: true,
        icon: current_account.is_all_accounts? ? 'all-accounts-icon-selected' : 'all-accounts-icon',
        active: current_account.is_all_accounts?,
        account_id: -1
      }
  %>
  <div class="sidebar--horizontal-divider"></div>
  <div id="sidebar--accounts-list-wrapper" data-action="scroll->sidebar#closeMenusOnScroll">
    <% policy_scope(Account).not_deleted.order("LOWER(name)").each do |account| %>
      <%= render partial: "application/components/sidebar/account_item", 
          locals: {
            is_shared: false,
            has_options: true,
            text: account.name,
            has_icon: false,
            icon: nil,
            active: current_account.id == account.id,
            account_id: account.id
          }
      %>
    <% end %>
    <% current_user.shared_accounts.not_deleted.distinct.each do |account| %>
      <%= render partial: "application/components/sidebar/account_item", 
          locals: {
            is_shared: true,
            has_options: true,
            text: account.name,
            has_icon: false,
            icon: nil,
            active: current_account.id == account.id,
            account_id: account.id
          }
      %>
    <% end %>
  </div>
  <div class="sidebar--horizontal-divider"></div>
  <%= render partial: "application/components/sidebar/add_account_item",
      locals: { only_item: false, narrow: false }
  %>
</div>