<button type="button"
  class="sidebar--account-item-container sidebar--add-account-button mb-1"
  data-bs-toggle="modal"
  data-bs-target="#add_account_wizard"
  data-only-item="<%= only_item %>"
>
  <div class="sidebar--account-item-icon-container transparent me-1">
    <%= image_tag image_url(only_item ? "blue-plus.png" : "dark-plus.png"), width: "16", height: "16", class: "sidebar--account-item-icon" %>
  </div>
  <% if !narrow %>
    <p class="m-0 sidebar-item--text-static sidebar--account-item-name ellipsis">Create an account</p>
  <% end %>
</button>