
  <%= render partial: "application/components/sidebar/profile_item", locals: { narrow: true } %>
</div>
  <%= render partial: "application/components/sidebar/profile_item", locals: { narrow: true } %>
</div>