<div class="w-100 position-relative" data-controller="app-search">
  <input class="w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration"
    placeholder="Search for pods, locations..."
    data-app-search-target="searchInput"
    data-sidebar-target="searchInput"
    data-action="input->app-search#debouncedSearch debouncedSearch@window->app-search#debouncedSearch"
  />
  <div class="invisible forms--input-decoration spinner-border spinner-border-sm text-primary m-auto"
    role="status"
    data-app-search-target="spinner"
    data-size="small"
  ></div>
</div>