<div class="sidebar--search-panel-container">
  <div class="d-flex flex-row justify-content-between align-items-baseline mb-7">
    <h3 class="page-main-title">Search</h3>
    <button type="button"
      class="custom-button custom-button--secondary p-2 d-flex justify-content-center align-items-center"
      data-action="click->sidebar#closeSearchIfOpen"
    >
      <%= image_tag image_url('arrow-left-dark.png'), width: 16, height: 16 %>
    </button>
  </div>
  <input class="w-100 forms--text-input forms--text-input-focusable" placeholder="Search for pods, locations..."/>
  <% if true %>
    <p class="help-text m-0 mt-6 ms-2 mb-2">Recent</p>
    <div class="sidebar--recents-container">
      <%= render partial: "application/components/sidebar/recent_search_item" %>
      <%= render partial: "application/components/sidebar/recent_search_item" %>
      <%= render partial: "application/components/sidebar/recent_search_item" %>
    </div>
  <% end %>
</div>