<div class="sidebar--search-panel-container" data-controller="app-search">
  <div class="d-flex flex-row justify-content-between align-items-baseline mb-7">
    <h3 class="page-main-title">Search</h3>
    <button type="button"
      class="custom-button custom-button--secondary p-2 d-flex justify-content-center align-items-center"
      data-action="click->sidebar#closeSearchIfOpen"
    >
      <%= image_tag image_url('arrow-left-dark.png'), width: 16, height: 16 %>
    </button>
  </div>
  <%= render partial: "application/components/sidebar/search_input" %>
  <div class="invisible spinner-border text-primary sidebar--search-spinner m-0 mt-3 ms-1"
    role="status"
    data-app-search-target="spinner"
  ></div>
  <%= turbo_frame_tag "search-panel-results", data: { "app-search-target" => "resultsList" } do %>
    <div class="sidebar--results-container">
      <%= render partial: "application/components/sidebar/recents_section" %>
    </div>
  <% end %>
</div>