<div class="invisible sidebar--narrow-search-container" data-controller="app-search" data-sidebar-target="searchSidebar">
  <%= render partial: "application/components/sidebar/narrow_sidebar" %>
  <%= render partial: "application/components/sidebar/search_panel" %>
</div>