<div class="form-check form-switch form-check-custom form-check-solid sidebar--super-user-container">
  <input type="checkbox"
    id="super_user"
    name="user[super_user]"
    <%= cookies[:radar_super_user_disabled].nil? || cookies[:radar_super_user_disabled] == "false" ? 'checked="true"' : nil %>
    data-controller="super-user"
    data-action="click->super-user#handleToggleSuperUserStatus"
    class="form-check-input forms--toggle me-3"
    data-super-user-target="superUserToggle"
  />
  <% if !narrow %>
    <label class="forms--label sidebar--super-user-toggle-label">Super User Mode</label>
  <% end %>
</div>