.my-option {
    border: solid 1px rgba(17 14 76 / 20%);
    padding: 1px;
}

.my-option:hover {
    border: solid 1px rgba(17 14 76 / 50%);
    padding: 1px;
}

.my-option.picked {
    border: solid 2px #4b7be5;
    font-weight: bolder;
    padding: 0;
}

