---
import styles from './styles/buttons.module.css';
import arrow from '../../../assets/icons/arrow.svg';
const { text } = Astro.props;
---

<button class={styles.readMore}
   data-transparent='true'
   data-inactive='true'
>
  { text ?? 'Read more' }
  <img src={arrow.src} width="16" height="16" alt="right arrow"/>
</button>