---
import styles from './buttons.module.css';
import arrow from '../../../assets/icons/arrow.svg';
const { href } = Astro.props;
---

<a href={href} class={styles.readMore}>
  Read more
  <img src={arrow.src} width="16" height="16" alt="right arrow"/>
</a>