<div class="cards--card-with-header">
  <div class="cards--card-header">
    <span>Data usage</span>
  </div>
  <div class="cards--card-with-header-content-container">
    <div class="cards--info-row-full-width">
      <label class="forms--label">Average usage</label>
      <span class="cards--info-row-value regular-text"><%= pod.get_measurement_data(total_avg) %></span>
    </div>
  </div>
</div>