<div class="modal-dialog" style="max-width: 620px; position: relative; top: 20%;" data-controller="add-client-to-location">
    <div class="modal-content">
        <%= render partial: "application/components/modals/modal_header", locals: {title: "Add Pod to #{location.name}"} %>
        
        <div class="modal-body modals--body d-flex flex-column justify-content-start">
            <div class="fv-row mb-7 fv-plugins-icon-container">
                <label class="required forms--label mb-1">Would you like to update your Pod name?</label>
                <input type="hidden" name="id" id="client-id" value="" data-add-client-to-location-target="clientIdInput"/>
                <input type="hidden" name="location_id" id="location-id" value="" data-add-client-to-location-target="locationIdInput" />
                <input name="name" id="client-name" type="text" class="forms--text-input form-control form-control-solid" placeholder="Insert new Pod name" value="" data-client-id="" data-add-client-to-location-target="clientNameInput"/>
            </div>
        </div>

        <div class="modal-footer modals--footer">
            <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
            <button type="button" class="custom-button custom-button--primary custom-button--sm" data-action="click->add-client-to-location#moveClient">Done</button>
        </div>
    </div>
</div>