@import url("./vendor/leaflet/leaflet.css");
@import url("./resets.css");
@import url("./leaflet-overrides.css");
@import url("./mui-overrides.css");

@font-face {
  font-family: 'MulishRegular';
  src: local('MulishRegular'), url('./fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MulishExtraBold';
  src: local('MulishExtraBold'), url('./fonts/Mulish-ExtraBold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MulishBold';
  src: local('MulishBold'), url('./fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: normal;
}

#speedtest--main-frame {
  margin: 0;
  font-family: MulishRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.speedtest--bold {
  font-family: MulishBold, MulishRegular, -apple-system, sans-serif;
}

.speedtest--regular {
  font-family: MulishRegular, -apple-system, sans-serif;
}

.speedtest--extra-bold {
  font-family: MulishExtraBold, -apple-system, sans-serif;
}

.speedtest--navlink--hoverable:hover {
  text-decoration: underline white;
  cursor: pointer;
  color: #6d6a94;
}

.speedtest--regular-link--hoverable {
  color: #6d6a94;
}

.speedtest--regular-link--hoverable:hover {
  color: #3f3c70;
  cursor: pointer;
}

.speedtest--tab-item--hoverable {
  color: #6d6a95;
  cursor: pointer;
}

.speedtest--tab-item--hoverable:hover {
  color: #3f3c70;
}

.speedtest--blue-button--hoverable {
  background-color: #4b7be5;
  box-shadow: 0 4px 15px -2px rgba(75, 123, 229, 0.5);
  color: white;
}

.speedtest--blue-secondary-button--hoverable {
  background-color: transparent;
  color: #4b7be5;
}

.speedtest--blue-button--hoverable:hover {
  background-color: #5a8bf8;
}

.speedtest--blue-secondary-button--hoverable:hover {
  opacity: 0.8;
}

.speedtest--secondary-button--hoverable {
  box-shadow: 0 4px 15px -2px rgba(75, 123, 229, 0.1);
  color: #3f3c70;
}

.speedtest--secondary-button--hoverable:hover {
  box-shadow: 0 4px 20px -2px rgba(75, 123, 229, 0.2);
  color: #524e92;
}

.speedtest--modal-dismiss--hoverable {
  background-color: #dedce8;
}

.speedtest--modal-dismiss--hoverable:hover {
  background-color: #e8e8ed;
}

.speedtest--opaque-hoverable {
  opacity: 1;
  cursor: pointer;
}

.speedtest--opaque-hoverable:hover {
  opacity: 0.8;
  cursor: pointer;
}