input::-webkit-outer-spin-button.speedtest--custom-input-reset,
input::-webkit-inner-spin-button.speedtest--custom-input-reset {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number].speedtest--custom-input-reset {
    -moz-appearance: textfield;
}

.speedtest--p {
    margin: 0;
}