<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    @import url(http://fonts.googleapis.com/css?family=Roboto);
    * { font-family: Roboto, serif; }
  </style>
</head>
<body>
<div style="width: 60%; text-align: center; padding: 45px; margin-left: auto; margin-right: auto;">
  <p>Testing Exports email</p>
  <a href="<%= @url %>"><%= @url %></a>
</div>
</body>
</html>