<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    @import url(http://fonts.googleapis.com/css?family=Roboto);
    * { font-family: Roboto, serif; }
  </style>
</head>
<body>
  <div style="width: 60%; text-align: left; padding: 32px 45px; margin-left: auto; margin-right: auto;">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center">
      <img src="<%= attachments["new-logo.png"].url %>" alt="Radar-logo" style="width: 25%; height: auto; margin-right: auto; margin-left: auto;"/>
    </div>
    <div style="height: 2px; width: 100%; margin-bottom: 45px; margin-top: 30px; background-color: #f6f8fa;"></div>
    <div style="max-width: 340px; text-align: center; font-weight: bold; font-size: 24px; line-height: 30px; color: #181c31; margin: 0 auto 50px auto;">There has been an unexpected error processing your download. Please try again later.</div>
    <div style="font-weight: bold; font-size: 16px; line-height: 26px; color: #181c31; margin: 0 0 15px 0"><%= "Hi #{@user.first_name}," %></div>
    <div style="margin: 0; font-size: 16px; line-height: 26px; color: #181c31">We just wanted to let you know that we have experienced an error processing your measurements download in Radar.</div>
    <br/>
    <div style="margin: 0 0 25px 0; font-size: 16px; line-height: 26px; color: #181c31">We are sorry for the inconvenience.</div>
    <span style="font-size: 16px;">If you have any questions, please contact <a href="mailto:support@exactlylabs.com" style="color: #00a3ff">support@exactlylabs.com</a>.</span>
    <div style="height: 2px; width: 100%; margin-bottom: 40px; margin-top: 30px; background-color: #f6f8fa;"></div>
    <div style="color: #b5b5c3; text-align: center; font-size: 14px">© 2023 National Telehealth Technology Assessment Resource Center</div>
  </div>
</body>
</html>