<% invisible = local_assigns[:starts_invisible].present? ? local_assigns[:starts_invisible] : false %>
<% pod_id = local_assigns[:pod_id] || nil %>

<div class="pods--create-network-component-container <%= invisible ? 'invisible' : nil %>"
  data-pod-account-and-network-target="newNetworkComponent"
  data-controller="categories location-form"
  data-action="handlePinMoved@window->location-form#handlePinMoved"
  >
  <%= render partial: "networks/modals/shared/network_details_modal",
      locals: {
        type: "create",
        form: form,
        footerless: true,
        contained: true,
        is_account_fixed: true,
        location: Location.new,
        pod_id: pod_id
      }
  %>
</div>