<div class="application--cell-icon-text-container">
  <div class="custom-badge <%= pod.status_style %> me-2">
    <%= pod.status %>
  </div>
  <span class="help-text"><%= pod.get_status_timestamp %></span>
</div>