<% pod_id = pod.unix_user %>
<% pod_icon = local_assigns[:pod_icon] || 'pod-online-icon.png' %>
<% on_pod_deleted = local_assigns[:on_pod_deleted] || 'selected-pods-grid#onPodDeleted' %>
<div class="pods--selected-pod-cell" id="selected-pod-<%= pod_id %>">
  <div class="tables--network-icon-container" data-pod-status="online">
    <%= image_tag image_url(pod_icon), width: 24, height: 24 %>
  </div>
  <p><%= pod_id %></p>
  <%= image_tag image_url('cancel.png'), width: 16, height: 16, class: 'hoverable',
                data: {
                  pod_id: pod_id,
                  action: on_pod_deleted,
                }
  %>
</div>