<div class="cards--card-with-header">
  <div class="cards--card-header">
    <span>Average speeds</span>
  </div>
  <div class="cards--card-with-header-content-container">
    <%= render partial: "application/components/speed_filters",
        locals: {
          resource_id: pod.unix_user,
          speed_average_path: method(:speed_average_client_url)
        }
    %>
    <%= turbo_frame_tag "pod-speed-averages" do %>
      <%= render partial: "pods/components/speed_cells",
          locals: {
            download_avg: @download_avg.present? ? "#{@download_avg.round(2)}" : '-',
            upload_avg: @upload_avg.present? ? "#{@upload_avg.round(2)}" : '-',
            download_diff: @download_diff.present? ? "#{@download_diff}" : '-',
            upload_diff: @upload_diff.present? ? "#{@upload_diff}" : '-'
          }
      %>
    <% end %>
    <%= link_to "View all measurements", client_measurements_path(pod.unix_user), class: "w-100 custom-button custom-button--secondary custom-button--lg" %>
  </div>
</div>
