<div class="landing--bullet-point">
  <div class="landing--bullet-point-icon-container">
    <%= image_tag image_url(icon_url), width: 32, height: 32 %>
  </div>
  <h4><%= title %></h4>
  <p><%= content %></p>
</div>