<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <link href='https://fonts.googleapis.com/css?family=Mulish:400,700' rel='stylesheet' type='text/css'>
    <style>
      #main>* {
        font-family: Mulish, sans-serif;
        padding: 0 48px;
      }
      p {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="main" style="margin: 29px auto 32px; width: 570px; text-align: center">
      <div style="color: #110E4C; text-align: left; font-size: 15px; line-height: 20px">
        <p style="font-size: 16px; font-weight: bold; margin-bottom: 16px">
          Hi, <%= @resource.email %>
        </p>
        <p>
          We're contacting you to notify you that your email is being changed to
          <% if @resource.try(:unconfirmed_email?) %>
            <%= @resource.unconfirmed_email %>.
          <% else %>
            <%= @resource.email %>.
          <% end %>
        </p>
      </div>
      <div style="background-color: #F6F8FA; height: 2px; margin: 24px auto"></div>
      <p style="color: #B5B5C3; font-size: 14px">
        © 2024 National Telehealth Technology Assessment Resource Center
      </p>
    </div>
  </body>
</html>
