<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <link href='https://fonts.googleapis.com/css?family=Mulish:400,700' rel='stylesheet' type='text/css'>
    <style>
      #main>* {
        font-family: Mulish, serif;
        padding: 0 48px;
      }
      p {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="main" style="margin: 29px auto 32px; width: 570px; text-align: center">
      <div style="color: #110E4C; text-align: left; font-size: 15px; line-height: 20px">
        <p style="font-size: 16px; font-weight: bold; margin-bottom: 16px">
          Hi, <%= @resource.email %>
        </p>
        <p>
          Someone has requested to change your password. Click the button below
          to create a new password.
        </p>
        <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: 'background-color: #4B7BE5; color: white; font-size: 15px; font-weight: bold; text-decoration: none; display: block; width: max-content; height: 20px; border: none; border-radius: 6px; padding: 12px 24px; margin: 48px auto 64px;' %>
        <p>
          If you didn't request this, please ignore this email.
          Your password won't change until you click the button above and create
          a new one.
        </p>
      </div>
      <div style="background-color: #F6F8FA; height: 2px; margin: 24px auto"></div>
      <p style="color: #B5B5C3; font-size: 14px">
        © 2024 National Telehealth Technology Assessment Resource Center
      </p>
    </div>
  </body>
</html>
