#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export BIN_NAME?=radar_agent

%:
	dh $@ --with systemd


override_dh_auto_build:
	make build

override_dh_auto_install:
	mkdir -p debian/radar-agent/usr/bin
	make install INSTALL_DIR=debian/radar-agent/usr/bin

override_dh_gencontrol:
	dh_gencontrol
	sed -i 's/Version: .*/Version: ${VERSION}-1/' debian/radar-agent/DEBIAN/control