<div class="card d-flex flex-row-fluid flex-center m-auto" style="width: 75%; max-width: 660px; min-width: 400px">
  <!--begin::Form-->
  <div class="card-body p-20 w-100 w-xl-700px">
    <div class="w-100 text-center">
    <!--begin::Heading-->
    <div>
      <div class="d-flex justify-content-center align-items-center"
           style="margin: 30px auto; border-radius: 50%; background-color: #f1faff;
             min-width: 60px; width: 60px; min-height: 60px; height: 60px;">
          <%= image_tag image_url("dashboard-icon-active.png"), width: "28", height: "28" %>
      </div>
      <!--begin::Title-->
      <h2 class="dialog-main-title">You haven't set up any account yet.</h2>
      <!--end::Title-->
      <!--begin::Notice-->
      <p class="text-wrap additional-text wrap">Radar is great for both personal use and for organizations. Let’s set up a new account so you can get started.</p>
      <!--end::Notice-->
    </div>
    <!--end::Heading-->
    <!--begin::Input group-->
    <div class="fv-row fv-plugins-icon-container">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12">
          <a href="#" class="custom-button custom-button--primary custom-button--lg mx-auto" data-bs-toggle="modal" data-bs-target="#add_account_wizard">Add new account</a>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Input group-->
    </div>
  </div>
</div>