<div class="h-100 stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_create_account_stepper" data-kt-stepper="true">
  <!--begin::Aside-->
  <div class="h-75 card d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-300px me-9"
    style="max-height: 375px">
    <!--begin::Wrapper-->
    <div class="card-body px-6 px-lg-10 px-xxl-15 py-15">
      <!--begin::Nav-->
      <div class="stepper-nav">
        <!--begin::Step 1-->
        <div class="stepper-item current" data-kt-stepper-element="nav" data-onboard-target="stepper1">
          <!--begin::Line-->
          <div class="stepper-line w-40px"></div>
          <!--end::Line-->
          <!--begin::Icon-->
          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">1</span>
          </div>
          <!--end::Icon-->
          <!--begin::Label-->
          <div class="stepper-label">
            <h3 class="stepper-title text-muted" data-onboard-target="stepper1Title">Welcome</h3>
            <!--<div class="stepper-desc fw-bold">Setup Your Account Details</div>-->
          </div>
          <!--end::Label-->
        </div>
        <!--end::Step 1-->
        <!--begin::Step 2-->
        <div class="stepper-item" data-kt-stepper-element="nav" data-onboard-target="stepper2">
          <!--begin::Line-->
          <div class="stepper-line w-40px"></div>
          <!--end::Line-->
          <!--begin::Icon-->
          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">2</span>
          </div>
          <!--end::Icon-->
          <!--begin::Label-->
          <div class="stepper-label">
            <h3 class="stepper-title text-muted" data-onboard-target="stepper2Title">Pods</h3>
            <div class="stepper-desc fw-bold">Add a Pod</div>
          </div>
          <!--end::Label-->
        </div>
        <!--end::Step 2-->
        <!--begin::Step 3-->
        <div class="stepper-item" data-kt-stepper-element="nav" data-onboard-target="stepper3">
          <!--begin::Line-->
          <div class="stepper-line w-40px"></div>
          <!--end::Line-->
          <!--begin::Icon-->
          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">3</span>
          </div>
          <!--end::Icon-->
          <!--begin::Label-->
          <div class="stepper-label">
            <h3 class="stepper-title text-muted" data-onboard-target="stepper3Title">Locations</h3>
            <div class="stepper-desc fw-bold">Set up a location</div>
          </div>
          <!--end::Label-->
        </div>
        <!--end::Step 3-->
        <!--begin::Step 4-->
        <div class="stepper-item" data-kt-stepper-element="nav" data-onboard-target="stepper4">
          <!--begin::Line-->
          <div class="stepper-line w-40px"></div>
          <!--end::Line-->
          <!--begin::Icon-->
          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">4</span>
          </div>
          <!--end::Icon-->
          <!--begin::Label-->
          <div class="stepper-label">
            <h3 class="stepper-title text-muted" data-onboard-target="stepper4Title">Done</h3>
            <div class="stepper-desc fw-bold">You're all set</div>
          </div>
          <!--end::Label-->
        </div>
        <!--end::Step 4-->
      </div>
      <!--end::Nav-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--begin::Aside-->
  <!--begin::Content-->
  <div class="card d-flex flex-row-fluid flex-center">
    <!--begin::Form-->
    <div class="card-body py-20 w-100 w-xl-700px px-9">
      <%= render partial: "step1" %>
      <%= render partial: "step2" %>
      <%= render partial: "step3" %>
      <%= render partial: "step4" %>
    <div></div><div></div><div></div><div></div>
    <!--end::Form-->
  </div>
  <!--end::Content-->
</div>
</div>