<div data-kt-stepper-element="content" data-onboard-target="step4">
  <!--begin::Wrapper-->
  <div class="w-100 text-center">
    <!--begin::Heading-->
    <div class="pb-6">
      <%= image_tag "17.png", size: "200x200", style: "margin-top: -50px; transform: scaleX(-1)" %>
      <!--begin::Title-->
      <h2 class="page-main-title mt-4">You're all set!</h2>
      <!--end::Title-->
      <!--begin::Notice-->
      <p class="additional-text wrap">You can now view your Dashboard with your locations and Pods.</p>
      <!--end::Notice-->
    </div>
    <!--end::Heading-->
    <!--begin::Input group-->
    <div class="d-flex flex-column justify-content-center align-items-center">
      <a href="#" class="custom-button custom-button--lg custom-button--primary" data-action="onboard#complete">View my Dashboard</a>
      <p class="additional-text pt-4 wrap">You can always manage your Pods and Locations from the left side menu.</p>
      <!--end::Row-->
    </div>
    <!--end::Input group-->
  </div>
  <!--end::Wrapper-->
</div>