<div data-kt-stepper-element="content" data-onboard-target="step4">
  <!--begin::Wrapper-->
  <div class="w-100 text-center">
    <!--begin::Heading-->
    <div>
      <%= image_tag "17.png", size: "200x200" %>
      <!--begin::Title-->
      <h2 class="fs-2x fw-bolder mb-0">You're all set!</h2>
      <!--end::Title-->
      <!--begin::Notice-->
      <p class="text-gray-400 fs-4 fw-bold py-7">You can always manage your Pods and Locations from the left side menu.</p>
      <!--end::Notice-->
    </div>
    <!--end::Heading-->
    <!--begin::Input group-->
    <div class="fv-row fv-plugins-icon-container">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-primary" data-action="onboard#complete">View my Dashboard</a>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Input group-->
  </div>
  <!--end::Wrapper-->
</div>