<div class="current" data-kt-stepper-element="content" data-onboard-target="step1">
  <!--begin::Wrapper-->
  <div class="w-100 text-center">
    <!--begin::Heading-->
    <div>
      <%= image_tag "9-dark.png", size: "200x200", style: "margin-top: -50px" %>
      <!--begin::Title-->
      <h2 class="page-main-title">Welcome to Radar!</h2>
      <!--end::Title-->
      <!--begin::Notice-->
      <p class="additional-text">Radar lets you analyze your internet connection and get insights on its reliability and speed.</p>
      <!--end::Notice-->
    </div>
    <!--end::Heading-->
    <!--begin::Input group-->
    <div class="fv-row fv-plugins-icon-container">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12">
          <a href="#" class="custom-button custom-button--lg custom-button--primary mx-auto" data-action="onboard#goto2">Let's get started</a>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <div>
      <p class="additional-text pt-4">We'll guide you through the first steps.</p>
    </div>
    <!--end::Input group-->
  </div>
  <!--end::Wrapper-->
</div>