<div class="dashboard--outages-metrics-container">
  <div class="dashboard--outages-metric-container">
    <p class="dashboard--outages-metric-value">8</p>
    <p class="dashboard--outages-metric-label">Outages</p>
  </div>
  <div class="dashboard--outages-metric-container">
    <p class="dashboard--outages-metric-value">98.5%</p>
    <p class="dashboard--outages-metric-label">Uptime</p>
  </div>
  <div class="dashboard--outages-metric-container">
    <p class="dashboard--outages-metric-value">2d 23h</p>
    <p class="dashboard--outages-metric-label">Total offline</p>
  </div>
</div>