@import url('./styles/fonts.css');
@import url('./styles/resets.css');
@import url('./vendor/leaflet/leaflet.css');
@import url('./styles/leaflet-overrides.css');

body {
  margin: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-opaque:hover {
  opacity: 0.8;
}

.hover-popover-option-lighter {
  background-color: #3e4040;
  border-radius: 6px;
  width: 100%;
}

.hover-popover-option-lighter:hover {
  background-color: #585b5b;
  border-radius: 6px;
  border-bottom: none;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
}

.popover-dark {
  background-color: transparent;
  border-radius: 0;
}

.popover-option--content-wrapper {
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.popover-option--content-wrapper:hover {
  border-bottom: none;
}