[Unit]
Description=Remote Tunnel of SSHD for Radar
After=sshd.service
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
ExecStart=/home/radar/radar.sh
KillMode=process
Restart=always
RestartSec=90
User=radar
Group=radar

[Install]
WantedBy=multi-user.target
