.carrousel {
  width: 100%;
  overflow-x: scroll;
  height: max-content;
}

@media (max-width: 768px) {
  .carrousel {
    scroll-padding: unset;
    scroll-snap-type: unset;
  }
}

.cardSet {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: unset;
  grid-auto-columns: 1fr;
  column-gap: 2rem;
  padding-block: 1rem;
}

.cardSet[data-variant="overview-data-collection"] {
  column-gap: 2.5rem;
}

@media (max-width: 1250px) {
  .cardSet {
    padding-inline: 2.5rem;
    width: max-content;
    column-gap: 1rem;
  }
}

@media (max-width: 768px) {
  .cardSet {
    padding-block: 1px;
    padding-inline: 1.5rem;
  }
}

.cardSet > astro-slot > div {
  scroll-snap-align: start;
  position: relative;
}

.buttonsContainer {
  width: max-content;
  margin-right: var(--side-padding);
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  padding-top: 2.5rem;
}

@media (min-width: 768px) and (max-width: 1250px) {
  .buttonsContainer {
    margin-right: 2.5rem;
  }
}

@media (max-width: 768px) {
  .buttonsContainer {
    width: 100%;
    margin: unset;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }
}

.button {
  height: 40px;
  width: 40px;
  border: solid 1.5px rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.button:not([disabled]):hover,
.button:not([disabled]):focus {
  border: solid 1.5px white;
}

.button:not([disabled]):hover > svg,
.button:not([disabled]):focus > svg {
  fill: white;
}

.button:not([disabled]):hover > svg > path[stroke-width],
.button:not([disabled]):focus > svg > path[stroke-width] {
  stroke: white;
}

.button:not([disabled]):hover > svg > path:not([stroke-width]),
.button:not([disabled]):focus > svg > path:not([stroke-width]) {
  fill: white;
}

.button[data-direction="left"] {
  transform: rotate(180deg);
}

.automaticSwitcher {
  width: fit-content;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  padding: .75rem;
  margin: 1.5rem auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.automaticDot {
  width: .5rem;
  height: .5rem;
  border-radius: .25rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
  transition: width 0.3s, border-radius 0.3s;
}

@media (pointer: fine) {
  .automaticDot:not([data-selected="true"]):hover {
    background-color: white;
  }
}

.automaticDot[data-selected="true"] {
  width: 2.5rem;
  border-radius: 4px;
  position: relative;
}

.automaticDot[data-selected="true"]::after {
  content: "";
  width: .5rem;
  height: 100%;
  border-radius: .25rem;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  animation: grow 7850ms linear forwards;
  animation-play-state: running;
}

.automaticDot[data-selected="true"][data-paused="true"]::after {
  animation-play-state: paused;
}

@keyframes grow {
  0% {
    width: .5rem;
  }
  100% {
    width: 100%;
  }
}

@media (pointer: coarse) {
  .automaticSwitcher {
    height: 4rem;
    gap: 1.5rem;
    padding: .75rem 1.5rem;
  }

  .automaticDot {
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
  }

  .automaticDot[data-selected="true"] {
    width: 4rem;
    border-radius: 2rem;
  }

  .automaticDot[data-selected="true"]::after {
    width: 1rem;
    border-radius: .5rem;
  }
}
