.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.row {
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  height: min-content;
}

@media (max-width: 768px) {
  .row {
    max-width: 100%;
    padding: 1.5rem 0;
  }
}

.column {
  width: 100%;
}

.topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .topRow {
    justify-content: flex-start;
    gap: .75rem;
  }

  .contentContainer[data-open="true"] > .topRow:has(.head) {
    align-items: flex-start;
    justify-content: flex-start;
    gap: .75rem;
  }

}

.topRow:hover > h4 {
  opacity: 0.8;
}

.topRow > * {
  pointer-events: none;
}

.head {
  font-size: 1.25rem;
  font-variation-settings: 'wght' 300;
  color: var(--text-color);
  letter-spacing: -0.4px;
  margin-right: 1rem;
  text-align: left;
}

@media (max-width: 768px) {
  .head {
    font-size: 1.125rem;
    font-variation-settings: 'wght' 300;
    letter-spacing: -0.36px;
    margin-right: 0;
  }
}

.title {
  font-size: 1.25rem;
  font-variation-settings: 'wght' 700;
  color: var(--text-color);
  letter-spacing: -0.4px;
  text-align: left;
}

@media (max-width: 768px) {
  .title {
    max-width: 75%;
    font-size: 1.125rem;
    letter-spacing: -0.36px;
  }
}

.contentContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 500ms ease;
  opacity: 0;
}

.contentContainer[data-open="true"] {
  grid-template-rows: 1fr;
  padding-top: .5rem;
  animation: fade-in 500ms ease forwards;
  animation-delay: 200ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  font-size: 1.0625rem;
  color: var(--text-color);
  line-height: 1.529;
  max-width: 80%;
  overflow: hidden;
  text-align: left;
}

@media (max-width: 768px) {
  .content {
    line-height: 1.625;
    max-width: calc(100% - 2rem);
  }

  .row:has(.topRow:has(.head)) > .topRow > .contentContainer {
    margin-left: 2rem;
  }
}

.row:has(.topRow:has(.head)) > .topRow > .contentContainer {
  padding-left: 2.5rem;
}

.row[data-open="true"] > .topRow > .title {
  color: white;
}

.button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  border: solid 1.5px rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: auto;
}

.topRow:hover > .button {
  border: solid 1.5px white;
}

.button > svg {
  transition: display 300ms ease;
}

.button > svg[data-type="plus"] {
  display: block;
}

.button > svg[data-type="minus"] {
  display: none;
}

.row[data-open="true"] > .topRow > .button > svg[data-type="plus"] {
  display: none;
}

.row[data-open="true"] > .topRow > .button > svg[data-type="minus"] {
  display: block;
}

.row[data-open="true"] > .topRow > .button {
  border: solid 1.5px white;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}