:root {
  --header-height: 4rem;
  --content-padding-top: 15rem;
  --content-padding-inline: 6.75rem;
  --content-padding-bottom: 5rem;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.container[data-is-open='false'] {
  display: none;
}

.underlay {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  cursor: pointer;
  z-index: -1;
  animation: blur-in 0.5s ease-in-out;
}

.container[data-closing='true'] > .underlay {
  animation: blur-out 0.55s ease-in-out;
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(8px);
  }
}

@keyframes blur-out {
  from {
    backdrop-filter: blur(8px);
  }
  to {
    backdrop-filter: blur(0);
  }
}

.modal {
  width: clamp(450px, 75%, 1050px);
  min-height: 300px;
  max-height: calc(100vh - 7rem);
  height: fit-content;
  border-radius: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: fade-in 0.5s ease-in-out;
  overflow-y: hidden;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  .modal {
    width: 90%;
    min-width: unset;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    top: 0;
    left: 0;
    min-width: unset;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    transform: unset;
    border-radius: 0;
  }
}

.container[data-closing='true'] > .modal {
  animation: fade-out 0.55s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    top: 60%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

@media (max-width: 768px) {
  @keyframes fade-in {
    from {
      opacity: 0;
      top: 100%;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    top: 60%;
  }
  from {
    opacity: 1;
    top: 50%;
  }
}

@media (max-width: 768px) {
  @keyframes fade-out {
    to {
      opacity: 0;
      top: 100%;
    }
    from {
      opacity: 1;
      top: 0;
    }
  }
}

.contentBody {
  padding: 18.75rem 6.75rem 5rem;
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
  overflow-x: clip;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
  scrollbar-width: thin;
}

.contentBody::-webkit-scrollbar {
  width: initial;
}
.contentBody::-webkit-scrollbar-track {
  background: initial;
}
.contentBody::-webkit-scrollbar-thumb {
  background: initial;
  border: initial;
}

@media (max-width: 1080px) {
  .contentBody {
    padding: 18.75rem 3rem 5rem;
  }
}

@media (max-width: 768px) {
  .contentBody {
    padding: 13.75rem 1.5rem 3rem;
    max-height: 100dvh;
    max-height: 100vh;
  }
}

.contentBody[data-clear-paddings='true'] {
  padding: 0;
}

.header {
  width: max-content;
  height: var(--header-height);
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
}

[aria-label="Close modal"] {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1;
  padding: .75rem;
  margin-right: 1.5rem;
}

@media (max-width: 768px) {
  [aria-label="Close modal"] {
    margin-right: 0;
  }
}

[aria-label="Close modal"] > svg {
  transform: rotate(45deg);
}

div[data-bg-image="true"] {
  width: calc(100% + 2 * var(--content-padding-inline));
  height: auto;
  aspect-ratio: 1037 / 500;
  position: absolute;
  top: calc(-1 * var(--content-padding-top) - var(--header-height));
  left: calc(-1 * var(--content-padding-inline));
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to top, transparent, var(--bg-color) 100%);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  mask-image: linear-gradient(to top, transparent, var(--bg-color) 100%);
}

.container[data-is-open="false"] > [data-type] {
  display: none;
}

.container[data-is-open="true"] > [data-type] {
  animation: fade-in 0.5s ease-in-out;
}

.container[data-closing="true"] > [data-type] {
  animation: fade-out 0.55s ease-in-out;
}