Package: radar-agent
Version: ${VERSION}-${PKG_REVISION}
Architecture: ${ARCH}
Maintainer: Exactly Labs Inc. <info@exactlylabs.com>
Section: misc
Priority: optional
Description: Radar Agent Package
 Installs the agent that runs speed tests continually
