#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export BIN_NAME?=radar_agent
export VERSION?=1.0.1
export ARCH

%:
	dh $@ --with systemd

override_dh_strip:
# TODO: dh_strip fails when using cross-compile
# It doesn't seem necessary for us though.

override_dh_auto_build:
	$(MAKE) -C./.. build

override_dh_auto_install:
	mkdir -p debian/radar-agent/usr/bin
	$(MAKE) -C./.. install INSTALL_DIR=packaging/debian/radar-agent/usr/bin
