.expansibleRowsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: .5rem;
}

@media (max-width: 768px) {
  .expansibleRowsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

.rowsContainer {
  min-width: 300px;
  width: 503px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}

@media (max-width: 768px) {
  .rowsContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.rowsContainer > div > div > p {
  max-width: 400px;
}

@media (max-width: 768px) {
  .rowsContainer > div > div > p {
    max-width: 85%;
  }
}

.imagesContainer {
  width: 608px;
  height: auto;
  aspect-ratio: 608 / 456;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  position: relative;
}

@media (max-width: 768px) {
  .imagesContainer {
    width: 100%;
  }
}

.imagesContainer > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px;
  animation: fade-in 500ms ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}