.card {
  width: 396px;
  height: 252px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  scroll-snap-align: center;
  transition: background-size 0.3s, scale 0.3s;
  display: block;
  z-index: 1;
}

@media (pointer: fine) {
  .card:hover {
    scale: 1.015;
    background-size: 102.5% 102.5%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
    aspect-ratio: 276 / 176;
    background-size: cover;
    scroll-padding-inline-start: 2rem;
  }
}

.cardLink {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2.5rem;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

@media (max-width: 768px) {
  .cardLink {
    padding: 1.5rem 1.5rem 2rem;
  }
}

@media (pointer: fine) {
  .cardLink:hover > div > button > img {
    transform: translateX(0.25rem);
  }
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(15, 14, 37, 0.6) 0%,
    rgba(15, 14, 37, 0.6) 100%
  );
  border-radius: inherit;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.title {
  width: 100%;
  max-width: 255px;
  font-size: 1.75rem;
  font-variation-settings: 'wght' 700;
  letter-spacing: -0.56px;
  color: white;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.375rem;
    letter-spacing: -0.44px;
    max-width: unset;
  }
}

.buttonContainer {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 1rem;
  font-variation-settings: 'wght' 700;
  color: white;
}