:root {
  --logos-gap: 3.5rem;
}

.scroller {
  max-width: 1024px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .scroller {
    overflow: hidden;
    -webkit-mask: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    mask: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
}

.scrollerInner {
  width: fit-content;
  display: flex;
  gap: var(--logos-gap);
  padding-block: 1px;
  flex-wrap: nowrap;
}

@media (max-width: 1024px) {
  .scrollerInner {
    animation: scroll 20s linear infinite;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - var(--logos-gap) / 2));
  }
}