.speedtest--modal-map-container {
  width: 100%;

  height: -webkit-fill-available;
  height: fill-available;

  @-moz-document url-prefix() {
    height: 100%;
    min-height: -moz-available;
  }

  &[data-is-widget="true"] {
    height: calc(100% - 165px - 45px);
  }
}