.speedtest--modal-map-container {
  width: 100%;
  height: -webkit-fill-available;
  height: -moz-fill-available;
  height: fill-available;

  &[data-is-widget="true"] {
    height: calc(100% - 165px - 45px);
  }
}