#speedtest--address-input-container {
	border: none;
	height: 56px;
	width: 100%;
	max-width: 400px;
}

#speedtest--address-input-container.speedtest--address-input-container--focused {
	outline: solid 2px rgba(75, 123, 229, 0.4);
}

#speedtest--continue-button {
	right: 10px;
}
