<div data-controller="add-account">
  <%= render partial: "accounts/modals/create/initial_step_modal" %>
  <%= render partial: "accounts/modals/create/name_step_modal" %>
  <%= render partial: "accounts/modals/create/share_step_modal" %>
</div>