<div class="cards--card-with-header">
  <div class="cards--card-header">
    <span>Privileges</span>
  </div>
  <div class="cards--card-with-header-content-container">
    <div class="cards--info-row mb-4" data-type="users">
      <label class="forms--label me-7">Role</label>
      <%= render partial: "users/components/role_badge", locals: { is_guest: member.guest? } %>
    </div>
    <div class="cards--info-row" data-type="users">
      <label class="forms--label me-7">Permissions</label>
      <%= render partial: "users/components/permissions_list", locals: { role: member.role } %>
    </div>
  </div>
</div>