.closeButton {
    display: none;
  }
  
  @media (max-width: 550px) {
    .closeButton {
      background-color: rgba(160, 159, 183, 0.2);
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -.5rem;
    }
  
    .closeButton:hover {
      opacity: 0.8;
    }
  }