@property --initial-color {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

@property --end-color {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

.mainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  transition: all 500ms;
  height: 335px;
  max-height: 335px;
}

/* Doing manual template change so we can apply a transition */
.mainContainer:has(.card[data-open="true"][data-index="0"]) {
  grid-template-columns: 2fr 1fr 1fr;
}

.mainContainer:has(.card[data-open="true"][data-index="1"]) {
  grid-template-columns: 1fr 2fr 1fr;
}

.mainContainer:has(.card[data-open="true"][data-index="2"]) {
  grid-template-columns: 1fr 1fr 2fr;
}

.card {
  padding: 2rem;
  position: relative;
  height: 335px;
  max-height: 335px;
  overflow: hidden;
  background: linear-gradient(
      180deg,
      var(--initial-color) 0%,
      var(--end-color) 100%
  );
  transition: --initial-color 250ms, --end-color 250ms;
}

.card:not([data-open="true"]):hover {
  cursor: pointer;
  opacity: 0.8;
}

.card[data-open="false"][data-first-closed="true"] {
  --initial-color: rgba(82, 93, 135, 0.2);
  --end-color: rgba(28, 35, 61, 0.2);
}

.card[data-open="false"][data-second-closed="true"] {
  --initial-color: rgba(82, 93, 135, 0.5);
  --end-color: rgba(28, 35, 61, 0.5);
}

.head {
  font-size: 1.75rem;
  font-variation-settings: 'wght' 700;
  color: var(--text-color);
  margin-bottom: 1.125rem;
}

.title {
  font-size: 1.75rem;
  font-variation-settings: 'wght' 700;
  letter-spacing: -0.56px;
  color: white;
  margin-bottom: 1rem;
}

.title[data-open="true"] {
  animation: text-appear 3.125s forwards;
}

.card[data-open="false"] > .title {
  margin-bottom: 2rem;
  max-width: 225px;
}

.content {
  font-size: 1.0625rem;
  font-variation-settings: 'wght' 400;
  color: var(--text-color);
  line-height: 1.529;
  animation: text-appear 3s forwards;
}

@keyframes text-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  height: 40px;
  width: 40px;
  border: solid 1.5px white;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 0.8;
}

.loadingBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: #4B7BE5;
  height: 2px;
  display: none;
}

.card[data-open="true"] .loadingBar {
  display: block;
  animation: loading 5s linear forwards;
}

.card[data-open="true"]:hover .loadingBar {
  display: none;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}