.carrousel {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: max-content;
  scroll-padding: var(--side-padding);
  padding-inline: 1px;
}

.itemContainer {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: max-content;
  grid-auto-flow: column;
  column-gap: 2rem;
  row-gap: 0;
  width: fit-content;
  padding-inline: var(--side-padding);
  padding-block: 1px;
}

.cardSet {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: max-content;
  grid-auto-flow: column;
  column-gap: 2rem;
  row-gap: 0;
  width: fit-content;
}

.cardSet > astro-slot > div {
  scroll-snap-align: start;
  position: relative;
}

.buttonsContainer {
  width: max-content;
  margin-right: var(--side-padding);
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  padding-top: 2.5rem;
}

.button {
  height: 40px;
  width: 40px;
  border: solid 1.5px white;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.button > svg[data-color="black"] {
  display: none;
}

.button:not([disabled]):hover > svg[data-color="white"] {
  display: none;
}

.button:not([disabled]):hover > svg[data-color="black"] {
  display: block;
}

.button:not([disabled]):hover {
  background-color: white;
}

.button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.button[data-direction="left"] {
  transform: rotate(180deg);
}