.footer {
  width: 100vw;
  padding-block: 2rem;
  padding-inline: var(--side-padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.25rem;
  position: relative;
  overflow: clip;
  max-width: var(--max-width);
  margin-inline: auto;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

@media (min-width: 1250px) {
  .footer {
    overflow-x: visible;
  }
}

@media (min-width: 768px) and (max-width: 1250px) {
  .footer {
    padding-inline: 3rem;
    gap: 2rem;
  }
}

.topRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 768px) {
  .topRow {
    justify-content: center;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3.5rem;
}

.links[data-mobile="true"] {
  display: none;
}

.links > li > a {
  font-size: 0.875rem;
  font-variation-settings: 'wght' 400;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .links[data-desktop="true"] {
    display: none;
  }

  .links[data-mobile="true"] {
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
  }
}

.bottomRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

@media (max-width: 768px) {
  .bottomRow {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
  }
}

.footerText {
  font-size: 0.875rem;
  line-height: 1.643;
  color: var(--text-color);
}

.maxWidthText {
  max-width: 624px;
}

.footerLights {
  width: var(--max-width);
  height: auto;
  z-index: -1;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(60px);
  opacity: .6;
}

@media (min-width: 1250px) {
  .footerLights {
    width: calc(var(--max-width) + 5rem);
  }
}