<div class="w-100 invisible" data-registration-target="passwordStep" data-controller="password-reveal">
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="page-main-title">Set your password</h1>
    <!--end::Title-->
  </div>

  <div class="forms--input-group d-flex flex-column mb-4">
    <!--begin::Input-->
    <input type="password" 
      autofocus="true"
      class="w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration"
      tabindex="1"
      placeholder="Password" 
      data-registration-target="passwordInput"
      data-password-reveal-target="passwordInput"
    />
    <span class="forms--input-decoration btn btn-sm btn-icon"
      data-action="click->password-reveal#toggleVisibility">
      <%= image_tag image_url("hidden-password-icon.png"), class: "invisible", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIcon" }%>
      <%= image_tag image_url("visible-password-icon.png"), class: "", width: "16", height: "16", data: { "password-reveal-target" => "eyeIcon" }%>
    </span>
    <!--end::Input-->
  </div>

  <div class="forms--input-group d-flex flex-column mb-4">
    <!--begin::Input-->
    <input type="password" 
      class="w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration"
      tabindex="2"
      placeholder="Confirm your password" 
      data-registration-target="passwordCheckInput"
      data-password-reveal-target="passwordConfirmationInput"
    />
    <span class="password-confirmation forms--input-decoration btn btn-sm btn-icon"
      data-action="click->password-reveal#toggleVisibility">
      <%= image_tag image_url("hidden-password-icon.png"), class: "invisible password-confirmation", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIconConfirmation" }%>
      <%= image_tag image_url("visible-password-icon.png"), class: "password-confirmation", width: "16", height: "16", data: { "password-reveal-target" => "eyeIconConfirmation" }%>
    </span>
    <!--end::Input-->
  </div>

  <p class="additional-text mt-6 mb-8 wrap">Your password must be at least 8 characters with letters, numbers and symbols.</p>
</div>