<div class="tables--options-menu invisible"
  id="more-options-menu-<%= index %>"
>
  <% if type == UsersAccount.name || type == Invite.name %>
    <%= render partial: "users/components/table_row_options", locals: { row: row } %>
  <% end %>
</div>