<div class="tables--row-container">
  <% if type == TablesHelper::TableTypes::MEMBERS %>
    <%= render partial: "users/components/member_row",
        locals: {
          row: row,
          widths: widths,
          type: row.class.name
        }
    %>
  <% end %>
</div>