<div class="tables--footer-container">
  <%= render partial: "application/components/tables/elements_per_page", locals: { type: type }%>
  <%= render partial: "application/components/tables/page_selector", locals: { total: count }%>
</div>