<div class="tables--titles-container">
  <% titles.each_with_index do |title, index| %>
    <div class="tables--title table-title" style="width: <%= widths[index] %>">
      <%= title[:hidden] ? '' : title[:text] %>
      <% if title[:sort] %>
        <i class="fas fa-sort"></i>
      <% end %>
      <% if title[:text] == 'Checkbox' %>
        <div class="form-check form-check-sm form-check-custom form-check-solid tables--checkbox-container" >
          <input id="check-box-select-all"
            class="form-check-input custom-multi-row-input-checkbox"
            type="checkbox"
            value="1"
            data-action="input->multi-row-table#onSelectAll"
          />
        </div>
      <% end %>
    </div>
  <% end %>
</div>