.section {
  padding-block: 7.5rem 2.5rem;
  position: relative;
}

@media (max-width: 768px) {
  .section {
    padding-block: 5rem 2.5rem;
  }
}

.gradient {
  --bottom-shift: 5px;
  width: 100%;
  height: calc(330px + var(--bottom-shift));
  position: absolute;
  bottom: calc(-1 * var(--bottom-shift));
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(15, 14, 37, 0) 0%,
    #0F0E25 100%
  );
  z-index: -1;
}

@media (max-width: 768px) {
  .gradient {
    height: 536px;
    top: var(--navbar-height);
    bottom: unset;
  }
}

.heroContainer {
  max-width: 670px;
  margin: 0 auto 2.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .heroContainer {
    max-width: calc(100% - 3rem);
  }
}

.downloadButtonContainer {
  width: fit-content;
  margin: 0 auto;
}