.section {
  padding-top: 6rem;
  position: relative;
}

.heroContainer {
  max-width: 608px;
  margin: 0 auto 4rem;
  text-align: center;
}

.light {
  width: 1000px;
  height: auto;
  aspect-ratio: 513 / 263;
  position: absolute;
  z-index: -1;
  left: -25%;
  top: 0;
}