.section {
  --top-padding: 6rem;
  width: 100vw;
  padding-block: var(--top-padding) 5rem;
  padding-inline: var(--side-padding);
  background-size: cover;
  background-position: 50% calc(-3 * var(--top-padding));
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section {
    --top-padding: 4rem;
    background-size: cover;
    background-position: 50% -300px;
    padding-block: var(--top-padding) 2rem;
  }
}

.heroContainer {
  max-width: 608px;
  margin: 0 auto 3.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .heroContainer {
    margin: 0 auto 2rem;
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 0;
  margin-block: 4rem;
  border-block: solid 1px rgba(255, 255, 255, 0.1);
}

.grid > div {
  padding: 3.5rem 2.5rem;
}

.grid > div:not(:last-child) {
  border-inline-end: solid 1px rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .grid {
    grid-auto-flow: row;
    margin-block: 2rem;
  }

  .grid > div,
  .grid > div:not(:last-child) {
    padding: 2rem 1.5rem;
    border-inline: none;
  }

  .grid > div:not(:last-child) {
    border-block-end: solid 1px rgba(255, 255, 255, 0.1);
  }
}