<div class="modal-body" style="min-width: 500px; width: max-content; display: none" data-add-account-target="step1">
  <div class="d-flex flex-column align-items-center justify-content-center" style="width: 100%">
    <!--begin::Input group-->
    <div class="fv-row mb-7 fv-plugins-icon-container text-start" style="width: 100%">
      <label class="form-label fw-bolder text-dark fs-6 required" data-add-account-target="accountNameLabel">Name</label>
      <input type="text"
             id="account_name"
             name="account_name"
             autocomplete="off"
             class="form-control form-control-lg form-control-solid"
             data-action="input->add-account#handleAccountNameChange"
             data-add-account-target="accountNameInput"
             style="width: 100%"
        />
    </div>
    <!--end::Input group-->
  </div>
</div>
<div class="modal-footer flex-row justify-content-end" data-add-account-target="step1Footer" style="display: none">
  <!--begin::LaterButton-->
  <button type="button"
          class="btn btn-secondary"
          data-action="click->add-account#goToTypeStep"
          style="height: 48px;"
  >Back</button>
  <!--end::LaterButton-->
  <!--begin::ContinueButton-->
  <button type="button"
          class="btn btn-primary disabled"
          data-action="click->add-account#submitNewAccount"
          style="height: 48px;"
          data-add-account-target="finishButton"
  >Finish</button>
  <button type="button"
          class="btn btn-primary disabled"
          style="height: 48px; display: none;"
          data-add-account-target="finishButtonLoading"
  >
    <div class="spinner-border text-light m-auto" role="status"></div>
  </button>
  <!--end::ContinueButton-->
</div>