<h1>Editing Measurement</h1>

<%= render 'form', measurement: @measurement %>

<%= link_to 'Show', location_measurement_path(@location, @measurement) %> |
<%= link_to 'Back', location_measurements_path(@location) %>
