<div class="card" style="width: 100%; height: max-content">
  <div class="card-header d-flex align-items-center" style="height: 65px">
    <div class="dialog-main-title">Scheduling</div>
  </div>
  <div class="card-body pt-0 d-flex flex-row justify-content-start align-items-start">
    <div style="margin-top: 30px; width: 60%">
      <div class="location-data--row mb-6 d-flex flex-row align-items-start justify-content-between flex-wrap">
        <div class="forms--label w-50" style="min-width: 130px">Custom Scheduling</div>
        <div class="d-flex flex-column w-100 w-xl-50">
          <p class="mb-4 <%= !client.custom_scheduling ? "additional-text" : "regular-text" %>">
            <%= client.custom_scheduling ? "Enabled" : "Disabled" %>
          </p>
          <p class="regular-text">
            <%= client.get_scheduling_periodicity_string %>
          </p>
          <% if !client.custom_scheduling %>
            <div class="d-flex flex-row justify-content-start align-items-center text-hover-light-primary" style="cursor: pointer">
              <a href="#"
                 class="regular-link"
                 data-bs-target="#manage_pod_scheduling_modal"
                 data-bs-toggle="modal"
              >
                Enable Custom Scheduling
              </a>
              <span class="svg-icon svg-icon-primary svg-icon-1x ms-1">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"/>
                  <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-start" style="width: 40%; margin-top: 30px;">
      <button type="button"
              class="custom-button custom-button--primary custom-button--lg"
              data-bs-target="#manage_pod_scheduling_modal"
              data-bs-toggle="modal"
      >Manage Custom Scheduling
      </button>
    </div>
  </div>
</div>