<%= turbo_frame_tag "change_password" do %>
  <div class="d-flex flex-wrap align-items-center">
    <div id="kt_signin_password">
      <div class="forms--label">Password</div>
      <div class="regular-text my-2">************</div>
    </div>
    <div id="kt_signin_password_button" class="ms-auto">
      <a href="<%= edit_authed_user_password_path %>" class="custom-button custom-button--secondary custom-button--sm">Change Password</a>
    </div>
  </div>
<% end %>