<div class="d-flex flex-column align-items-start justify-content-start">
  <label class="forms--label mb-2">Password</label>
  <a href="<%= edit_authed_user_password_path %>"
    class="custom-button custom-button--secondary custom-button--sm"
    data-turbo-frame="change_password_modal"
  >Change Password</a>
</div>