<div class="custom-alert invisible"
  data-controller="alert"
  data-alert-type=""
  data-placeholder="true"
  data-action="renderAlert@window->alert#renderAlert"
>
  <div class="alerts--icon-container invisible"
    data-type="error"
    data-alert-target="alertErrorIcon"
  >
    <%= image_tag image_url('alert-error-icon.png'), width: 16, height: 16 %>
  </div>
  <div class="alerts--icon-container invisible"
    data-type="success"
    data-alert-target="alertSuccessIcon"
  >
    <%= image_tag image_url('white-checkmark.png'), width: 16, height: 16 %>
  </div>
  <h4 class="card-main-title mb-0 wrap" data-alert-target="alertMessage"></h4>
  <button type="button"
    class="custom-button transparent hoverable position-relative"
    data-action="click->alert#closeAlert"
  >
    <%= image_tag image_url('close-alert-icon.png'), width: 16, height: 16, class: 'alerts--close-icon' %>
  </button>
</div>