.footer {
  width: 100vw;
  background-color: #14132D;
}

.footerContent {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 2rem 3rem;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
  overflow: clip;
}

@media (min-width: 1250px) {
  .footerContent {
    overflow-x: visible;
    padding-block: 2.5rem;
  }
}

@media (min-width: 1080px) and (max-width: 1250px) {
  .footerContent {
    padding-inline: 3rem;
    gap: 2rem;
  }
}

@media (max-width: 1080px) {
  .footerContent {
    padding-inline: 1.5rem;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    gap: 1.5rem;
  }
}

.topRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  padding-bottom: 4rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  z-index: 1;
}

@media (max-width: 1080px) {
  .topRow {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3.5rem;
}

.links[data-mobile="true"] {
  display: none;
}

.links > li > a {
  font-size: 0.875rem;
  font-variation-settings: 'wght' 400;
  color: var(--text-color);
}

.links > li > a:hover {
  color: white;
}

@media (max-width: 1080px) {
  .links[data-desktop="true"] {
    display: none;
  }

  .links[data-mobile="true"] {
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
  }
}

.bottomRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 1;
}

@media (max-width: 1080px) {
  .bottomRow {
    display: none;
  }
}

.footerText {
  font-size: 0.875rem;
  line-height: 1.643;
  color: var(--text-color);
}

.maxWidthText {
  max-width: 624px;
}

.footerLights {
  width: var(--max-width);
  height: auto;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(60px);
  opacity: .6;
  z-index: 0;
}

@media (min-width: 1250px) {
  .footerLights {
    width: calc(var(--max-width) + 5rem);
  }
}

@media (max-width: 1080px) {
  .footerLights {
    width: 300vw;
    top: 0;
    bottom: unset;
    opacity: 0.3;
  }
}

.topLeftColumn {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}

.questionsFeedbackContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;

  p {
    font-size: 0.9375rem;
    line-height: 1.467;
    font-variation-settings: 'wght' 600;
    color: var(--text-400);
  }

  a {
    font-size: 0.9375rem;
    line-height: 1.467;
    font-variation-settings: 'wght' 600;
    color: var(--text-200);
  }

  a:hover {
    color: white;
  }
}

.rightLeftColumn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4rem;
}

@media (max-width: 1250px) {
  .rightLeftColumn {
    gap: 2rem;
  }
}

.linksColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;

  span {
    text-transform: uppercase;
    color: var(--text-300);
    font-size: 0.875rem;
    letter-spacing: 0.88px;
    font-variation-settings: 'wght' 700;
    margin-bottom: 1rem;
  }

  a {
    font-size: 0.9375rem;
    line-height: 1.467;
    color: var(--text-200);
    margin-top: .75rem;
    text-decoration: none;
  }

  a:first-of-type {
    margin-top: 0;
  }

  a:hover {
    color: white;
  }
}

.bottomLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  li > a {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--text-200);
    font-variation-settings: 'wght' 600;
  }

  li > a:hover {
    color: white;
  }

  li:first-of-type > a {
    padding-right: 1rem;
    border-right: solid 1px var(--text-400);
  }
}

.responsiveContainer {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  z-index: 1;

  .questionsFeedbackContainer {
    width: 100%;
    justify-content: center;
  }

  .bottomLinks {
    width: max-content;
    margin: 0 auto 1.5rem;
  }

  .footerText {
    width: 100%;
    margin: 0 auto;
  }

  .footerText:first-of-type {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1080px) {
  .responsiveContainer {
    display: flex;
  }
}

.responsiveLogoContainer {
  margin: 0 auto;
}

.responsiveDivider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2.5rem auto 1.5rem;
}