receivers:
  hostmetrics:
    collection_interval: 60s
    scrapers:
      cpu:
      disk:
      filesystem:
        exclude_mount_points:
          mount_points:
            - ".*/proc/sys/fs/binfmt_misc"
            - ".*/run/docker/netns/.*"
            - ".*/var/lib/docker/.*"
            - ".*/snap/.*"
          match_type: regexp
        exclude_fs_types:
          fs_types: [binfmt_misc, nsfs, tmpfs, devtmpfs]
          match_type: strict
      load:
      memory:

  journald:
    priority: crit

processors:
  batch:
    timeout: 60s

  resource/host:
    attributes:
      - key: host.name
        value: "{{ ansible_hostname }}"
        action: upsert
      - key: service.name
        value: otel-host-metrics
        action: upsert
      - key: service.namespace
        value: infrastructure
        action: upsert

  resource/journald:
    attributes:
      - key: host.name
        value: "{{ ansible_hostname }}"
        action: upsert
      - key: source
        value: journald
        action: upsert
      - key: job
        value: critical-events
        action: upsert

exporters:
  otlp_grpc:
    endpoint: "radar-swarm-01:4317"
    compression: gzip
    tls:
      insecure: true

service:
  pipelines:
    metrics/host:
      receivers: [hostmetrics]
      processors: [resource/host, batch]
      exporters: [otlp_grpc]
    logs/journald:
      receivers: [journald]
      processors: [resource/journald, batch]
      exporters: [otlp_grpc]
