[Unit]
Description = Mlab Ingestor
After = network-online.target
Wants = network-online.target

[Service]
User=postgres
ExecStart = /usr/local/bin/mlab-ingestor
Restart = on-failure
RestartSec = 10s
Environment=DB_PORT=5432
Environment=DB_NAME=mlab-mapping
Environment=DB_USER=ingestor
Environment=DB_PASSWORD=${DBPASSWORD}
Environment=DB_HOST=localhost

[Install]
WantedBy = multi-user.target
