<div class="card d-xl-block d-md-none" style="width: calc(100% - 16% - 30px); height: max-content" id="client-details">
  <%= render partial: "clients/client_details_card_content", locals: {client: client} %>
</div>

<div class="card d-md-block d-xl-none" style="width: calc(100% - 8% - 30px); height: max-content" id="client-details">
  <%= render partial: "clients/client_details_card_content", locals: {client: client} %>
</div>
