<div class="fv-row mb-7 fv-plugins-icon-container" id="client-locations-dropdown">
  <label class="required fs-6 fw-bold mb-2">Location</label>
  <%= form.collection_select :location_id, locations, :id, :name, { include_blank: "" }, {class: "form-select", data: { controller: "select2", "select2-blanks-value" => true, placeholder: "Select a Location" } } %>
</div>