.heroSection {
  width: 100%;
  text-align: center;
  max-width: 668px;
  margin-inline: auto;
  box-sizing: border-box;
  padding-top: 7.75rem;
  padding-bottom: 7.5rem;
}

@media (max-width: 768px) {
  .heroSection {
    max-width: calc(100% - 3rem);
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
}

.pilotProgramSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  .pilotProgramSection {
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 5.5rem;
    justify-content: center;
  }
}

.pilotProgramSection > img {
  margin-top: -100px;
  width: 50%;
  height: auto;
  min-width: 400px;
}

@media (max-width: 768px) {
  .pilotProgramSection > img {
    margin-inline: auto;
  }
}

@media (max-width: 500px) {
  .pilotProgramSection > img {
    width: 100vw;
    margin-left: -2rem;
  }
}

.pilotHeroContainer {
  max-width: 608px;
  min-width: 375px;
}

@media (max-width: 768px) {
  .pilotHeroContainer {
    max-width: 100%;
    min-width: unset;
  }
}

.dataCollectionHeroContainer {
  max-width: 608px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .dataCollectionHeroContainer {
    padding-bottom: 3rem;
  }
}

.projectMetricsSection {
  width: 100%;
  padding-block: 6rem;
  padding-inline: 2rem;
  background: linear-gradient(
    180deg,
    rgba(75, 123, 229, 0.1) 0%,
    rgba(75, 123, 229, 0) 100%
  );
  position: relative;
  margin-top: 7rem;
}

@media (max-width: 768px) {
  .projectMetricsSection {
    padding-block: 3.5rem;
    margin-top: 5.5rem;
  }
}

.projectMetricsContent {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}

.projectMetricsHeroContainer {
  max-width: 608px;
  text-align: left;
  padding-bottom: 3.5rem;
}

.enablingCommunitiesSection {
  padding-top: 4.5rem;
  padding-bottom: 6.5rem;
}

@media (max-width: 768px) {
  .enablingCommunitiesSection {
    padding-top: 2rem;
  }
}

.enablingCommunitiesHeroContainer {
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3.5rem;
}

@media (max-width: 768px) {
  .enablingCommunitiesHeroContainer {
    text-align: left;
    margin: 0;
    max-width: calc(100% - 3rem);
  }
}

.projectLeadershipSection {
  padding-bottom: 7.5rem;
  width: 100%;
  position: relative;
  overflow: clip;
  background: linear-gradient(
      180deg,
      rgba(75, 123, 229, 0.1) 0%,
      rgba(75, 123, 229, 0) 100%
  );
  padding-top: 6rem;
}

@media (max-width: 768px) {
  .projectLeadershipSection {
    padding: 3.5rem 1.5rem 5.5rem;
  }
}

.projectLeadershipContent {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}

.projectLeadershipHeroContainer {
  max-width: 608px;
  text-align: left;
  padding-bottom: 4rem;
  position: relative;
}

@media (max-width: 768px) {
  .projectLeadershipHeroContainer {
    max-width: calc(100% - 3rem);
  }
}

.communityLeadPartnersHero {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 5.5rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .communityLeadPartnersHero {
    flex-direction: column;
    gap: 3rem;
    padding: 0 0 3rem;
  }
}

.communityLeadPartnersHeroContainer {
  text-align: left;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .communityLeadPartnersHeroContainer {
    max-width: 100%;
  }
}

.communityLeadPartnersHeroImage {
  width: 50%;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 504px;
  height: auto;
  aspect-ratio: 504 / 342;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .communityLeadPartnersHeroImage {
    width: 100%;
    margin-inline: auto;
    max-width: 600px;
  }
}

.projectLeadershipLight {
  position: absolute;
  top: -350px;
  right: -130%;
  z-index: -1;
}

@media (max-width: 768px) {
  .projectLeadershipLight {
    top: -350px;
    right: -75%;
  }
}

.blueGradientZigZagLight {
  position: absolute;
  top: -450px;
  left: -950px;
  height: 1498.25px;
  aspect-ratio: 6020 / 5993;
  z-index: -1;
}

.yellowPinkHorizontalLight {
  position: absolute;
  top: -100px;
  right: -950px;
  height: 768px;
  aspect-ratio: 1188 / 768;
  z-index: -1;
}

.yellowPinkZigZagLight {
  position: absolute;
  top: 550px;
  left: -450px;
  height: 1155.5px;
  aspect-ratio: 4641 / 4622;
  z-index: -1;
}

.greenBlueZigZagSmallLight {
  position: absolute;
  top: 400px;
  right: -550px;
  height: 1498.25px;
  aspect-ratio: 6020 / 5993;
  z-index: -1;
}

.dotsGrid {
  position: absolute;
  top: -40px;
  left: 50%;
  z-index: -1;
  height: 460px;
  aspect-ratio: 772 / 460;
}

.blueGradientZigZagBluredLight {
  position: absolute;
  top: -200px;
  right: -250px;
  height: 698px;
  aspect-ratio: 1063 / 698;
  z-index: -1;
}

.enablingCommunitiesSection > .dotsGrid {
  position: absolute;
  top: -150px;
  left: 50%;
  z-index: -1;
  height: 460px;
  aspect-ratio: 772 / 460;
}

.pinkYellowHorizontalLight {
  position: absolute;
  top: -400px;
  left: 50%;
  z-index: -1;
  height: 914px;
  aspect-ratio: 1422 / 914;
}

.blueGradientHorizontalLight {
  position: absolute;
  top: -100px;
  left: -600px;
  z-index: -1;
  height: 759px;
  aspect-ratio: 1139 / 759;
}

@media (max-width: 768px) {
  .yellowPinkZigZagLight {
    display: none;
  }

  .greenBlueZigZagSmallLight {
    display: none;
  }

  .blueGradientHorizontalLight {
    top: -300px;
  }

  .pinkYellowHorizontalLight {
    top: -500px;
  }
}


.flyingLine {
  height: 2px;
  width: 400px;
  position: absolute;
  left: -100%;
  bottom: 0;
  z-index: 100;
  background: linear-gradient(
      90deg,
      rgba(75, 123, 229, 0) 0%,
      rgba(75, 123, 229, 0.2) 100%
  );
  animation: fly 5s infinite;
}

@keyframes fly {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 768px) {
  .flyingLine {
    display: none;
  }
}

.theStudySection {;
  padding-bottom: 7.5rem;
}

@media (max-width: 768px) {
  .theStudySection {
    padding-bottom: 4rem;
  }
}

.stateStudyTopContent {
  overflow: clip;
  background: linear-gradient(
    180deg,
    rgba(75, 123, 229, 0.1) 0%,
    rgba(75, 123, 229, 0) 100%
  );

  .stateStudyTopContentContainer {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 7.5rem;

    img {
      width: 45%;
      max-width: 650px;
      height: auto;
      aspect-ratio: 652 / 415;
      flex-basis: 400px;
      flex-shrink: 1;
      flex-grow: 1;
      margin-top: -50px;
      margin-right: -50px;
    }

    div {
      width: 50%;
      max-width: 608px;
      text-align: left;
      flex-basis: 300px;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
}

@media (max-width: 768px) {
  .stateStudyTopContent {
    .stateStudyTopContentContainer {
      padding-top: 3.5rem;
      max-width: unset;
      padding-inline: var(--side-padding);
      gap: 1.5rem;
      margin-bottom: 2.5rem;

      img {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        max-width: 100%;
      }
    }
  }
}

.stateStudyGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  border-block: solid 1px rgba(255, 255, 255, 0.1);
  padding: 0;
  max-width: var(--max-width);
  margin: 0 auto;
}

.stateStudyGrid > div:first-of-type {
  padding-block: 3.5rem;
  padding-inline: 1.5rem 3rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

.stateStudyGrid > div:nth-child(2) {
  padding-block: 3.5rem;
  padding-inline: 2.5rem 2rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.stateStudyGrid > div:nth-child(3) {
  padding-block: 3.5rem;
  padding-inline: 1.5rem 3rem;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

.stateStudyGrid > div:last-of-type {
  padding-block: 3.5rem;
  padding-inline: 2.5rem 2rem;
}

@media (max-width: 768px) {
  .stateStudyGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0;
  }

  .stateStudyGrid > div:first-of-type,
  .stateStudyGrid > div:nth-child(2),
  .stateStudyGrid > div:nth-child(3) {
    padding-block: unset;
    padding-inline: unset;
    padding: 2rem 1.5rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  .stateStudyGrid > div:last-of-type {
    padding-block: unset;
    padding-inline: unset;
    padding: 2rem 1.5rem;
  }
}