.firstSection {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  padding-top: 8.75rem;
}

@media (max-width: 768px) {
  .firstSection {
    padding-top: 2.5rem;
  }
}

.downloadButtonContainer {
  width: fit-content;
  margin: 2.5rem auto 0;
}

@media (max-width: 768px) {
  .downloadButtonContainer {
    margin: 1.5rem auto 0;
  }
}

.evaluationResultsSection {
  padding-top: 5rem;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .evaluationResultsSection {
    gap: 0;
    padding-bottom: 5rem;
  }
}

.evaluationResultsTop {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3.75rem;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .evaluationResultsTop {
    gap: 3rem;
    padding-bottom: 3rem;
  }
}

.evaluationResultsHeroContainer {
  padding-top: 1.5rem;
  width: calc(50% - 2rem);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
}

.evaluationResultsHeroContainer > a {
  margin-bottom: 0;
  margin-top: auto;
}

.sidePicturesContainer {
  width: calc(50% - 2rem);
  max-width: 552px;
  aspect-ratio: 552 / 396;
  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
}

.sidePicturesContainer > img {
  width: 100%;
  height: auto;
}

.evaluationGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0;
  border-block: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .evaluationGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

.evaluationGrid > div {
  padding: 3rem 2.5rem 3rem 1.5rem;
}

.evaluationGrid > div:nth-child(2),
.evaluationGrid > div:nth-child(5) {
  padding: 3rem 2.5rem 3rem 2.5rem;
}

.evaluationGrid > div:nth-child(3) {
  padding: 3rem 1.5rem 3rem 2.5rem;
}

@media (max-width: 768px) {
  .evaluationGrid > div,
  .evaluationGrid > div:nth-child(2),
  .evaluationGrid > div:nth-child(3),
  .evaluationGrid > div:nth-child(4),
  .evaluationGrid > div:nth-child(5) {
    padding: 2rem 0;
  }
}

.evaluationGrid > div:nth-child(1),
.evaluationGrid > div:nth-child(2),
.evaluationGrid > div:nth-child(4),
.evaluationGrid > div:nth-child(5) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.evaluationGrid > div:nth-child(1),
.evaluationGrid > div:nth-child(2),
.evaluationGrid > div:nth-child(3) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .evaluationGrid > div:nth-child(1),
  .evaluationGrid > div:nth-child(2),
  .evaluationGrid > div:nth-child(4),
  .evaluationGrid > div:nth-child(5) {
    border-right: none;
  }

  .evaluationGrid > div:nth-child(5) {
    border-bottom: none;
  }
}

.stateFindingsSection {
  padding-bottom: 7.5rem;
}

@media (max-width: 768px) {
  .stateFindingsSection {
    padding-bottom: 5rem;
  }
}

.stateFindingsHeroContainer {
  max-width: 608px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4rem;
  position: relative;
}

@media (max-width: 768px) {
  .stateFindingsHeroContainer {
    padding-inline: var(--side-padding);
  }
}

.carrouselRef {
  width: calc(100vw - 3rem);
  margin: 0 auto;
  max-width: var(--max-width);
}

.implementationFindingsSection {
  padding-bottom: 6rem;
}

@media (max-width: 768px) {
  .implementationFindingsSection {
    padding-bottom: 5rem;
  }
}

.implementationFindingsImageContainer {
  width: calc(50% - 2rem);
  max-width: 500px;
  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .implementationFindingsImageContainer {
    max-width: unset;
  }
}

.implementationFindingsImageContainer > img {
  width: 100%;
  height: auto;
}

.implementationFindingsHeroContainer {
  width: calc(50% - 2rem);
  max-width: 609px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
}

.implementationGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0;
  border-block: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .implementationGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

.implementationGrid > div,
.implementationGrid > div:nth-child(3) {
  padding: 3.5rem 3rem 3.5rem 1.5rem;
}

.implementationGrid > div:nth-child(2),
.implementationGrid > div:nth-child(4) {
  padding: 3.5rem 2rem 3.5rem 2.5rem;
}

.implementationGrid > div:nth-child(1),
.implementationGrid > div:nth-child(3) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.implementationGrid > div:nth-child(1),
.implementationGrid > div:nth-child(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .implementationGrid > div {
    padding: 2rem 0;
  }

  .implementationGrid > div:nth-child(1),
  .implementationGrid > div:nth-child(3) {
    border-right: none;
  }

  .implementationGrid > div:nth-child(4) {
    border-bottom: none;
  }

  .implementationGrid > div > div > svg {
    width: 20px;
    height: 20px;
  }

  .implementationGrid > div:nth-child(1),
  .implementationGrid > div:nth-child(2),
  .implementationGrid > div:nth-child(3),
  .implementationGrid > div:nth-child(4) {
    padding: 2rem 0;
  }
}

.leftLight {
  position: absolute;
  z-index: -1;
  width: 1450px;
  height: auto;
  aspect-ratio: 966 / 446;
  top: -100%;
  left: -150%;
}

.rightLight {
  position: absolute;
  z-index: -1;
  width: 1080px;
  height: auto;
  aspect-ratio: 677 / 171;
  top: 0;
  right: -125%;
}

@media (max-width: 768px) {
  .leftLight {
    top: -90%;
    left: -250%;
  }

  .rightLight {
    display: none;
  }
}