.firstSection {
  padding-top: 140px;
  width: 100%;
  max-width: 840px;
  text-align: center;
  margin-inline: auto;
  box-sizing: border-box;
  height: 700px;
}

@media (max-width: 768px) {
  .firstSection {
    padding-top: 4rem;
  }
}

.heroSection {
  width: 100%;
  text-align: center;
  max-width: 668px;
  margin-inline: auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .heroSection {
    max-width: 345px;
  }
}

.buttonsContainer {
  padding-top: 2.625rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .buttonsContainer {
    width: max-content;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
  }

  .buttonsContainer > button,
  .buttonsContainer > a {
    width: 100%;
  }
}

.partnersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5.5rem;
}

@media (max-width: 768px) {
  .partnersContainer {
    padding-top: 4rem;
    max-width: 360px;
    margin-inline: auto;
  }
}

.partnersTitle {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-variation-settings: 'wght' 700;
  letter-spacing: 0.88px;
  color: var(--text-300);
  margin: 0 auto 2rem;
}

.approachHero {
  width: 100%;
  max-width: 609px;
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

.secondSection {
  width: 100%;
  padding-top: 4.55rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8.625rem;
  padding-bottom: 3rem;
}

@media (max-width: 768px) {
  .secondSection {
    padding-top: 6rem;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .fadedIcons {
    width: 100%;
    height: auto;
    margin-left: 2rem;
  }
}

.gradientIconContainer {
  width: 494px;
  height: 288px;
  border-radius: 17px;
  backdrop-filter: blur(10px);
  filter: blur(10px);
  position: relative;
}

.flyingLine {
  height: 2px;
  width: 400px;
  position: absolute;
  left: -100%;
  bottom: -3rem;
  z-index: 100;
  background: linear-gradient(
    90deg,
    #05041A 0%,
    rgba(75, 123, 229, 0.2) 100%);
  animation: fly 5s infinite;
}

.flyingLine[data-reverse='true'] {
  top: 3rem;
  bottom: unset;
  transform: rotate(180deg);
  animation: fly 7s infinite reverse;
}

@keyframes fly {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 768px) {
  .flyingLine {
    display: none;
  }
}

.cardsSection {
  padding-top: 7.125rem;
  padding-bottom: 8rem;
}

@media (max-width: 768px) {
  .cardsSection {
    padding-top: 3rem;
    padding-bottom: 5.5rem;
  }
}

.findingsSection {
  width: 100%;
  height: 850px;
  position: relative;
}

@media (max-width: 768px) {
  .findingsSection {
    height: max-content;
  }
}

.findingsGradientImage {
  width: 100vw;
  height: 494px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  overflow: hidden;
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(15, 14, 37, 0.65) 0%,
    #0F0E25 100%);
}

.oldMan {
  aspect-ratio: 1600 / 600;
  width: 1600px;
  height: auto;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-mask-image:
      linear-gradient(to left, transparent, var(--bg-color) 10%),
      linear-gradient(to right, transparent, var(--bg-color) 10%);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  mask-image:
      linear-gradient(to left, transparent, var(--bg-color) 10%),
      linear-gradient(to right, transparent, var(--bg-color) 10%);
}

@media (max-width: 768px) {
  .findingsGradient {
    box-shadow: none;
  }
}

.findingsTextContainer {
  text-align: left;
  padding-top: 6rem;
  z-index: 1;
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .findingsTextContainer {
    padding-top: 3.5rem;
  }
}

.findingsHeroContainer {
  max-width: 609px;
  text-align: left;
}

@media (max-width: 768px) {
  .findingsHeroContainer {
    max-width: 100%;
  }
}

.findingsButtonContainer {
  margin-top: 2rem;
}

.findingsCarrouselContainer {
  margin-top: 5.5rem;
}

@media (max-width: 768px) {
  .findingsCarrouselContainer {
    margin-top: 3rem;
  }
}

.storiesSection {
  padding-top: 7.5rem;
}

@media (max-width: 768px) {
  .storiesSection {
    padding-top: 5.5rem;
  }
}

.storiesHeroContainer {
  max-width: 608px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .storiesHeroContainer {
    max-width: 100%;
    gap: 1.5rem;
  }
}

.opportunitiesSection {
  padding-top: 8rem;
}

@media (max-width: 768px) {
  .opportunitiesSection {
    padding-top: 5.5rem;
  }
}

.opportunitiesHero {
  width: 100%;
  max-width: 609px;
  margin-inline: 0;
  text-align: left;
}

.storiesCarrouselContainer {
  margin-top: 5.5rem;
}

@media (max-width: 768px) {
  .storiesCarrouselContainer {
    margin-top: 3rem;
  }
}

.resourcesSection {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 5.5rem;
}

@media (max-width: 768px) {
  .resourcesSection {
    max-width: 100%;
    margin-bottom: 3rem;
    margin-inline: 0;
    padding-inline: 0;
    padding-top: 5.5rem;
  }
}

.resourcesHeroContainer {
  max-width: 608px;
  text-align: center;
  margin: 0 auto 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .resourcesHeroContainer {
    max-width: 100%;
    gap: 1.5rem;
    margin: 0 0 3rem;
  }
}

.blueGradientDiagonalLight {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -500px;
}

.yellowPinkHorizontalLight {
  position: absolute;
  z-index: -1;
  top: 50px;
  right: -900px;
}

.blueGradientHorizontalLight {
  position: absolute;
  z-index: -1;
  top: -250px;
  left: -700px;
}

.blueGradientConcavedLight {
  position: absolute;
  z-index: -1;
  top: -200px;
  right: -500px;
}

@media (max-width: 768px) {
  .blueGradientHorizontalLight {
    left:-500px;
  }
  .blueGradientConcavedLight {
    display: none;
  }
}

.blueGradientZigZagSmallLight {
  position: absolute;
  z-index: -1;
  top: -400px;
  right: -350px;
}

.yellowPinkZigZagBluredSmallLight {
  position: absolute;
  z-index: -1;
  height: 657px;
  aspect-ratio: 985 / 657;
  top: -50px;
  left: -400px;
}