.section {
  margin: 8rem auto;
  max-width: 1248px;
  margin-inline: auto;
}

.sectionsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.introductionSection {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-bottom: 112px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.summaries {
  box-sizing: border-box; 
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: flex-start;
  padding: 0 1.5rem;
  border-top: solid 1px rgba(255, 255, 255, 0.1); 
  border-bottom: solid 1px rgba(255, 255, 255, 0.1); 
  gap: 2.5rem;
  height: 300px;
}

.verticalDivider {
  width: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
}

.exploreOpportunitiesSection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.exploreOpportunitiesHeader {
  max-width: 608px;
  margin-inline: auto;
  text-align: center;
}

