<div class="container-xxl" style="<%= locations.length == 0 ? 'max-width: 700px' : ''%>" id="location_container_dynamic">
    <% if notice %>
      <%= render partial: "application/notice_alert", locals: {notice: notice} %>
    <% end %>
    <!--begin::Card-->
    <div class="card">
        <div class="card-body pt-0">
            <% if locations.length > 0 %>
            <!--begin::Table-->
            <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">
                <!--begin::Table head-->
                <thead>
                    <!--begin::Table row-->
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Location Name" style="width: 132.146px;">Name</th>
                    <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Address" style="width: 149.958px;">Address</th>
                    <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 98.0417px;">Actions</th></tr>
                    <!--end::Table row-->
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody class="fw-bold text-gray-600" id="locations">
                <% locations.order("LOWER(name)").each do |location| %>
                    <%= render "location", location: location %>
                <% end %>
                </tbody>
                    <!--end::Action=-->
                <!--end::Table body-->
                </table>
            </div>
            </div>
            <!--end::Table-->
            <% else %>
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="d-flex justify-content-center align-items-center" 
                    style="margin: 50px auto 30px auto; border-radius: 50%; background-color: #f1faff; 
                            min-width: 60px; width: 60px; min-height: 60px; height: 60px;">
                    <span class="svg-icon svg-icon-primary">
                    <svg class="h-30px w-30px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="black"/>
                        <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="black"/>
                    </svg>
                    </span>
                </div>
                <div class="fw-bolder" style="margin-bottom: 20px; font-size: 20px">You currently have no Locations set up.</div>
                <div class="" style="margin-bottom: 30px; font-size: 14px; color: #b5b5c3">Add locations to keep your Pods organized</div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_location_modal"
                        style="margin-bottom: 50px">Add Location</button>
            </div>
            <% end %>
        </div>
    </div>
</div>