<%= turbo_frame_tag "edit_location_modal" do %>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <%= render partial: "application/components/modals/modal_header", locals: {title: "Edit Location"} %>
      <%= render 'form', location: @location, submit_name: "Update", data_target: nil %>
    </div>
  </div>
<% end %>
