<%= turbo_frame_tag "new_location_modal" do %>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <%= render partial: "application/components/modals/modal_header", locals: {title: "Add Location"} %>
      <%= render 'form', location: @location, submit_name: "Create", data_target: params[:data_target], modal_target: params[:modal_target] %>
    </div>
  </div>
<% end %>
