:root {
  --layers-panel-width: 375px;
}

.container {
  position: absolute;
  bottom: 80px;
  right: 0;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
  gap: 0;
}

.container[data-open='false'] {
  bottom: 100%;
}

.container[data-open='true'] {
  bottom: 80px;
}

@media (max-width: 700px) {

  .container {
    width: var(--layers-panel-width);
    height: 100%;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    border: none;
    margin: 0;
    gap: 1.5rem;
    border-radius: 0;
    transition: right 0.5s ease-in-out;
  }

  .container[data-open='true'] {
    right: 0;
    bottom: 0;
  }

  .container[data-open='false'] {
    right: -100%;
  }
}

@media (max-width: 550px) {
  .container {
    right: none;
    width: 100%;
    height: unset;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    border: none;
    margin: 0;
    gap: 1.5rem;
    border-radius: .75rem .75rem 0 0;
    transition: bottom 0.5s ease-in-out;
  }

  .container[data-open='true'] {
    bottom: 0;
  }

  .container[data-open='false'] {
    bottom: -100%;
  }
}


.closeButtonContainer {
  display: none;
}

@media (max-width: 700px) {
  .closeButtonContainer {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1rem;

  }
}

.layersContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5rem;
}

@media (max-width: 700px) {
  .layersContainer {
    padding: 0;
  }

}

.title {
  font-size: .875rem;
  font-variation-settings: 'wght' 600;
  color: #6D6A94;
}

.optionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 0;
  cursor: pointer;
  font-size: 1rem;
  color: #110E4C;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 4px;
}

.option:hover {
  opacity: 0.8;
}

.option>img {
  visibility: hidden;
}

.option[data-active="true"]>img {
  visibility: visible;
}

@media (max-width: 700px) {
  .option {
    border-bottom: solid 1px #E3E3E8;
  }
}

.option[data-active='true'] {
  font-variation-settings: 'wght' 700;
}

.classificationContainer {
  display: none;
}

@media (max-width: 700px) {
  .classificationContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}

.helpContainer {
  display: flex;
  padding: 0.75rem;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #F6F7FA;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.helpContainer:hover {
  background-color: #E9E9F4;
}

@media (max-width: 700px) {
  .helpContainer {
    padding: 0;
    background-color: transparent;
  }

  .helpContainer:hover {
    background-color: transparent;
  }
}

.helpButton {
  color: #6D6A94;
  font-size: .875rem;
  font-variation-settings: 'wght' 600;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.applyContainer {
  display: none;
}

.applyButton {
  display: none;
}

@media (max-width: 700px) {
  .applyContainer {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 1.5rem;
    border-top: solid 1px #E3E3E8;
    box-sizing: border-box;
  }

  .applyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 3.75rem;
    margin-inline: auto;
    height: var(--button-height);
    padding: 0 0.75rem;
    border-radius: 1.5rem;
    background-color: #4B7BE5;
    color: white;
    box-shadow: 0 4px 15px -2px rgba(75, 123, 229, 0.5);
    font-family: 'MulishBold', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .applyButton:hover {
    opacity: 0.8;
  }

}