<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product 
    Name='RadarAgent' 
    Id='*' 
    UpgradeCode='F9A36E92-65D1-422B-B412-435F30B26740'
    Language='1033' 
    Codepage='1252' 
    Version='${VERSION}' 
    Manufacturer='Exactly Labs, Inc.'
  >

    <Package 
      InstallScope="perMachine"
      Keywords='Installer' 
      Description="Radar's Agent to run speedtests"
      Manufacturer='Exactly Labs, Inc.'
      InstallerVersion='200' 
      Languages='1033' 
      Compressed='yes' 
      SummaryCodepage='1252' 
    />
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <Media Id='1' Cabinet='RadarAgent.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="RadarAgent Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='AppDataFolder' Name='AppData'>
        <Directory Id='Exactlylabs' Name='Exactlylabs'>
          <Directory Id='INSTALLDIR' Name='Radar'>
            <Component Id='radarAgent.exe' Guid='*'>
              <File Id="radarAgent.exe" Name='radarAgent.exe' DiskId='1' Source='radar-agent.exe' Vital='yes' KeyPath='yes'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='MainApplication' Title="Main Application" Level='1'>
      <ComponentRef Id='radarAgent.exe' />
      
    </Feature>
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <CustomAction Id='InstallService' Directory='INSTALLDIR' FileKey='radarAgent.exe' Execute="deferred"  Return="ignore" ExeCommand='-service install'/>
    <CustomAction Id='StartService' Directory='INSTALLDIR' FileKey='radarAgent.exe' Execute="deferred"  Return="ignore" ExeCommand='-service start'/>

    <CustomAction Id='UninstallService' Directory='INSTALLDIR' FileKey='radarAgent.exe' Execute="deferred" Return="ignore" ExeCommand='-service uninstall'/>
    <CustomAction Id='StopService' Directory='INSTALLDIR' FileKey='radarAgent.exe' Execute="deferred" Return="ignore" ExeCommand='-service stop'/>

    <InstallExecuteSequence>
      <Custom Action='StopService' Sequence='3399' >Installed</Custom>
      <Custom Action='UninstallService' Sequence='3400' >Installed</Custom>
      <Custom Action='InstallService' Sequence='6101' >NOT Installed OR (WIX_UPGRADE_DETECTED AND NOT (REMOVE="ALL"))</Custom>
      <Custom Action='StartService' Sequence='6102' >NOT Installed OR (WIX_UPGRADE_DETECTED AND NOT (REMOVE="ALL"))</Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>
