<div class="cards--card-with-header">
  <div class="cards--card-header">
    <span>Average speeds</span>
  </div>
  <div class="cards--card-with-header-content-container">
    <%= render partial: "application/components/speed_filters",
        locals: {
          resource_id: network.id,
          speed_average_path: method(:speed_average_location_path)
        }
    %>
    <%= turbo_frame_tag "network-speed-averages" do %>
      <%= render partial: "networks/components/speed_cells",
          locals: {
            download_avg: @download_avg.present? ? "#{@download_avg}" : '-',
            download_expected: @location.expected_mbps_down.present? ? "#{@location.expected_mbps_down.round(2)}" : '-',
            download_diff: @download_diff.present? ? @download_diff : "-",
            upload_avg: @upload_avg.present? ? "#{@upload_avg}" : '-',
            upload_expected: @location.expected_mbps_up.present? ? "#{@location.expected_mbps_up.round(2)}" : '-',
            upload_diff: @upload_diff.present? ? @upload_diff : "-",
          }
      %>
    <% end %>
    <%= link_to "View all measurements", location_measurements_path(network), class: "w-100 custom-button custom-button--secondary custom-button--lg" %>
  </div>
</div>