<select class="form-select select2-hidden-accessible networks--speed-filters-dropdown"
  tabindex="-1"
  data-controller="select2"
  style="background-color: #f5f8fa;"
  data-remove-searchbar="true"
  data-action="select2-select->speed-filters#switchDropdownFilter"
  id="speed-filters-select"
>
  <option value="all_time" label="All time" data-speed-filters-target="dropdownFilter" selected>All time</option>
  <option value="this_year" label="This year" data-speed-filters-target="dropdownFilter">This year</option>
  <option value="this_month" label="This month" data-speed-filters-target="dropdownFilter">This month</option>
  <option value="today" label="Today" data-speed-filters-target="dropdownFilter">Today</option>
</select>