<div class="modal-dialog" style="width: max-content; max-width: none;" data-controller="add-user">
  <div class="modal-content" style="width: max-content">
    <div class="modal-header">
      <h5 class="modal-title" style="font-size: 20px; color: #191c31;">Add User</h5>
      <!--begin::Close-->
      <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
        <span class="svg-icon svg-icon-muted svg-icon-2hx" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"/>
                <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="black"/>
                <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="black"/>
            </svg>
        </span>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <form action="/invites" method="post">
      <div class="modal-body" style="width: max-content; padding-left: 60px; padding-right: 60px">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <span class="svg-icon svg-icon-primary svg-icon-5hx">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z" fill="black"/>
              <path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z" fill="black"/>
            </svg>
          </span>
          <div class="d-flex flex-row justify-content-between mt-5">
            <div class="fv-row mb-7 fv-plugins-icon-container text-start me-5" style="width: 100%">
              <label class="form-label fw-bolder text-dark fs-6 required" data-add-account-target="accountNameLabel">First Name</label>
              <input type="text"
                     id="first_name"
                     name="invite[first_name]"
                     autocomplete="off"
                     class="form-control form-control-lg form-control-solid"
                     style="width: 100%"
                     placeholder="E.g. Joe"
                     data-action="input->add-user#handleInputChange keydown->add-user#handleKeydown"
                />
            </div>
            <div class="fv-row mb-7 fv-plugins-icon-container text-start" style="width: 100%">
              <label class="form-label fw-bolder text-dark fs-6 required" data-add-account-target="accountNameLabel">Last Name</label>
              <input type="text"
                     id="last_name"
                     name="invite[last_name]"
                     autocomplete="off"
                     class="form-control form-control-lg form-control-solid"
                     style="width: 100%"
                     placeholder="E.g. Parker"
                     data-action="input->add-user#handleInputChange keydown->add-user#handleKeydown"
                />
            </div>
          </div>
          <div class="fv-row mb-7 fv-plugins-icon-container text-start" style="width: 100%">
            <label class="form-label fw-bolder text-dark fs-6 required" data-add-account-target="accountNameLabel">Email address</label>
            <input type="email"
                   id="email"
                   name="invite[email]"
                   autocomplete="off"
                   class="form-control form-control-lg form-control-solid"
                   style="width: 100%"
                   placeholder="E.g. joe@email.com"
                   data-action="input->add-user#handleInputChange keydown->add-user#handleKeydown"
              />
            <div class="text-gray-400 fw-bolder fs-8 mt-2">An email invite will be sent to this address</div>
          </div>
          <% if current_account.is_all_accounts? %>
            <div class="fv-row mb-7 fv-plugins-icon-container w-100">
              <label class="fs-6 fw-bolder mb-2 required">Account</label>
              <select class="form-select"
                      data-controller="select2"
                      id="client-accounts-dropdown"
                      data-placeholder="Select an account"
                      name="invite[account_id]"
                      data-select2-id="select2-data-account_id"
                      tabindex="-1"
              >
                <% policy_scope(Account).each do |account|%>
                  <%= render partial: "clients/client_select_option", locals: { option: account, selected: params[:account_id]&.to_i == account.id} %>
                <% end %> 
              </select>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer flex-row justify-content-end">
        <!--begin::LaterButton-->
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                style="height: 48px;"
        >Cancel</button>
        <!--end::LaterButton-->
        <!--begin::ContinueButton-->
        <button type="submit"
                class="btn btn-primary disabled"
                style="height: 48px;"
                data-add-user-target="submitButton"
        >Add User</button>
        <!--end::ContinueButton-->
      </div>
    </form>
  </div>
</div>