<% if @total == 0 && request.query_parameters.size == 0 %>
  <%= render partial: "pod_measurements/components/empty_measurements_card" %>
<% else %>
  <div class="measurements--filters-download-container">
    <%= render partial: "pod_measurements/components/table_filters" %>
    <!--    <a href="<%#= client_measurements_path(@client.unix_user, style: params[:style], range: params[:range], format: 'csv') %>"-->
    <!--       class="custom-button custom-button--lg custom-button--secondary-light"-->
    <!--    >-->
    <%#= image_tag image_url('download-file-icon.png'), width: 16, height: 16, class: 'me-2' %>
    <!--      Download measurements-->
    <!--    </a>-->
  </div>
  <%= render partial: "application/components/tables/generic_table",
             locals: {
               table_id: "network_measurements_table",
               type: TablesHelper::TableTypes::MEASUREMENTS,
               titles: TablesHelper.titles(TablesHelper::TableTypes::MEASUREMENTS),
               widths: TablesHelper.widths(TablesHelper::TableTypes::MEASUREMENTS),
               rows: @measurements,
               total: @total
             }
  %>
<% end %>
<%= render partial: "application/components/modals/turbo_modal",
           locals: { turbo_frame_tag_id: "measurement_details_modal" }
%>