<div class="measurements--main-table-container">
  <% if @total > 0 %>
    <%= render partial: "network_measurements/table_filters" %>
    <%= render partial: "application/components/tables/generic_table",
            locals: {
              table_id: "network_measurements_table",
              type: TablesHelper::TableTypes::MEASUREMENTS,
              titles: TablesHelper.titles(TablesHelper::TableTypes::MEASUREMENTS),
              widths: TablesHelper.widths(TablesHelper::TableTypes::MEASUREMENTS),
              rows: @measurements,
              total: @total
            }
        %>
  <% else %>
    <%= render partial: "network_measurements/components/empty_measurements_card" %>
  <% end %>
</div>

<%= render partial: "application/components/modals/turbo_modal", 
    locals: { turbo_frame_tag_id: "measurement_details_modal" }
%>