<% if @total == 0 && request.query_parameters.size == 0 %>
  <%= render partial: "pod_measurements/components/empty_measurements_card" %>
<% else %>
  <div class="measurements--filters-download-container">
    <%= render partial: "network_measurements/table_filters" %>
  </div>
  <%= render partial: "application/components/tables/generic_table",
             locals: {
               table_id: "network_measurements_table",
               type: TablesHelper::TableTypes::MEASUREMENTS,
               titles: TablesHelper.titles(TablesHelper::TableTypes::MEASUREMENTS),
               widths: TablesHelper.widths(TablesHelper::TableTypes::MEASUREMENTS),
               rows: @measurements,
               total: @total
             }
  %>
<% end %>
<%= render partial: "application/components/modals/turbo_modal",
           locals: { turbo_frame_tag_id: "measurement_details_modal" }
%>
