<div class="cards--default pods--empty-card"
     id="empty-networks-card"
>
  <div class="pods--empty-card-icon-container">
    <%= image_tag image_url('big-dashboard-icon.png'), width: 32, height: 32 %>
  </div>
  <h3 class="pods--empty-card-title wrap">Let's set up your account</h3>
  <span class="additional-text wrap">Radar is great for both personal use and for organizations. Create a new account to get started.</span>
  <a href="<%= new_account_path %>"
     class="custom-button custom-button--primary custom-button--lg mt-8"
     data-turbo-frame="create_account_modal"
  >
    <%= image_tag image_url('white-plus.png'), width: 16, height: 16, class: "me-2" %>
    Create an account
  </a>
</div>
