<div class="dashboard--comparison-tabs-container">
  <a class="dashboard--comparison-tab" href="<%= dashboard_path %>" data-selected="<%= selected[0] %>" target="_top">Overview</a>
  <a class="dashboard--comparison-tab" href="<%= comparison_dashboard_path %>" data-selected="<%= selected[1] %>" target="_top">Comparison</a>
</div>