<div id="week-grid" class="dashboard--weeks-grid">
  <span>Mon</span>
  <span>Tue</span>
  <span>Wed</span>
  <span>Thu</span>
  <span>Fri</span>
  <span>Sat</span>
  <span>Sun</span>

  <div id="calendar-button-placeholder"
       class="dashboard--calendar-day-button-wrapper"
       data-action="mouseover->dashboard-time-filter#hoverDay mouseout->dashboard-time-filter#unhoverDay"
       hidden
  >
    <button class="dashboard--calendar-day-button" data-action="click->dashboard-time-filter#clickedDay"></button>
  </div>
</div>