[Unit]
Description = Mlab Processor
After = network-online.target
Wants = network-online.target

[Service]
User=root
ExecStart = /usr/local/bin/mlab-processor
WorkingDirectory = /var/mlab-processor
Restart = on-failure
RestartSec = 10s
{% for env in service_variables %}
Environment={{ env }}
{% endfor %}
[Install]
WantedBy = multi-user.target
