#speedtest--cost-input-container {
	border: none;
	height: 56px;
	width: 140px;
}

#speedtest--cost-input-container.speedtest--cost-input-container--focused {
	border: solid 2px rgba(75, 123, 229, 0.4);
	height: 52px;
	width: 136px;
}

#speedtest--my-cost-input-currency {
	margin-right: 15px;
}

#speedtest--my-cost-input-currency.speedtest--custom-input-resetmy-cost-input-currency--focused {
	margin-right: 13px;
}