<div class="dashboard--outages-search-bar">
  <%= image_tag image_url('search.png'), width: 16, height: 16 %>
  <input placeholder="Search by ISP, network or account..." data-action="input->outages-modal#filterSearch"/>
</div>