<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pod Label</title>
    <%= wicked_pdf_stylesheet_link_tag "pdf_label" %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Roboto+Mono:wght@500&display=swap&" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>