<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pod Label</title>
    <%= wicked_pdf_stylesheet_link_tag "pdf_label" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>