<!-- action_name != "edit" would match with the forgot_password action as well as edit user -->
<!-- checking with the actual request path I can get the expected output -->
<% if request.original_fullpath != "/users/edit" && action_name != "update_name" %>
<% content_for :content do %>
	<body id="public--body">
    <main id="public--main">
      <section id="public--logo-section">
        <%= image_tag image_url('new-radar-logo.png'), id: 'public--logo' %>
      </section>
      <section id="public--card-section" class="public--devise">
        <%= yield %>
      </section>
      <section id="public--learn-section">
        <p class="public--additional-text public--learn-more">New to Radar Pods? <span><a href="https://pods.radartoolkit.com" class="public--regular-link">Learn more <%= image_tag image_url('new-tab-icon.png'), id: 'public--new-tab-icon' %></a></span></span></p>
      </section>
      <footer id="public--footer">
        <div id="public--footer-first-row">
          <a href="https://radartoolkit.com/privacy-policy" class="public--footer-link">Privacy Policy</a>
          <a href="mailto:support@radartoolkit.com" class="public--footer-link">Support</a>
        </div>
        <div id="public--footer-second-row">
          <p id="public--footer-rights">© 2023 Radar. All rights reserved.</p>
        </div>
      </footer>
    </main>
	</body>
<% end %>
<% end %>
<%= render template: "layouts/application" %>