<div class="cards--default networks--empty-card"
  id="empty-network-pods-card"
>
  <div class="networks--empty-card-icon-container">
    <%= image_tag image_url('big-pods-icon.png'), width: 32, height: 32%>
  </div>
  <h3 class="networks--empty-card-title wrap">You currently have no pods assigned to this network.</h3>
  <span class="additional-text wrap">Add your first pod to this network to start monitoring your broadband performance.</span>
  <button type="button"
    class="custom-button custom-button--primary custom-button--lg mt-8 mb-6"
    data-bs-toggle="modal"
    data-bs-target="#add_pod_modal_step_0">
    Add Pod
  </button>
</div>