<% base_bulk_options = ['Run speed test','Move to network...', 'Remove from network', 'Delete'] %>
<% super_user_bulk_options = ['Run speed test', 'Move to network...', 'Remove from network', 'Change release group(s)', 'Print labels', 'Delete']%>

<div class="tables--filters-container">
  <%= render partial: "application/components/tables/multi_row_actions", 
      locals: {
        menu_id: 'network-pods-multi-row-actions-menu',
        options: current_user.super_user && !is_super_user_disabled? ? super_user_bulk_options : base_bulk_options,
        actions: [
          'click->multi-row-table#bulkRunTests',
          'click->multi-row-table#handleBulkAction',
          'click->multi-row-table#handleBulkAction',
          'click->multi-row-table#handleBulkAction',
          'click->multi-row-table#bulkPdfLabels',
          'click->multi-row-table#bulkDeletes'
        ],
        urls: [
          nil,
          bulk_move_to_network_clients_path(current_network_id: network.id),
          get_bulk_remove_from_network_clients_path,
          bulk_update_release_group_clients_path,
          nil,
          nil
        ],
        data_turbo_frames: [
          nil,
          'bulk_move_to_network_modal',
          'bulk_remove_from_network_modal',
          'bulk_change_release_group_modal',
          nil,
          nil
        ]
      }
  %>
  <%= render partial: "application/components/tables/filter",
      locals: {
        menu_id: 'status-filter-menu',
        key: 'status',
        default_value: nil,
        default_label: 'All statuses',
        options: [
          { label: 'All statuses', value: nil },
          { label: 'Online', value: 'online' },
          { label: 'Offline', value: 'offline' },
        ],
      }
  %>
</div>