<% base_bulk_options = ['Run speed test','Move to account...', 'Remove from network', 'Delete'] %>
<% super_user_bulk_options = ['Run speed test', 'Move to account...', 'Remove from network', 'Change release group(s)', 'Print labels', 'Delete']%>


<div class="tables--filters-container">
  <%= render partial: "application/components/tables/multi_row_actions", 
      locals: {
        menu_id: 'network-pods-multi-row-actions-menu',
        options: current_user.super_user && !is_super_user_disabled? ? super_user_bulk_options : base_bulk_options,
        actions: [
          'click->multi-row-table#bulkRunTests',
          'click->multi-row-table#handleBulkMovePods',
          'click->multi-row-table#handleBulkRemoveFromNetworks',
          nil,
          'click->multi-row-table#bulkPdfLabels',
          'click->multi-row-table#bulkDeletes'
        ],
        urls: [
          move_to_account_locations_path,
          bulk_destroy_locations_path,
          get_bulk_remove_from_network_clients_path,
          nil,
          nil,
          nil
        ],
        data_turbo_frames: [
          nil,
          nil,
          'bulk_remove_from_network_modal',
          'bulk_change_release_group',
          nil,
          nil
        ]
      }
  %>
  <%= render partial: "application/components/tables/filter",
      locals: {
        menu_id: 'status-filter-menu',
        key: 'status',
        default_value: nil,
        default_label: 'All statuses',
        options: [
          { label: 'All statuses', value: nil },
          { label: 'Online', value: 'online' },
          { label: 'Offline', value: 'offline' },
        ],
      }
  %>
</div>