.speed-results-box--my-list {
  height: max-content;
}

.speed-results-box--filter-list-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 0 5px;
}

.speed-results-box--filter-list-item:hover {
  cursor: pointer;
  background-color: rgba(245, 245, 245, 1);
}

.speed-results-box--my-list-item-text.bolder > span {
  font-weight: bold;
}
