.leaflet-tooltip {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.leaflet-control-zoom-custom-position {
  z-index: 1005;
  position: absolute;
  left: -380px;
  top: -125px;
}