<h1 class="card-big-title mb-4 wrap">About Radar Pods supported browsers.</h1>
<p class="modal-main-title wrap">We officially support versions of the following browsers:</p>
<ul class="text-start regular-text">
  <li class="wrap"><a class="regular-link" href="https://microsoft.com/edge" tabindex="1" target="_blank">Microsoft Edge</a></li>
  <li class="wrap"><a class="regular-link" href="https://www.google.com/chrome" tabindex="2" target="_blank">Chrome</a></li>
  <li class="wrap"><a class="regular-link" href="https://www.apple.com/safari" tabindex="3" target="_blank">Safari</a></li>
  <li class="wrap"><a class="regular-link" href="https://www.mozilla.org/firefox" tabindex="4" target="_blank">Firefox</a></li>
  <li class="wrap">Any browser based on Webkit / Chromium.</li>
</ul>
<p class="wrap regular-text">If you use Radar Pods on an older version of the above browsers, browsers not listed, or a browser extension which modifies your user agent, you may be unable to use the website correctly. In order to ensure the best possible experience, including all the latest features and security updates, please make sure your browser and operating system are up-to-date.</p>

<p class="wrap regular-text">Please note that compatible browsers are included with most operating systems:</p>
<ul class="text-start regular-text">
  <li class="wrap">Windows 10 - Edge</li>
  <li class="wrap">Android - Chrome</li>
  <li class="wrap">MacOS / iOS - Safari</li>
</ul>