<div class="widgets--locations-map-container">
  <div class="widgets--locations-list-container">

  </div>
  <div class="widgets--map-container">
    <div class="widgets--map"
      data-onboard-target="map"
      id="map"
    ></div>
  </div>
</div>