.card {
  width: 356px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.375rem;
  font-variation-settings: 'wght' 700;
  color: white;
  letter-spacing: -0.44px;
  margin-bottom: .75rem;
}

.content {
  color: var(--text-color);
  line-height: 1.625;
}


@media (max-width: 768px) {
  .card {
    width: 321px;
  }

  .cardImage {
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.125rem;
    letter-spacing: -0.36px;
  }
}