.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

.cell {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-block: solid 1px rgba(255, 255, 255, 0.1);
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

.cell[data-variant="left"] {
  padding-block: 3rem;
  padding-left: 0;
}

.cell:last-child {
  border-right: none;
}

.cell > h5 {
  font-size: 1.25rem;
  font-variation-settings: 'wght' 700;
  color: white;
  letter-spacing: -0.4px;
  margin-bottom: .75rem;
}

.cell > p {
  font-size: 1.0625rem;
  color: var(--text-color);
  line-height: 1.529;
  margin-bottom: 3rem;
  max-width: 500px;
}

.cell > img {
  margin-bottom: 0;
  margin-top: auto;
}

.linksRow {
  display: flex;
  gap: 1.5rem;
}

.logoLink {
  height: 41px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: auto;
  gap: .5rem;
}

.logoLink:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 1080px) {
  .logoLink {
    height: 36px;
    width: auto;
  }

  .logoLink > img {
    height: 36px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .cell,
  .cell[data-variant="left"] {
    padding: 2rem 0;
    border-right: none;
  }

  .cell > h5 {
    font-size: 1.125rem;
    margin-bottom: .5rem;
  }

  .cell > p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
  }
}