.modal-dialog {
  &.category--modal-dialog {
    width: 450px;
    height: 515px;
  }
}

.modal-content {
  &.category--modal-content {
    height: 100%;
  }
}

.modal-body {
  &.category--modal-body {
    height: calc(100% - 80px - 90px);
  }
}

.category--marker {
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  border: solid 1px white;

  &.category--marker-list {
    margin-top: 5px; 
  }

  &.category--marker-level0 {
    position: absolute;
    left: 0;
    z-index: 0;
  }

  &.category--marker-level1 {
    position: absolute;
    left: 6px;
    z-index: 1;
  }

  &.category--marker-level2 {
    position: absolute;
    left: 12px;
    z-index: 2;
  }

  &.category--marker-selected {
    outline: solid 2px rgba(75, 123, 229, 0.5);
    outline-offset: 2px;
  }

  &.category--marker-hoverable:hover {
    outline: solid 2px rgba(75, 123, 229, 0.5);
    outline-offset: 2px;
    cursor: pointer;
  }
}

.category--marker-big {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  &.category--marker-selected {
    outline: solid 2px rgba(75, 123, 229, 0.5);
    outline-offset: 2px;
  }

  &.category--marker-hoverable:hover {
    outline: solid 2px rgba(75, 123, 229, 0.5);
    outline-offset: 2px;
    cursor: pointer;
  }
}

.category--multi-dot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  margin-right: 8px;
  position: relative;
}

.category--tooltip {
  width: max-content;
  max-width: 150px;
  position: absolute;
  padding: 8px 13px;
  background-color: white;
  display: flex;
  left: 120px;
  border: solid 1px rgba(188, 187, 199, 0.2);
  border-radius: 6px;
  box-shadow: 0 4px 20px -2px rgba(160, 159, 183, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;

  &.invisible {
    display: none;
  }

  .category--tooltip-point {
    width: 10px;
    height: 10px;
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -5px;
    rotate: 45deg;
    background-color: white;
  }

  .category--tooltip-name {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.category--table-cell-container {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.category--list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 24px);
  height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
}

.category--turbo-frame {
  width: 100%;
}

.category--list-item {
  width: 100%;
  height: 64px;
  border: solid 1px #e3e3e8;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 12px;
}

.category--list-item-left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.category--list-item-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.category--list-item-title {
  font-size: 14px;
  letter-spacing: 0;
  color: #3f3c70;
  margin: 0;
  font-weight: 500;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category--list-item-subtitle {
  font-size: 14px;
  line-height: 21px;
  color: #6d6a94;
  font-weight: 400;
  margin: 0;
}

.category--list-item-options-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.category--options-menu {
  width: 132px;
  height: 72px;
  padding: 4px;
}

.category--options-menu-item {
  width: 100%;
  height: 34px;
  border-radius: 6px;
  background-color: white;
  padding-left: 12px;
  padding-top: 8px;
  font-size: 14px;
  color: #110e4c;
  letter-spacing: 0;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: #f6f7fa;
    color: #110e4c;
  }
}

.category--more-options-icon-container {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 4px;

  &:hover {
    background-color: #f6f7fa;
  }
}

.category--edit-pencil-container {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #f6f7fa;
  }
}

#category--edit-pencil-icon {
  width: 16px;
  height: 16px;
}

.category--delete-modal-title {
  font-size: 17px;
  color: #110e4c;
  font-weight: 600;
  margin: 0 auto 9px;
}

.category--delete-modal-subtitle {
  font-size: 14px;
  color: #6d6a94;
  line-height: 21px;
  margin: 0 auto 4px;
}

.category--list-item-edit {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.category--list-item-text-container-edit {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid 1px ;
  border-radius: 6px;
  margin-right: 15px;
  border: solid 2px #4b7be5;
  position: relative;
}

.category--list-item-input {
  width: calc(100% - 50px);
  outline: none;
  border: none;
  padding-left: 16px;
  font-size: 15px;
  color: #110e4c;
  line-height: 20px;
  margin-right: auto;
}

.category--marker-caret-container {
  width: max-content;
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category--list-item-options-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.category--edit-button {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &:hover {
    opacity: 0.75;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.category--edit-cancel-button {
  background-color: #f6f7fa;
}

.category--edit-confirm-button {
  background-color: #4b7be5;
  box-shadow: 0 2px 10px -2px rgba(75, 123, 229, 0.5);
}

.category--edit-button-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.category--search-add-container {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 24px;
}

.category--search-container {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f7fa;
  box-shadow: 0 2px 10px -2px rgba(160, 159, 183, 0.05);
  padding: 12px;
  border-radius: 6px;

  &.category--search-container-focus {
    border: solid 2px #4b7be5;
    padding: 10px;
  }
}

.category--search-icon {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  margin-right: 6px;
}

.category--search-clear-icon {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  margin-left: 5px;
  cursor: pointer;

  &.invisible {
    display: none;
  }
}

.category--search-input {
  border: none;
  outline: none;
  width: calc(100% - 16px);
  font-size: 14px;
  letter-spacing: 0;
  color: #110e4c;
  background-color: transparent;
}

.category--markers-container {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 40px;
  background-color: white;
  border-radius: 6px;
  border: solid 1px rgba(188, 187, 199, 0.1);
  box-shadow: 0 4px 20px -2px rgba(160, 159, 183, 0.4);
}

#new-category {
  width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;

  .category--empty-state-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.category--empty-state-text {
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #6d6a94;
  line-height: 21px;
}

.category--add-button {
  height: 40px;
  background-color: #4b7be5;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 10px -2px rgba(75, 123, 229, 0.5);
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover {
    color: white;
    opacity: 0.75;
  }

  &.show-sm-flex {
    flex-wrap: nowrap;
  }
}

.category--add-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 8px;
}

.category--add-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category--location-select-container {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #f6f7fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  cursor: pointer;

  &.category--location-select-container-focus {
    outline: solid 2px #4b7be5;
  }
}

.category--location-select-list {
  width: 100%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 20px -2px rgba(160, 159, 183, 0.4);
  z-index: 20;
  position: absolute;
  top: 75px;
  left: 0;
  max-height: 300px;
  overflow-y: auto;
}

.category--location-select-list-item {
  width: calc(100% - 8px);
  height: 34px;
  margin: 4px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;

  &.cursor-pointer:hover {
    background-color: #f6f7fa;
  }
}

.category--location-select-form {
  width: calc(100% - 16px - 16px);
  margin: 0 auto;
}

.category--horizontal-divider {
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: rgba(188, 187, 199, 0.25);
}

.category--location-select-new-button {
  border: none;
  border-radius: 6px;
  background-color: white;
  justify-content: space-between;
}

.category--location-select-new-button-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 4px;
}

.category--location-select-new-button-text {
  font-size: 14px;
  color: #3f3c70;
  letter-spacing: 0;
  text-align: left;
}

@media (max-width: 500px) {
  .modal-dialog {
    &.category--modal-dialog {
      height: 100vh;
      margin: 0;
    }
  }
  
  .modal-content {
    &.category--modal-content {
      height: 100%;
    }
  }

  .modal-body {
    &.category--modal-body {
      height: calc(100% - 80px - 90px);
    }
  }

  .category--list-container {
    height: auto;
  }
}