// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "./shared/colors.scss";

.clients--details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.clients--detail-card { 
  width: 100%;
}

.clients--cta {
  display: flex;
}

@media (max-width: 1200px) {
  .clients--cta {
    visibility: hidden !important;
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.clients--data-label {
  width: 30%;
}

@media (max-width: 1200px) {
  .clients--data-label {
    width: 40%;
    min-width: 150px;
  }
}
  
.clients--manage-button-small {
  display: none !important;
  visibility: hidden !important;
}

@media (max-width: 768px) {
  .clients--manage-button {
    display: none !important;
    visibility: hidden !important;
  }

  .clients--manage-button-small {
    display: block !important;
    visibility: visible !important;
  }
}

.clients--title-content {
  max-width: 15ch;
}