// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "./shared/colors.scss";

.clients--details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.clients--detail-card { 
  width: 100%;
}

.clients--cta {
  display: flex;
}

.clients--data-label {
  width: 30%;
}

@media (max-width: 1200px) {
  .clients--data-label {
    width: 40%;
    min-width: 150px;
  }
}

.clients--title-content {
  max-width: 15ch;
}