// General
$white: #fff;
$black: #000;

// Primaries
$blue: #4b7be5;
$deep-blue: #110e4c;

// Secondaries
$gray: #6d6a94;
$light-gray: #a09fb7;
$dark-gray: #3f3c70;
$subtle-gray: #f6f7fa;
$mid-light-gray: #bcbbc7;
$title-gray : #8e8cb1;

// Buttons
$primary-button--box-shadow: #4b7be550;
$primary-button--hover: #5789f6;
$secondary-button--background-color: #bcbbc725;
$secondary-button--box-shadow: #a09fb715;
$secondary-light-button--box-shadow: #a09fb720;