// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sidebar--account-selected-title {
  font-size: 15px;
  color: #7e8299;
  margin-right: 34px;
}

.accounts-collapse-open {
  span {
    color: #00a3ff;
  }
}

.sidebar--add-account-row {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  margin-bottom: 25px;
  p {
    margin: 0;
  }
}

.sidebar--account-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  p {
    margin: 0;
  }
}

.sidebar--circular-marker {
  width: 5px;
  height: 5px;
  border: solid 1px #b5b5c3;
  border-radius: 50%;
  background-color: #b5b5c3;
  margin-left: 20px;
  margin-right: 13px;
}

.sidebar--account-add-icon {
  margin-left: 15px;
  margin-right: 7px;
}

.sidebar--account-row:hover {
  cursor: pointer;
  p {
    color: #5f6278;
  }
}
.sidebar--account-row.active {
  cursor: pointer;
  background-color: #f5f8fa;
  p {
    color: #3f4254;
  }
  .sidebar--circular-marker {
    border-color: #00a3ff;
    background-color: #00a3ff;
  }
}

.sidebar--add-account-row:hover {
  background-color: #d4f0fe;
}