// Place all the styles related to the Measurements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.measurements--main-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.measurements--filters-download-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 1rem;
}