@import './shared/colors.scss';
@import './shared/text.scss';

.networks--empty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.networks--empty-card-icon-container {
  width: 60px;
  min-width: 60px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $circular-icon-container-gray;
  border-radius: 50%;
}

.networks--empty-card-title {
  font-size: 1.25rem;
  color: $deep-blue;
  margin-top: 1rem;
  margin-bottom: .75rem;
  font-variation-settings: 'wght' $bold;
}

.networks--unassigned-pods-banner {
  width: 100%;
  padding: .75rem 1rem;
  border-radius: 6px;
  background-color: $snackbar--warning-background-color;
  border: solid 1px $snackbar--warning-border-color;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .75rem;

  .networks--unassigned-pods-banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }
}

.networks--move-tests-banner {
  width: 100%;
  padding: .75rem 1rem;
  border-radius: 6px;
  background-color: $badge--blue-background-color;
  border: solid 1px $circular-icon-container-gray;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .5rem;
}

@media (max-width: 450px) {
  .networks--modal-form {
    height: calc(100vh - 56px); 
  }
}