body {
  margin: 0;
}

#pod-label--label-frame {
  width: 539px;
  height: 351px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 30px 35px 25px;
  span {
    font-family: Roboto, sans-serif;
    font-weight: 500;
  }
}

#pod-label--label-logo {
  height: auto;
  width: 263px;
  margin-bottom: 30px;
  margin-left: -10px;
}

#pod-label--inputs-qr-container {
  width: 539px;
  height: max-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

#pod-label--inputs-wrapper {
  width: 343px;
  height: max-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-right: 50px;
}

.pod-label--row {
  width: 100%;
  height: max-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: left;
}

#pod-label--pod-id-container {
  margin-bottom: 17px;
}

.pod-label--label {
  font-size: 18px;
  color: #000;
  margin: 0 0 10px 0;
  width: 110px;
  white-space: nowrap;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.pod-label--input {
  width: 100%;
  height: 47px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 2px #000;
  text-align: center;
}

.pod-label--input-content {
  width: 250px;
  color: #181c32;
  font-size: 23px;
  letter-spacing: 2.75px;
  white-space: nowrap;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  margin-top: 8px;
  margin-left: 36.5px;
  text-align: center;
}

.pod-label--input-content-mac {
  width: 250px;
  color: #181c32;
  font-size: 23px;
  white-space: nowrap;
  font-weight: 500;
  margin-top: 8px;
  font-family: 'Roboto Mono', monospace;
  margin-left: 46.5px;
  text-align: center;
}

#pod-label--qr-wrapper {
  width: 146px;
  height: 146px;
  margin-top: 31px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

#pod-label--qr {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pod-label--footer-message {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 27px 0 0 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#pod-label--footer-message-second-line {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 10px 0 0 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.pod-lab--footer-link {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}