body {
  margin: 0;
}

#pod-label--label-frame {
  width: 609px;
  height: 406px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 30.45px 33.83px;
  p, div {
    font-family: Roboto, sans-serif;
  }
}

#pod-label--label-logo {
  height: auto;
  width: 264px;
  margin-bottom: 27px;
}

#pod-label--inputs-qr-container {
  width: 100%;
  height: 184px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

#pod-label--inputs-wrapper {
  width: 334px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-right: 50px;
}

.pod-label--row {
  width: 100%;
  height: 80.52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: left;
}

#pod-label--pod-id-container {
  margin-bottom: 16.92px;
}

.pod-label--label {
  font-size: 18.13px;
  color: rgba(87, 87, 87, 0.5);
  margin: 0 0 9.5px 0;
  width: 111.65px;
}

.pod-label--input {
  width: 100%;
  height: 49.4px;
  border-radius: 6.76px;
  background-color: #f0f0f0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.pod-label--input-content {
  color: #181c32;
  font-size: 23.34px;
  letter-spacing: 2.75px;
  margin: 8.8px auto 10.15px;
  width: max-content;
  white-space: nowrap;
}

#pod-label--qr-wrapper {
  width: 158px;
  height: 158px;
  margin-top: 25.71px;
  border: solid 1.35px rgba(151, 151, 151, 0.19);
  border-radius: 10.05px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pod-label--qr {
  width: 67%;
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 12%;
}

#pod-label--footer-message {
  font-size: 16.24px;
  line-height: 20.3px;
  color: #8e8e8e;
  margin: 17.6px 0 0 0;
  width: 100%;
}

#pod-label--footer-message-second-line {
  font-size: 16.24px;
  line-height: 20.3px;
  color: #8e8e8e;
  margin: 13.5px 0 0 0;
  width: 100%;
}

.pod-label--ff-mono {
  font-family: 'Roboto Mono', monospace;
}