body {
  margin: 0;
}

#pod-label--label-frame {
  width: 410px;
  height: 295px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 25px 30px 30px;
  p, div {
    font-family: Roboto, sans-serif;
  }
}

#pod-label--label-logo {
  height: 34px;
  width: auto;
  margin-bottom: 32px;
  margin-left: -8px;
}

#pod-label--inputs-qr-container {
  width: 100%;
  height: 165px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

#pod-label--inputs-wrapper {
  width: 240px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.pod-label--row {
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: left;
}

#pod-label--pod-id-container {
  margin-bottom: 15px;
}

.pod-label--label {
  font-size: 14px;
  color: rgba(87, 87, 87, 0.5);
  margin: 0 0 8px 0;
  width: 100px;
}

.pod-label--input {
  width: 100%;
  height: 38px;
  border-radius: 7.8px;
  background-color: #f0f0f0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.pod-label--input-content {
  color: #181c32;
  font-size: 18px;
  letter-spacing: 2.12px;
  margin: 8px auto;
  width: 100%;
  white-space: nowrap;
}

#pod-label--qr-wrapper {
  width: 122px;
  height: 122px;
  margin-left: 30px;
  border: solid 2px rgba(151, 151, 151, 0.19);
  border-radius: 7.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pod-label--qr {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
}

#pod-label--footer-message {
  font-size: 13px;
  line-height: 16px;
  color: #8e8e8e;
  margin: 15px 0 0 0;
  width: 100%;
}

#pod-label--footer-message-second-line {
  font-size: 13px;
  line-height: 16px;
  color: #8e8e8e;
  margin: 10px 0 0 0;
  width: 100%;
}

.pod-label--ff-mono {
  font-family: 'Roboto Mono', monospace;
}