@import './shared/colors.scss';
@import './shared/text.scss';

.pods--empty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.pods--empty-card-icon-container {
  width: 60px;
  min-width: 60px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $circular-icon-container-gray;
  border-radius: 50%;
}

.pods--empty-card-title {
  font-size: 1.25rem;
  color: $deep-blue;
  margin-top: 1rem;
  margin-bottom: .75rem;
  font-variation-settings: 'wght'$bold;
}

.pods--details-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.pods--top-info-card {
  width: 100%;
  padding: 1.125rem 1.5rem;
  background-color: white;
  border: solid 1px $sidebar--main-container-border;
  box-shadow: 0 2px 8px -2px $cards--default-box-shadow;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem 3rem;
}

@media (max-width: 768px) {
  .networks--top-info-card {
    gap: 1rem 2rem;
  }
}

.pods--content-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .pods--content-cards-container {
    flex-direction: column-reverse;
  }
}

.pods--average-speed-cell-text {
  font-size: 1.125rem;
  font-variation-settings: 'wght' $semi-bold;
  line-height: 1.5;
  color: $deep-blue;
}

.application--content-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .application--content-cards-container {
    flex-direction: column-reverse;
  }
}

.pods--averages-cell-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .125rem;
}

.pods--averages-first-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.pods--average-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}

.pods--usage-cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.pods--card-right-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .pods--card-right-button-container {
    margin-top: 1rem;
    justify-content: flex-start;

    button {
      width: 100%;
    }
  }
}

.pods--data-cap-percentage-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: .5rem;
}

@media (max-width: 768px) {
  .pods--data-cap-percentage-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.pods--percentage-bar {
  width: 100px;
  height: 5px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;

  .pods--percentage-bar-fill {
    height: 100%;
    border-radius: 6px;
  }
}

.pods--version-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .125rem;
}

.pods--header-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.pods--create-network-component-container {
  width: 100%;
  border-radius: 6px;
  border: solid 1px $modals--network-creation-component-border;
  margin-top: 1.5rem;
}

.pods--index-button-options-container {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 450px) {
  .pods--index-button-options-container {
    margin-top: 1rem;
  }
}

.pods--multi-pod-select-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.375rem;
  background-color: $subtle-gray;
  padding: 0.625rem 1rem;
  cursor: pointer;
  position: relative;

  .text--select,
  .pods--select-pod-count-container,
  img {
    pointer-events: none;
  }

  &.active {
    outline: solid 2px $blue;
  }

  #pods-list {
    width: 100%;
    border-radius: 0.375rem;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px -2px $sidebar--accounts-options-box-shadow;
  }

  #caret-down {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .pods--qr-scan-code-container {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.pods--select-search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  padding: .25rem;

  .pods--select-search-content-container {
    width: 100%;
    padding: .5rem .625rem;
    .pods--select-search-icon {
      width: 1rem;
      height: 1rem;
      min-width: 1rem;
      min-height: 1rem;
    }

    input {
      width: calc(100% - 3rem);
      outline: none;
      border: none;
    }
  }
}

.pods--select-items-container {
  width: 100%;

  .pods--select-pod-list-container {
    max-height: 15rem;
    overflow-y: auto;
  }
}

.pods--select-pod-list-container {
  width: 100%;
  padding: .25rem;
}

.pods--select-option {
  width: 100%;
  border-radius: .5rem;
  padding: .5rem 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .75rem;

  label {
    font-variation-settings: 'wght' $semi-bold;
    font-size: 0.875rem;
    color: $dark-gray;
  }

  .pods--select-icon-label-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;

    label {
      font-variation-settings: 'wght' $bold;
      font-size: 0.875rem;
      color: $dark-gray;
    }
  }

  &:hover {
    background-color: $subtle-gray;
  }
}

.pods--select-pod-count-container {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.pods--selected-pods-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .75rem;
  width: 100%;
  margin-top: 2rem;
}

.pods--selected-pods-grid-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    line-height: 1.312;
    font-size: 0.938rem;
    color: $gray;
    margin: 0;
  }

  a {
    font-size: .875rem;
    line-height: 1.312;
    margin: 0;
  }
}

.pods--selected-pods-grid {
  padding: 2px;
  width: 100%;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 1fr 1fr;
  max-height: 270px;
  overflow-y: auto;
  align-items: unset;
  justify-content: unset;
  align-content: unset;
}

@media (max-width: 450px) {
  .pods--selected-pods-grid {
    padding: 2px;
    grid-template-columns: 1fr;
    gap: .5rem;
  }
}

.pods--selected-pod-cell {
  width: 50%;
  min-width: 13.5rem;
  padding: .5rem .75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .75rem;
  background-color: $cards--selected-pod-background-color;
  outline: solid 1px $cards--selected-pod-border;
  border-radius: 0.375rem;
  position: relative;

  p {
    font-size: 1rem;
    margin: 0;
    color: $dark-gray;
    @extend .fw-bold;
  }

  img.hoverable {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 450px) {
  .pods--selected-pod-cell {
    width: 100%;
    min-width: unset;
    gap: .5rem;
  }
}

.pods--qr-scan-code-container {
  height: 100%;
  width: 2.5rem;
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
  border-left: solid 1px $button-divider-border;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}