#public--body {
  background-color: #f6f7fa;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

#public--main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#public--footer {
  width: 100%;
  margin-top: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

#public--logo-section {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#public--logo {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

#public--card-section {
  width: calc(100% - 32px);
  max-width: 552px;
  margin: 40px auto 25px;
  border: solid 1px rgba(188, 187, 199, 0.3);
  box-shadow: 0 2px 10px -2px rgba(160, 159, 183, 0.15);
  background-color: white;
  border-radius: 10px;
  padding: 32px 56px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &.public--devise {
    max-width: 415px;
    padding: 1.5rem 2rem;
  }
}

#public--learn-section {
  width: 85%;
  margin: 0 auto;
}

.public--additional-text {
  font-size: 14px;
  line-height: 21px;
  color: #6d5a94;
  text-align: center;
  margin: 0 auto;
  max-width: 415px;

  &.public--learn-more {
    margin-bottom: 60px;
  }
}

.public--regular-link {
  font-size: 14px;
  line-height: 21px;
  color: #4b7be5;
  font-weight: 450;

  &:visited {
    color: #4b7be5;
  }

  &.public--help-pod-id {
    margin-bottom: 24px;
  }

  &:hover {
    opacity: 0.75;
  }
}

#public--footer-first-row {
  width: 190px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.public--footer-link {
  font-size: 14px;
  line-height: 25px;
  color: #6d6a94;
  font-weight: 450;
}

#public--footer-rights {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  color: #6d6a94;
}

#public--pod-icon-container {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: rgba(75, 123, 229, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
}

#public--check-welcome-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.public--card-title {
  font-size: 17px;
  font-weight: 450;
  color: #110e4c;
  margin: 0 auto 8px;
}

.public--card-subtitle {
  font-size: 14px;
  color: #6d5a94;
  margin: 0 auto 32px;
  max-width: 380px;
}

#public--card-inputs-container {
  width: 100%;
  max-width: 310px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 25px;
  background-color: #f6f7fa;
  border-radius: 6px;
  padding: 10px 10px;

  &.public--card-inputs-container-focus {
    padding: 10px 10px;
    outline: solid 2px #4b7be5;
  }
}

.public--card-input {
  width: 1.5rem;
  height: 1.46rem;
  border: none;
  font-size: 1.25rem;
  color: #110e4c;
  line-height: 1.25rem;
  text-align: center;
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: #e3e3e8;
    width: 0.5rem;
    height: 0.125rem;
    background-color: #e3e3e8;
    position: relative;
    top: -0.25rem;
    left: .35rem;
  }
}

.public--continue-button {
  width: 100%;
  max-width: 310px;
  margin: 0 auto 24px;
  height: 45px;
}

.public--check-continue-button {
  width: 100%;
  max-width: 180px;
  margin: 0 auto 24px;
  height: 45px;
}

.public--horizontal-divider {
  height: 1px;
  width: 100%;
  max-width: 440px;
  background-image: linear-gradient(to right, rgba(223, 223, 229, 0) 0%, rgba(205, 205, 214, 0.5) 50%, rgba(188, 187, 199, 0) 100%);
  margin: 0 auto 24px;

  &.public--horizontal-divider-gradient {
    position: absolute;
    bottom: 0;
    margin: 0;
  }
}

.public--horizontal-divider-conditional {
  height: 1px;
  width: 100%;
  max-width: 440px;
  background-image: linear-gradient(to right, rgba(223, 223, 229, 0) 0%, rgba(205, 205, 214, 0.5) 50%, rgba(188, 187, 199, 0) 100%);
  margin: 15px auto;
  display: none;
}

.public--additional-title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 450;
  color: #6d6a94;
  margin: 0 auto 8px;
}

.public--modal-body {
  text-align: center
}

#public--pod-id-modal-image {
  width: 170px;
  height: auto;
  margin: 0 auto 24px;
}

#public--alert {
  width: 100%;
  max-width: 310px;
  background-color: rgba(250, 176, 176, 0.2);
  border-radius: 6px;
  padding: 12px 23px;
  text-align: center;
  display: flex;
  color: #e54b4b;
  margin: 0 auto 16px;
  font-weight: 420;

  &.invisible {
    display: none;
  }
}

.public--pod-id {
  font-size: 16px;
  line-height: 24px;
  color: #110e4c;
  margin: -8px auto 6px;
  font-weight: 500;
}

.public--custom-badge {
  padding: 5px 8px 6px;
  border-radius: 6px;
  text-align: center;
  font-size: 13px;
  font-weight: 450;
  letter-spacing: 0;
  width: max-content;
  margin: 0 auto 20px;

  &.public--custom-badge-new {
    color: #f18f41;
    background-color: rgba(241, 143, 65, 0.1);
  }
  &.public--custom-badge-online {
    color: #31b36c;
    background-color: rgba(49, 179, 108, 0.1);
  }
  &.public--custom-badge-offline {
    color: #f1416c;
    background-color: rgba(241, 65, 108, 0.1);
  }
  &.public--custom-badge-running {
    color: #4b7be5;
    background-color: rgba(75, 123, 229, 0.1);
  }
}

#public--gradient-container {
  height: 55px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.public--status-gradient {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;

  &.public--status-gradient-offline {
    background-image: radial-gradient(circle at 50% 0%, rgba(241, 65, 108, 0.15), rgba(241, 65, 108, 0) 10%);
  }

  &.public--status-gradient-online {
    background-image: radial-gradient(circle at 50% 50%, rgba(49, 179, 108, 0.15), rgba(49, 179, 108, 0) 10%); 
  }
}

#public--pod-setup-title {
  font-size: 24px;
  line-height: 36px;
  color: #110e4c;
  font-weight: 450;
  margin: -8px auto 8px;
}

.public--setup-button {
  width: 140px;
  height: 45px;
  margin: 32px auto 24px;
}

#public--buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#public--setup-modal-body-content {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

#public--users-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.public--custom-setup-button {
  width: 275px;

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

#public--button-arrow {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  margin-left: 1rem;
}

.public--status-card {
  padding: 16px;
  border: solid 1px rgba(188, 187, 199, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;

  &.half {
    width: calc(50% - 9px);
  }
}

.public--no-measurement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;

  .public--no-measurement-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;

    .public--no-measurement-icon-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        margin-right: 4px;
      }
    }
  }
}

#public--status-card-status {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1px);
  justify-content: flex-start;
  align-items: flex-start;

  #public--status-card-status-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
}

#public--status-card-isp {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1px);
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 24px;
}

.public--label {
  font-size: 14px;
  font-weight: 450;
  line-height: 21px;
  letter-spacing: 0;
  color: #110e4c;
  margin: 0 0 4px;
}

.public--arrow-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-bottom: 12px;
}

.public--vertical-divider {
  height: 100%;
  width: 1px;
  border-radius: 2px;
  background-color: rgba(188, 187, 199, 0.3);
}

.public--vertical-divider-conditional {
  height: 100%;
  width: 1px;
  border-radius: 2px;
  background-color: rgba(188, 187, 199, 0.3);
}

.public--speed-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto 32px;
  width: 100%;
}

.public--status-card-speed {
  width: 100%;
}

.public--text-center {
  text-align: center;
}

.public--text-left {
  text-align: left;
}

.public--max-width-none {
  max-width: none;
}

.public--manage-pod-button {
  max-width: 165px;
  margin: 0 auto;

  img {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-right: 5px;
    margin-top: -2px;
  }
}

.public--speed-text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  color: #110e4c;

  .public--speed-text-unit {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    color: #110e4c;
  }
}

#public--new-tab-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;

  &:hover {
    opacity: 0.75;
  }
}

.public--tooltip-wrapper {
  width: max-content;
  margin: 0 auto;
}

.public--custom-tooltip {
  width: 100%;
  max-width: 350px;
  padding: 8px 16px;
  border-radius: 2px;
  .tooltip-inner {
    word-break: normal;
    text-overflow: clip;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    border: rgba(188, 187, 199, 0.2);
    box-shadow: 0 4px 20px -2px rgba(160, 159, 183, 0.4);
    color: #110e4c;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
  }
}

.public--custom-spinner {
  color: #4b7be5;
}

@media (max-width: 550px) {
  #public--card-section {
    padding: 32px 16px;
  }
  
  #public--pod-setup-title {
    font-size: 20px;
    line-height: 25px;
  }

  .public--status-card {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  
    &.half {
      width: 100%;
    }
  }

  #public--status-card-status,
  #public--status-card-isp {
    width: 100%;
    padding-left: 0;
  }

  .public--vertical-divider-conditional {
    display: none;
  }

  .public--horizontal-divider-conditional {
    display: block;
  }

  .public--speed-cards-container {
    flex-direction: column;
    margin: 20px auto 32px;
    width: 100%;
    height: calc(106px + 106px + 12px);
  }

  #public--card-inputs-container {
    width: 100%;
  }

  .public--card-input {
    font-size: 0.875rem;
    margin-left: -0.5rem;
    &::placeholder {
      top: 0.25rem;
    }
  }

  .public--check-continue-button {
    max-width: none;
  }
}