@import "shared/colors";

$base-svg-color: $gray;

svg {
  --base-color: #{$base-svg-color};
  fill: var(--base-color);

  path {
    fill: var(--base-color);
  }
}

.svg--fill-blue {
  --base-color: #{$blue};
}

.svg--fill-white {
  --base-color: #{$white};
}

.svg--fill-green {
  --base-color: #{$badge--green-color};
}

.svg--fill-red {
  --base-color: #{$badge--red-color};
}

