@import "colors";

$light: 300;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

.fw-light {
  font-variation-settings: 'wght' $light;
}

.fw-medium {
  font-variation-settings: 'wght' $medium;
}

.fw-semi-bold {
  font-variation-settings: 'wght' $semi-bold;
}

.fw-bold {
  font-variation-settings: 'wght' $bold;
}

.fw-extra-bold {
  font-variation-settings: 'wght' $extra-bold;
}

.page-main-title {
  font-variation-settings: 'wght' $extra-bold;
  font-size: 22px;
  color: $deep-blue;
}

.dialog-main-title {
  font-variation-settings: 'wght' $bold;
  font-size: 20px;
  color: $deep-blue;
}

.dialog-sub-title {
  font-variation-settings: 'wght' $medium;
  font-size: 15px;
  color: $dark-gray;
}

.page-sub-title {
  font-variation-settings: 'wght' $medium;
  font-size: 14px;
  color: $title-gray;
}

.table-header {
  font-variation-settings: 'wght' $bold;
  font-size: 13px;
  color: $gray;
}

.sidebar-item--text {
  font-variation-settings: 'wght' $semi-bold;
  font-size: 0.938rem;
  color: $dark-gray;
}

.sidebar-item--text-active {
  font-variation-settings: 'wght' $bold;
  color: $blue;
}

.sidebar-item--text:hover {
  color: $blue;
}