@import "./shared/colors.scss";
@import "required_importants";
@import "application";

.widgets--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1.5rem;
  margin-top: 1.5rem;
}

@media (min-width: 1980px) {
  .widgets--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .widgets--grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.widgets--widget {
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  border: solid 1px $widget--border-color;
  box-shadow: 0 2px 8px -2px $widget--box-shadow;
  overflow-x: hidden;
  min-height: 350px;
  max-width: 100%;

  &[data-widget-type="locations_map"] {
    width: 100%;
    min-width: 100%;
  }

  &[data-widget-type="online_pod_count"] {
    aspect-ratio: 1.5;
    overflow-y: auto;
  }

  &:not([data-widget-type="locations_map"]) {
    .widgets--widget-content {
      height: calc(100% - 4.5rem);
    }
  }
}

.widgets--header-container {
  width: 100%;
  .widgets--header-text {
    color: $deep-blue;
    @extend .fw-bold;
  }
}

.widgets--header-divider {
  width: calc(100% + 3rem);
  height: 1px;
  background-color: $sidebar--horizontal-divider-background-color;
  margin: 1rem 0 1.5rem -1.5rem;
}

.widgets--widget-content {
  width: 100%;
  height: 100%;
}

.widgets--locations-map-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .widgets--locations-map-container {
    height: max-content;
    flex-direction: column;
    gap: 1rem;
  }
}

.widgets--locations-list-container {
  width: calc(33% - .5rem);
  height: 100%;
  min-height: 100px;
  max-height: 400px;
  overflow-y: clip;
  overflow-x: visible;

  #locations_map_widget_list {
    margin-top: .5rem;
    display: block;
    height: calc(100% - 3rem);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .widgets--locations-list-container {
    width: 100%;

    #locations_map_widget_list {
      height: max-content;
      max-height: 400px;
      overflow-y: auto;
    }
  }
}

.widgets--map-container {
  width: calc(66% - .5rem);
  height: 100%;
  border-radius: 6px;
  overflow: hidden;

  .widgets--map {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .widgets--map-container {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }
}

.widgets--location-row-container {
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: solid 1px $sidebar--horizontal-divider-background-color;
  padding: .5rem 0;

  &:hover {
    background-color: $subtle-gray;
  }
}

.widgets--location-row-text-pin-container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  p {
    margin: 0;
  }
}

.widgets--location-pin-container {
  width: 2.25rem;
  min-width: 2.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $alert--success-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

  &[data-online="false"] {
    background-color: $alert--error-background-color;
  }
}

.widgets--location-text-container {
  width: calc(100% - 3rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.widgets--location-avg-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.widgets--location-diff-text {
  font-size: 0.812rem;
  line-height: 1.188rem;
  color: $badge--green-color;
  margin-left: 0.375rem;

  &[data-negative="true"] {
    color: $error-red;
  }

  &[data-neutral="true"] {
    color: $gray;
  }
}

.widgets--locations-map-search-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .75rem;
}

.leaflet-popup-content {
  margin: 0;
  max-width: 100%;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .widgets--location-popup-header-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: $widget--location-popup-header-background-color;
    border-bottom: solid 1px $subtle-gray;
  }

  .widgets--location-popup-content-container {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .widgets--location-popup-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: .5rem;
  }

  .widgets--location-popup-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .widgets--speed-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .25rem;
  }
}

.widgets--canvas-container {
  width: 100%;
  height: 100%;

  turbo-frame {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.widgets--skeleton-container {
  position: relative;
  width: 100%;
  height: 100%;

  svg {
    --width: calc(100% - 2rem);
    --half_width: calc(var(--width) / 2);
    width: var(--width);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    -webkit-animation: skeleton-bg 5s ease infinite;
    -moz-animation: skeleton-bg 5s ease infinite;
    animation: skeleton-bg 5s ease infinite;
  }
}

.widgets--skeleton-boxes-container {
  padding-top: 1rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}

.widgets--skeleton-rectangles-container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.widgets--skeleton {
  -webkit-animation: skeleton-bg 5s ease infinite;
  -moz-animation: skeleton-bg 5s ease infinite;
  animation: skeleton-bg 5s ease infinite;

  &[data-type="box"] {
    --width: 1.25rem;
    --half_width: calc(var(--width) / 2);
    width: var(--width);
    height: 1.25rem;
    border-radius: .25rem;
    background: linear-gradient(
                    90deg,
                    rgba(227, 227, 232, 0.67) 0px,
                    rgba(246, 247, 250, 0.67) var(--half_width),
                    rgba(227, 227, 232, 0.67) var(--width)
    );
  }

  &[data-type="rectangle"] {
    --width: 5.625rem;
    --half_width: calc(var(--width) / 2);
    width: var(--width);
    height: 1.25rem;
    border-radius: .25rem;
    background: linear-gradient(
                    90deg,
                    rgba(227, 227, 232, 0.67) 0px,
                    rgba(246, 247, 250, 0.67) var(--half_width),
                    rgba(227, 227, 232, 0.67) var(--width)
    );
  }
}

@keyframes skeleton-bg {
  0% {
    background-position: 0 0;
  }
  25% {
      background-position: var(--width) 0;
  }
  50% {
      background-position: 0 0;
  }
  75% {
      background-position: var(--width) 0;
  }
  100% {
      background-position: 0 0;
  }
}

.widgets--no-data-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 1.5rem;

  h4 {
    font-size: 1rem;
    color: $dark-gray;
  }
}

.widgets--line-toggler-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: .5rem;
}

.widgets--line-toggler-button {
  border: none;
  padding: .25rem .5rem;
  border-radius: 6px;
  background-color: $subtle-gray;
  color: $gray;
  font-size: 0.812rem;
  line-height: 1.188rem;
  letter-spacing: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  span {
    width: 1rem;
    height: 2px;
    border-radius: 1px;
  }

  &[data-selected-line="minimum"] {
    span {
      background-color: $widget--minimum;
    }
  }

  &[data-selected-line="median"] {
    span {
      background-color: $widget--median;
    }
  }

  &[data-selected-line="maximum"] {
    span {
      background-color: $widget--maximum;
    }
  }

  &[data-selected="true"],
  &[data-selected="true"]:focus,
  &[data-selected="true"]:focus-visible {
    background-color: $circular-icon-container-gray;
    outline: solid 1px $blue;
    box-shadow: 0 2px 4px 0 $circular-icon-container-gray;
  }

  @extend .hoverable;
}