<div class="mb-10 text-center flex-column justify-content-center align-items-center"
     data-registration-target="step3Wrapper"
     style="display: none; width: max-content; margin: 0 auto"
>
  <!--begin::Title-->
  <h1 class="page-main-title" data-registration-target="accountNameTitle"></h1>
  <!--end::Title-->
  <!--begin::Subtitle-->
  <div class="additional-text mb-4" 
  data-registration-target="accountNameSubtitle"></div>
  <!--end::Subtitle-->
  <!--begin::Input group-->
  <div class="forms--input-group d-flex flex-column text-start w-100 mb-8">
    <p class="mb-4 text--error" data-registration-target="errorText"></p>
    <label class="forms--label required" data-registration-target="accountNameLabel">Name</label>
    <input type="text"
           id="account_name"
           name="account_name"
           autocomplete="off"
           class="forms--text-input"
           data-action="input->registration#handleAccountNameChange"
           data-registration-target="accountNameInput"
      />
  </div>
  <!--end::Input group-->
  <!--begin::ButtonsContainer-->
  <div class="d-flex flex-row justify-content-between w-100 my-0 mx-auto">
    <!--begin::LaterButton-->
    <button type="button"
            class="custom-button custom-button--lg custom-button--secondary"
            data-action="click->registration#backToStep2"
    >Back</button>
    <!--end::LaterButton-->
    <!--begin::ContinueButton-->
    <button type="button"
            class="custom-button custom-button--lg custom-button--primary custom-button--disabled disabled"
            data-action="click->registration#finishRegistration"
            data-registration-target="finishButton"
    >Finish</button>
    <button type="button"
            class="custom-button custom-button--lg custom-button--primary custom-button--disabled disabled"
            style="display: none"
            data-registration-target="finishButtonLoading"
    >
      <div class="spinner-border spinner-border-sm text-light m-auto" role="status"></div>
    </button>
    <!--end::ContinueButton-->
  </div>
  <!--end::ButtonsContainer-->
</div>