<div class="modal-dialog">
  <div class="modal-content">
    <%= render partial: "application/components/modals/modal_header", locals: {title: "Delete account"} %>
    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
      <svg width="70" height="70" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <path d="M35 0c19.33 0 35 15.67 35 35S54.33 70 35 70 0 54.33 0 35 15.67 0 35 0z" fill="#FFF5F8"/>
          <g fill="#F1416C" fill-rule="nonzero">
            <path d="M26 30.667c0-.706.576-1.278 1.286-1.278h15.428c.71 0 1.286.572 1.286 1.278v11.5C44 44.284 42.273 46 40.143 46H29.857C27.727 46 26 44.284 26 42.167v-11.5z"/>
            <path d="M26 25.556c0-.706.576-1.278 1.286-1.278h15.428c.71 0 1.286.572 1.286 1.278 0 .705-.576 1.277-1.286 1.277H27.286c-.71 0-1.286-.572-1.286-1.277zM31.143 24.278c0-.706.575-1.278 1.286-1.278h5.142c.71 0 1.286.572 1.286 1.278h-7.714z" opacity=".5"/>
          </g>
        </g>
      </svg>
      <div class="dialog-main-title mt-7 mx-auto text-wrap text-center" style="max-width: 75%">Are you sure you want to delete <%= @account.name %>?</div>
      <div class="additional-text mt-3">Your Pods, locations and users will also be deleted.</div>
    </div>
    <div class="modal-footer modals--footer">
      <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
      <%= button_to "Yes, delete", account_path(@account), method: :delete, class: "custom-button custom-button--sm custom-button--danger" %>
    </div>
  </div>
</div>