<% account_used_data = get_value_in_preferred_unit(data_used) %>

<div class="dashboard--total-data-by-account-container">
  <div class="dashboard--total-data-by-account-name-container">
    <div class="dashboard--total-data-by-account-initial-container">
      <p><%= account_name[0].upcase %></p>
    </div>
    <p class="dashboard--total-data-by-account-name"><%= account_name %></p>
  </div>
  <div class="dashboard--total-data-all-accounts-values-container">
    <p><%= account_used_data.round(precision) %></p>
    <span><%= current_user.data_cap_unit.upcase %></span>
  </div>
</div>