<div class="widgets--canvas-container">
  <%= turbo_frame_tag 'data-usage-widget', src: data_usage_path(network_id: params[:network_id], account_id: params[:account_id], isp_id: params[:isp_id], days: params[:days], start: params[:start], end: params[:end]), loading: 'lazy' do %>
    <%= render partial: "dashboard/components/widgets/line_chart_skeleton" %>
  <% end %>
</div>