<% download_data_enabled = policy(:export).all? && !current_user.has_all_data_pending_download %>
<div class="dashboard--download-data-wrapper">
  <div class="dashboard--download-data-button custom-button--primary custom-button--lg">
    <div data-controller="exports" data-action="click->exports#exportAll" class="dashboard--download-data-container <%= download_data_enabled ? '' : 'custom-button--disabled pending' %>">
      <%= image_tag image_url('download-archive-white.svg'), width: 16, height: 16, class: 'me-2' %>
      <p class='dashboard--download-data-text'>Download data</p>
    </div>
  </div>
  <div class="dashboard--download-more-options-button custom-button--primary ">
    <div id="options-button-download-data" data-controller="more-options-button" data-action="click->more-options-button#toggleMenu">
      <%= svg_tag('arrow-down.svg', { width: 16, height: 16, class: 'svg--fill-white' }) %>
    </div>
    <%= render partial: "dashboard/components/widgets/download_data_more_options_button" %>
  </div>
</div>