<div class="widgets--skeleton-container">
  <div class="widgets--skeleton-boxes-container">
    <div class="widgets--skeleton" data-type="box"></div>
    <div class="widgets--skeleton" data-type="box"></div>
    <div class="widgets--skeleton" data-type="box"></div>
  </div>
  <?xml version="1.0" encoding="utf-8"?>
  <svg viewBox="37.025 153.235 402.573 160.322" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="gradient-1">
        <stop offset="0" style="stop-color: rgb(227, 227, 232);"/>
        <stop offset="0.5" style="stop-color: rgb(246, 247, 250);"/>
        <stop offset="1" style="stop-color: rgb(227, 227, 232);"/>
      </linearGradient>
    </defs>
    <path style="stroke: rgb(0, 0, 0); fill: url('#gradient-1'); stroke-opacity: 0; stroke-width: 0px; transform-origin: 238.312px 233.396px;" d="M 37.025 311.148 L 99.78 225.613 L 144.488 257.122 L 184.778 232.788 L 201.684 252.541 C 201.684 252.541 300.146 153.31 300.146 153.235 C 300.146 153.161 349.963 282.608 350.058 282.608 C 350.153 282.608 387.835 264.179 387.835 264.179 L 415.245 296.637 L 439.598 313.557 L 37.025 311.148 Z"/>
  </svg>
  <div class="widgets--skeleton-rectangles-container">
    <div class="widgets--skeleton" data-type="rectangle"></div>
    <div class="widgets--skeleton" data-type="rectangle"></div>
    <div class="widgets--skeleton" data-type="rectangle"></div>
  </div>
</div>