<% raise 'chart_id needs to be present' unless chart_id %>
<div class="widgets--line-toggler-buttons-container" data-is-vertical="true">
<% options.each do |option| %>
    <button data-action="click->widgets#toggleLine"
            data-selected-line="<%= option[:hex] %>"
            data-chart-id="<%= chart_id %>"
            class="widgets--line-toggler-button"
            data-selected="false"
    >
      <span style="background-color: <%= option[:hex] %>"></span>
      <%= option[:label] %>
    </button>
<% end %>
</div>