<div class="widgets--no-data-container">
  <%= image_tag image_url('no-stats-icon.png'), width: 24, height: 24 %>
  <h4 class="fw-medium m-0">No data available for the date range selected</h4>
  <p class="additional-text m-0">Please, try another period.</p>
</div>