<div class="widgets--canvas-container">
  <%= turbo_frame_tag 'outages-widget', src: outages_path(outage_type: params[:outage_type], network_id: params[:network_id], account_id: params[:account_id], isp_id: params[:isp_id], days: params[:days], start: params[:start], end: params[:end]), loading: 'lazy', data: { dashboard_realtime_filters_target: 'widget', action: 'turbo:before-fetch-response->dashboard-realtime-filters#onWidgetSubmitEnd' } do %>
    <%= render partial: "dashboard/components/widgets/line_chart_skeleton" %>
  <% end %>
</div>