<div class="widgets--canvas-container">
  <%= turbo_frame_tag 'upload-speeds-widget', src: upload_speeds_path(days: params[:days]), loading: 'lazy' do %>
    <%= render partial: "dashboard/components/widgets/line_chart_skeleton" %>
  <% end %>
</div>