<div style="display: flex; justify-content: space-between; align-items: center;">
  <div style="font-size: 15px; line-height: 22px; color: #110E4C"><%= title %></div>
  <div style="font-size: 15px; line-height: 22px; color: #110E4C"><%= value %></div>
</div>