<div style="display: flex; align-items: center; justify-content: center; position: relative; width: 60px; height: 60px;">
  <img src="<%= attachments["pod-online-rounded-icon.png"].url %>" alt="offline" style="width: 60px; height: 60px;"/>
  <img src="<%= attachments["green-check.png"].url %>" alt="offline" style="width: 16px; height: 16px; position: absolute; bottom: 0; right: 0;"/>
</div>