<div class="modal-dialog public--modal-dialog-setup">
    <div class="modal-content public--modal-content-setup">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 20px">Go to dashboard</h5>
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-muted svg-icon-2hx" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"/>
              <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="black"/>
              <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="black"/>
          </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <div class="modal-body public--modal-body public--modal-body-setup">
        <div id="public--pod-icon-container">
          <%= image_tag image_url('users-icon.png'), id: 'public--users-icon' %>
        </div>
        <p class="public--card-title">Sign in with a Radar account</p>
        <p class="public--card-subtitle">If you own this pod and are responsible for managing it, you can go to your dashboard using your Radar account.</p>
        
        <a href="/users/sign_in" class="btn public--custom-setup-button mx-auto">
          <span>Sign in to my account</span>
          <%= image_tag image_url('arrow-blue-right-icon.png'), id: 'public--button-arrow' %>
        </a>
      </div>
    </div>
  </div>