<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 20px">Finding your pod ID</h5>
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-muted svg-icon-2hx" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"/>
              <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="black"/>
              <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="black"/>
          </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <div class="modal-body public--modal-body">
        <%= image_tag image_url('pod-id-label-image.png'), id: 'public--pod-id-modal-image' %>
        <p class="public--card-title">Check the bottom of your pod</p>
        <p class="public--card-subtitle">Your pod ID is a 12-digit code of numbers and uppercase and lowercase letters. You can find it printed on a label on the bottom of your pod. Example: aBc123ask7Fx.</p>
        <a href="mailto:support@radartoolkit.com" class="public--regular-link">Still can't find it? Contact us.</a>
      </div>
      <div class="modal-footer d-flex flex-row justify-content-end">
        <!--begin::LaterButton-->
        <button type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                style="height: 48px;"
        >Close
        </button>
      </div>
    </div>
  </div>