<div class="modal-dialog public--modal-dialog-setup">
    <div class="modal-content public--modal-content-setup">
      <%= render partial: "application/components/modals/modal_header", locals: { title: "Set up new pod" }%>
      <div class="modal-body modals--body text-center">
          <div id="public--pod-icon-container">
            <%= image_tag image_url('users-icon.png'), id: 'public--users-icon' %>
          </div>
          <p class="modal-main-title mt-4 mb-2">Set up with a Radar account</p>
          <p class="additional-text wrap mb-8">You need a Radar account to set up this pod.</p>
          <div class="d-flex flex-column justify-content-start align-items-center">
            <a href="/users/sign_up" class="w-100 d-flex flex-row justify-content-between align-items-center custom-button custom-button--secondary custom-button--lg mb-4">
              <span class="regular-link">Create a new account</span>
              <%= image_tag image_url('arrow-blue-right-icon.png'), id: 'public--button-arrow' %>
            </a>
            <a href="/users/sign_in" class="w-100 d-flex flex-row justify-content-between align-items-center custom-button custom-button--secondary custom-button--lg">
              <span class="regular-link">Sign in to my account</span>
              <%= image_tag image_url('arrow-blue-right-icon.png'), id: 'public--button-arrow' %>
            </a>
          </div>
      </div>
    </div>
  </div>