<div id="public--pod-icon-container">
  <%= image_tag image_url('check-welcome-icon.png'), id: 'public--check-welcome-icon' %>
</div>

<p class="dialog-main-title mb-2 wrap">Welcome to Radar Pods</p>
<p class="additional-text wrap">Radar Pods is a platform to help monitor the quality of your internet connectivity. If you’ve come across a device that you're not familiar with, you can <a href="https://pods.radartoolkit.com" class="regular-link">learn more about it.</a></p>

<div class="public--horizontal-divider"></div>

<a href="/find_pod" class="custom-button custom-button--primary custom-button--sm mx-auto mt-0 mb-6 wrap">Check or set up a pod</a>

<p class="additional-text wrap">If you own a pod, you can check its status or set it up if it's new.</p>