<div class="category--markers-container">
  <% ["#4b7be5", "#f7aa5a", "#98cb87", "#f75a5a", "#9c65e5", "#f24084"].each do |hex| %>
    <div class="category--marker category--marker-hoverable <%= hex == category.color_hex ? "category--marker-selected" : nil%>"
          style="background-color: <%= hex %>"
          data-categories-hex-value="<%= hex %>"
          data-action="click->categories#pickColor"
          data-categories-target="colorBall"
    ></div>
  <% end %>
</div>