:root {
  --navbar-height: 65px;
  --footer-height: 240px;
  --side-padding: calc((100vw - var(--max-width)) / 2);
}

@media (max-width: 1250px) {
  :root {
    --side-padding: 40px;
  }
}

@media (max-width: 768px) {
  :root {
    --side-padding: 24px;
  }
}

.main {
  width: 100vw;
  min-height: calc(100dvh - var(--navbar-height) - var(--footer-height));
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  overflow-x: clip;
}

@media (max-width: 768px) {
  .main {
    padding-top: var(--responsive-navbar-height);
  }
}

.heroImage {
  --shadow-blur: 65px;
  --shadow-spread: 65px;
  width: calc(100vw + 2 * var(--shadow-blur));
  max-width: calc(var(--max-width) + 8 * var(--shadow-blur));
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
  -webkit-mask-image:
      linear-gradient(to top, transparent, var(--bg-color) 40%),
      linear-gradient(to left, transparent, var(--bg-color) 5%),
      linear-gradient(to right, transparent, var(--bg-color) 5%);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to top, transparent, var(--bg-color) 40%),
    linear-gradient(to left, transparent, var(--bg-color) 5%),
    linear-gradient(to right, transparent, var(--bg-color) 5%);
}

.heroImage[data-variant="homepage"] {
  background-position-y: 75%;
  height: 765px;
}

@media (max-width: 768px) {
  .heroImage[data-variant="homepage"] {
    --hero-image-aspect-ratio: 1600 / 765;
    height: 600px;
    width: auto;
    aspect-ratio: var(--hero-image-aspect-ratio);
    max-width: unset;
  }
}

.heroImage[data-variant="evaluation-results"] {
  height: 536px;
  aspect-ratio: 1600 / 536;
}