:root {
  --navbar-height: 65px;
  --footer-height: 240px;
  --parallax-aspect-ratio: 1.6;
}

.parallaxBackgroundImage {
  width: auto;
  height: 100dvh;
  height: 100vh;
  aspect-ratio: var(--parallax-aspect-ratio);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.parallaxBackgroundImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  scale: 1.5;
}

@media (max-width: 768px) {
  .parallaxBackgroundImage {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .parallaxBackgroundImage > img {
    scale: 1.25;
  }
}

.parallaxContainer {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
}