<%= turbo_frame_tag "edit_update_group_modal" do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render partial: "application/components/modals/modal_header", locals: {title: "Edit Update Group"} %>
      <%= render partial: 'edit_update_group', locals: {update_group: @update_group}, submit_name: "Update", data_target: nil %>
    </div>
  </div>
<% end %>