<%= turbo_frame_tag "create_update_group_modal" do %>
  <div class="modal-dialog">
    <div class="modal-content">
    <%= render partial: "application/components/modals/modal_header", locals: {title: "Create Update Group"} %>
    <%= render partial: 'create_update_group', locals: {update_group: @update_group}, submit_name: "Create", data_target: nil %>
    </div>
  </div>
<% end %>