services/ookla/ookla
services/ookla/ookla.exe
config.conf
dist/
*.crt
*.csr
*.key
*.pem
*.srl

# Whitelist for Debian package, since it creates a lot of files
debian/*
!debian/changelog
!debian/compat
!debian/control
!debian/radar-agent.service
!debian/rules