.container {
  position: sticky;
  top: 0;
  left: 50vw;
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: unset;
}

@media (max-width: 1080px) {
  .container {
    padding-right: 1rem;
    padding-top: 1rem;
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 768px) {
  .container {
    top: var(--responsive-navbar-height);
  }
}

.staticContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  backdrop-filter: blur(10px);
}

@media (max-width: 1080px) {
  .staticContainer {
    position: relative;
    width: 100vw;
    margin-right: -2rem;
    padding-right: 3rem;
    justify-content: flex-start;
    overflow-x: auto;
    padding-top: 0;
    backdrop-filter: unset;
  }
}

.tab {
  height: 2.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  box-sizing: border-box;
  padding: .5rem .75rem;
  border-radius: .5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  letter-spacing: 0.88px;
  font-size: .875rem;
  font-variation-settings: 'wght' 700;
  color: #C4C8DD;
  background-color: transparent;
  cursor: pointer;
  text-wrap: nowrap;
}

.tab[data-active="true"] {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.tab[data-active="true"] > svg > path:not([stroke]) {
  fill: white;
}

.tab:not([data-active="true"]) > svg > path:not([stroke]) {
  fill: #ACAFCD;
}

.divider {
  height: 1.75rem;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .divider {
    display: none;
  }
}

.tab:has(svg)>* {
  pointer-events: none;
}

[hidden],
[hidden]>* {
  display: none;
  opacity: 0;
}

[data-hide-off-scroll],
[data-hide-off-scroll]>* {
  transition: display 0.5s, opacity 0.5s;
  transition-behavior: allow-discrete;
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tab:not([data-hide-off-scroll="true"]) {
  transition: padding-left 400ms ease-in-out;
}