.sectionWithImage {
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
}

.sectionWithImage > img {
  position: -webkit-sticky;
  position: sticky;
  top: 12.5rem;
  right: 0;
  height: auto;
  animation: fade-in 200ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.incomingImage {
  display: none;
}

.incomingImage[data-visible="true"] {
  display: block;
  height: 469px;
  width: 366px;
  border-radius: .5rem;
  object-fit: cover;
}

.incomingImage[data-image-index="0"] {
  object-position: 10%;
}

.incomingImage[data-image-index="1"] {
  object-position: 10%;
}

.incomingImage[data-image-index="2"] {
  object-position: 60%;
}

.incomingImage[data-image-index="3"] {
  object-position: 30%;
}

@media (max-width: 768px) {
  .sectionWithImage {
    flex-direction: column;
    align-items: center;
    animation: none;
  }

  .incomingImage[data-visible="true"] {
    display: none;
  }
  
}