---
import styles from './floating_tabs.module.css';
const { id, label, isActive } = Astro.props;
---

<a data-active={(isActive === "true").toString()} class={styles.tab} href={`#${id}`}>
  <slot/>
  {label}
</a>