[Unit]
Description = Mlab Processor
After = network-online.target
Wants = network-online.target

[Service]
User=root
ExecStart = /usr/local/bin/mlab-processor
Restart = on-failure
RestartSec = 10s
Environment=IPV4_DB_PATH=/var/mlab-processor/input/GeoLite2-City-Blocks-IPv4.csv
Environment=IPV6_DB_PATH=/var/mlab-processor/input/GeoLite2-City-Blocks-IPv6.csv
Environment=ASN_IPV4_DB_PATH=/var/mlab-processor/input/GeoLite2-ASN-Blocks-IPv4.csv
Environment=ASN_IPV6_DB_PATH=/var/mlab-processor/input/GeoLite2-ASN-Blocks-IPv6.csv
Environment=ASN2ORG_DB_PATH=/var/mlab-processor/input/20220401.as-org2info.jsonl
Environment=SHAPE_PATHS=US_STATES:/var/mlab-processor/input/tl_2021_us_state.zip;US_COUNTIES:/var/mlab-processor/input/tl_2021_us_county.zip;US_TRIBAL_TRACTS:/var/mlab-processor/input/tl_2021_us_ttract.zip;ZIP_CODES:/var/mlab-processor/input/tl_2021_us_zcta520.zip
Environment=TRACTS_SHAPE_DIR=/var/mlab-processor/input/tracts

[Install]
WantedBy = multi-user.target
