.paddedSection {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1250px) {
  .paddedSection {
    max-width: calc(100vw - 80px);

  }
}

@media (max-width: 768px) {
  .paddedSection {
    max-width: calc(100vw - 48px);
  }
}