:root {
  --max-width: 1250px;
  --text-color: #ACAFCD;
  --heading-color: #FFFFFF;
  --bg-color: #0F0E25;
  --text-200: #DBDEEA;
  --text-300: #C4C8DD;
  --text-400: #ACAFCD;
}

@media (max-width: 1250px) {
  :root {
    --max-width: 100%;
  }
}

@font-face {
  font-family: 'Mulish';
  src: url("/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  font-size: 16px;
  color: white;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

html {
  color-scheme: dark;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  position: relative;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}