<div class="modal-body" style="min-width: 500px; width: max-content; display: none" data-add-account-target="stepError">
  <div class="d-flex flex-column align-items-center justify-content-center" style="width: 75%; margin: auto; text-align: center">
    <span class="svg-icon svg-icon-5x svg-icon-primary" style="margin-bottom: 30px">
      <svg width="70" height="70" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
        <g fill="#F1416C" fill-rule="nonzero">
          <rect opacity=".3" width="70" height="70" rx="35"/>
          <path d="M31.5 41V18.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1V41a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zM31.5 51.5v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1z"/>
        </g>
      </svg>
    </span>
    <div class="fw-bolder" style="font-size: 20px; color: #181c32; margin-bottom: 15px;">There was an error creating the account. Please try again later.</div>
  </div>
</div>