<div class="modal-body modals--body" style="display: none" data-add-account-target="step1">
  <div class="d-flex flex-column align-items-center justify-content-center w-100 min-w-300px">
    <!--begin::Input group-->
    <div class="d-flex flex-column mb-7 text-start w-100">
      <label class="forms--label required" data-add-account-target="accountNameLabel">Name</label>
      <input type="text"
             id="account_name"
             name="account_name"
             autocomplete="off"
             class="forms--text-input"
             data-action="input->add-account#handleAccountNameChange"
             data-add-account-target="accountNameInput"
        />
    </div>
    <!--end::Input group-->
  </div>
</div>
<div class="modal-footer modals--footer"
  data-add-account-target="step1Footer"
  style="display: none"
>
  <!--begin::LaterButton-->
  <button type="button"
          class="custom-button custom-button--secondary custom-button--sm me-4"
          data-action="click->add-account#goToTypeStep"
  >Back</button>
  <!--end::LaterButton-->
  <!--begin::ContinueButton-->
  <button type="button"
          class="custom-button custom-button--sm custom-button--primary custom-button--disable disabled"
          data-action="click->add-account#submitNewAccount"
          data-add-account-target="finishButton"
  >Finish</button>
  <button type="button"
          class="btn btn-primary disabled"
          style="height: 48px; display: none;"
          data-add-account-target="finishButtonLoading"
  >
    <div class="spinner-border text-light m-auto" role="status"></div>
  </button>
  <!--end::ContinueButton-->
</div>