<div class="modal-dialog" style="width: max-content; max-width: none;">
  <div class="modal-content" style="width: max-content">
    <%= render partial: "application/components/modals/modal_header", locals: {title: "Add account"} %>
    <%= render partial: "accounts/add_account_wizard/add_account_step_0" %>
    <%= render partial: "accounts/add_account_wizard/add_account_step_1" %>
    <%= render partial: "accounts/add_account_wizard/add_account_error" %>
  </div>
</div>