<div class="modal-body modals--body" style="display: none; width: max-content;" data-add-pod-target="stepAlreadyClaimed">
  <div class="d-flex flex-column align-items-center justify-content-center" style="margin: 0 40px">
    <span class="svg-icon svg-icon-5x svg-icon-primary mb-5">
      <svg width="70" height="70" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
        <g fill="#F1416C" fill-rule="nonzero">
          <rect opacity=".3" width="70" height="70" rx="35"/>
          <path d="M31.5 41V18.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1V41a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zM31.5 51.5v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1z"/>
        </g>
      </svg>
    </span>
    <div class="modals--main-title mb-2">This Pod has already been claimed.</div>
    <div class="additional-text">Contact support to understand why this might have happened.</div>
  </div>
</div>

<div class="modal-footer modals--footer" style="display: none;" data-add-pod-target="stepAlreadyClaimedFooter">
  <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
  <button type="button" class="custom-button custom-button--primary custom-button--sm" data-action="click->add-pod#restart">Try Again</button>
</div>