:root {
  --layers-panel-width: 375px;
}

.classificationAndLayersPanel {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  z-index: 1000;
  border-radius: .5rem;
  margin: 1.5rem;
  display: flex;
  gap: .5rem;
  max-height: 40px;

}

@media (max-width: 700px) {
  .classificationAndLayersPanel {
    transition: right 0.5s ease-in-out;
  }

  .classificationAndLayersPanel[data-open='true'] {
    right: calc(var(--layers-panel-width));
  }

  .classificationAndLayersPanel[data-open='false'] {
    right: 0;
  }
}

@media (max-width: 550px) {
  
  .classificationAndLayersPanel[data-open='true'] {
    right: 0;
  }
}


.classificationContainer {
  display: flex;
  padding: .25rem .75rem;
  border-radius: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

@media (max-width: 700px) {
  .classificationContainer {
    display: none;
  }
}

.layersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  border-radius: .5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
  .layersContainer {
    max-width: fit-content;
  }
}

.layersIconContainer {
  display: flex;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.layersIconContainer:hover {
  background-color: #F6F7FA;
}