.container {
    position: absolute;
    top: 10px;
    right: 50%;
    z-index: 100000;
    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2px;
}

.tabContainer {
    width: 140px;
    padding: 8px 24px 9px 24px;
    border-radius: 18px;
    font-size: 15px;
    font-variation-settings: 'wght' 700;
    font-family: 'MulishBold', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    transition: color 0.3s ease-in-out;

}

.tabContainer[data-selected="true"] {
    /* background-color: rgb(17, 14, 76); */
    color: white;
}

.tabContainer[data-selected="false"] {
    /* background-color: transparent; */
    color: rgb(17, 14, 76);
}

.pill {
    position: absolute;
    width: calc(50% - 2px);
    height: 36px;
    border-radius: 18px;
    font-size: 15px;
    font-variation-settings: 'wght' 700;
    cursor: pointer;
    z-index: -1;
    background-color: rgb(17, 14, 76);;
    transition: right 0.3s ease-in-out;
}

.pill[data-selected="all-results"] {
    right: calc(50% - 2px);
}

.pill[data-selected="your-results"] {
    right: 2px;
}