<div class="custom-alert" data-controller="alert">
  <h4 class="card-main-title mb-0 me-4"><%= notice %></h4>
  <button type="button"
    class="custom-button transparent hoverable position-relative"
    data-action="click->alert#closeAlert"
  >
    <%= image_tag image_url('close-alert-icon.png'), width: 16, height: 16, class: 'alerts--close-icon' %>
  </button>
</div>