<div class="alert alert-dismissible alert-primary d-flex flex-row align-items-center p-5" style="position: absolute; bottom: 75px; left: 140px; z-index: 5">
  <span class="svg-icon svg-icon-primary svg-icon-2hx me-3">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
      <rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
      <rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="currentColor"/>
    </svg>
  </span>
  <h4 class="text-primary mb-0"><%= notice %></h4>
  <button type="button" class="btn btn-icon ms-10" data-bs-dismiss="alert">
          <span class="svg-icon svg-icon-gray-400 svg-icon-2hx">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"/>
              <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="currentColor"/>
              <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="currentColor"/>
            </svg>
          </span>
  </button>
</div>