<div class="clients--options-card-container">
  <div class="clients--options-card-list">
    <% if style == 'clients' %>
      <%= render partial: "client_options_card", locals: {client: client} %>
    <% else %>
      <%= render partial: "location_options_card", locals: {location: location} %>
    <% end %>
  </div>
</div>