<div class="category--search-container" data-controller="categories" data-categories-target="searchInput">
  <%= image_tag image_url("search.png"), class: "category--search-icon" %>
  <%= form_with(url: url, method: :get, id: "search-form", data: { controller: "search", "turbo_frame" => turbo_frame }) do |form| %>
    <%= form.text_field :query, placeholder: "Filter categories...", class: "category--search-input", "data-action" => "input->search#search focus->categories#focusInput blur->categories#blurInput" %>
  <% end %>
  <%= image_tag image_url("cancel.png"), id: "category--clear-icon-ref", class: "category--search-clear-icon invisible", data: { controller: "search", action: "click->search#clearSearch" } %>
</div>