.card {
  width: 396px;
  height: 252px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 175%;
  background-position: 30% 45%;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .card {
    width: 276px;
    height: 176px;
    background-size: 200%;
    scroll-padding-inline-start: 2rem;
  }
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(5, 4, 26, 0.55) 0%,
    rgba(26, 24, 49, 0.89) 100%
  );
  border-radius: 8px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.title {
  width: 100%;
  max-width: 255px;
  font-size: 1.75rem;
  font-variation-settings: 'wght' 700;
  letter-spacing: -0.56px;
  color: white;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.375rem;
    letter-spacing: -0.44px;
    max-width: unset;
  }
}

.buttonContainer {
  margin-top: 1.5rem;
}