---
import styles from './opportunities_grid.module.css';
import BulletPoint from "../opportunities/BulletPoint.astro";
---

<div class={styles.grid}>
  <BulletPoint title="Simple Fixes Create Big Changes"
    content="Replace outdated hardware, like old modems and routers, to dramatically improve internet speeds and reliability without needing major infrastructure upgrades.">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="21">
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.2832 10.3333)" d="M28 0L0 0L0 7.4666667C0 8.4975986 0.83573514 9.333333 1.8666667 9.333333L26.133333 9.333333C27.164265 9.333333 28 8.4975986 28 7.4666667L28 0Z" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.2832 1)" d="M21.466667 0L6.5333333 0L0 9.333333L28 9.333333L21.466667 0Z" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(5.01654 13.9701)" d="M0 1.0298851L3.7333333 1.0298851" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-miterlimit="10" transform="translate(17.7533 13.9701)" d="M1.2632184 1.4965518C1.0054855 1.4965518 0.7965517 1.2876179 0.7965517 1.0298851C0.7965517 0.77215219 1.0054855 0.56321841 1.2632184 0.56321841" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-miterlimit="10" transform="translate(18.22 13.9701)" d="M0.7965517 1.4965518C1.0542846 1.4965518 1.2632184 1.2876179 1.2632184 1.0298851C1.2632184 0.77215219 1.0542846 0.56321841 0.7965517 0.56321841" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-miterlimit="10" transform="translate(23.3533 13.9701)" d="M1.2632184 1.4965518C1.0054855 1.4965518 0.7965517 1.2876179 0.7965517 1.0298851C0.7965517 0.77215219 1.0054855 0.56321841 1.2632184 0.56321841" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-miterlimit="10" transform="translate(23.82 13.9701)" d="M0.7965517 1.4965518C1.0542846 1.4965518 1.2632184 1.2876179 1.2632184 1.0298851C1.2632184 0.77215219 1.0542846 0.56321841 0.7965517 0.56321841" fill-rule="evenodd"/>
    </svg>
  </BulletPoint>
  <BulletPoint title="Education and Awareness"
               content="Many people we spoke to didn't realize better internet options were available to them. We found that education is key—knowing what services exist and how to access them can make a big diﬀerence."
               iconScale="1.25"
  >
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24">
      <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
    </svg>
  </BulletPoint>
  <BulletPoint title="Empowering Communities"
               content="Empower local leaders by collecting more accurate and real-time data on internet coverage and quality. This data will help communities identify service gaps and advocate for tailored solutions that address their specific needs.">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="27">
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.00195 11.878)" d="M4.6153908 0L4.6153908 10.771372C4.6164551 11.183655 4.4116893 11.56918 4.069746 11.798684L4.069746 11.798684C3.0024979 12.510404 1.6128931 12.510404 0.54564494 11.798684L0.54564494 11.798684C0.20370194 11.56918 -0.0010640295 11.183655 0 10.771372L0 0" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.00196 10.3371)" d="M0 1.5409688C0 2.3920224 1.0331886 3.0819376 2.3076913 3.0819376C3.5821941 3.0819376 4.6153827 2.3920224 4.6153827 1.5409688C4.6153827 0.68991524 3.5821941 0 2.3076913 0C1.0331886 0 0 0.68991524 0 1.5409688" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.69426 7.25514)" d="M4.6153908 0L4.6153908 15.394278C4.6164551 15.806561 4.4116893 16.192087 4.069746 16.421591L4.069746 16.421591C3.0024979 17.13331 1.6128931 17.13331 0.54564494 16.421591L0.54564494 16.421591C0.20370194 16.192087 -0.0010640295 15.806561 0 15.394278L0 0" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.69426 5.71417)" d="M0 1.5409688C0 2.3920224 1.0331886 3.0819376 2.3076913 3.0819376C3.5821941 3.0819376 4.6153827 2.3920224 4.6153827 1.5409688C4.6153827 0.68991524 3.5821941 0 2.3076913 0C1.0331886 0 0 0.68991524 0 1.5409688" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.3866 2.63224)" d="M4.6153908 0L4.6153908 20.017185C4.6164551 20.429468 4.4116893 20.814993 4.069746 21.044497L4.069746 21.044497C3.0024979 21.756216 1.6128931 21.756216 0.54564494 21.044497L0.54564494 21.044497C0.20370194 20.814993 -0.0010640295 20.429468 0 20.017185L0 0" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.3866 1.09127)" d="M0 1.5409688C0 2.0915039 0.43984345 2.6002195 1.1538457 2.8754869C1.8678478 3.1507545 2.7475348 3.1507545 3.4615371 2.8754869C4.175539 2.6002195 4.6153827 2.0915039 4.6153827 1.5409688C4.6153827 0.99043369 4.175539 0.48171824 3.4615371 0.20645067C2.7475348 -0.068816893 1.8678478 -0.068816893 1.1538457 0.20645067C0.43984345 0.48171824 0 0.99043369 0 1.5409688" fill-rule="evenodd"/>
    </svg>
  </BulletPoint>
  <BulletPoint title="Communication with ISPs and IT"
               content="Teach community members how to eﬀectively communicate with their ISPs or IT teams to report problems, ensuring that their issues are understood and resolved. Frequently IT teams and ISPs can't fix the problem as they don't know there is one.">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30">
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(14.9288 1.01318)" d="M6.0662756 0C3.6857483 -0.011484114 1.5207071 1.3770212 0.53822172 3.5453768C-0.44426373 5.7137322 -0.060718067 8.2570066 1.5175384 10.039182L0.75845271 14.406525L4.7133241 11.967514C6.9845552 12.490937 9.3547268 11.665639 10.809668 9.8447571C12.264607 8.0238752 12.546546 5.530015 11.534842 3.4302723C10.523139 1.3305297 8.3970385 -0.0030835208 6.0662756 0Z" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.09757 11.4117)" d="M0 3.8994129C0 6.052999 1.7458266 7.7988257 3.8994129 7.7988257C6.052999 7.7988257 7.7988257 6.052999 7.7988257 3.8994129C7.7988257 1.7458266 6.052999 0 3.8994129 0C1.7458266 0 0 1.7458266 0 3.8994129" fill-rule="evenodd"/>
      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.0647 20.9468)" d="M13.864579 6.0625257C13.397775 2.5909772 10.435081 0 6.9322896 0C3.429497 0 0.46680388 2.5909772 0 6.0625257" fill-rule="evenodd"/>
    </svg>
  </BulletPoint>
  <div class={styles.divider} data-direction="vertical"></div>
  <div class={styles.divider} data-direction="horizontal"></div>
</div>